<ul class="nav navbar-top-links navbar-right">
    {{ render(controller('BackendBundle:Alert:getNotificationUncheckedAlerts')) }}

    {#
    <li class="dropdown">
        <a class="dropdown-toggle count-info" data-toggle="dropdown" href="index.html#">
            <i class="fa fa-envelope"></i> <span class="label label-warning">16</span>
        </a>
        <ul class="dropdown-menu dropdown-alerts">
            <li>
                <a href="mailbox.html">
                    <div>
                        <i class="fa fa-envelope fa-fw"></i> You have 16 messages
                        <span class="pull-right text-muted small">4 minutes ago</span>
                    </div>
                </a>
            </li>
            <li class="divider"></li>
            <li>
                <a href="profile.html">
                    <div>
                        <i class="fa fa-twitter fa-fw"></i> 3 New Followers
                        <span class="pull-right text-muted small">12 minutes ago</span>
                    </div>
                </a>
            </li>
            <li class="divider"></li>
            <li>
                <a href="grid_options.html">
                    <div>
                        <i class="fa fa-upload fa-fw"></i> Server Rebooted
                        <span class="pull-right text-muted small">4 minutes ago</span>
                    </div>
                </a>
            </li>
            <li class="divider"></li>
            <li>
                <div class="text-center link-block">
                    <a href="notifications.html">
                        <strong>See All Alerts</strong>
                        <i class="fa fa-angle-right"></i>
                    </a>
                </div>
            </li>
        </ul>
    </li>
#}

    <li>
        <a href="{{ path('fos_user_security_logout') }}">
            <i class="fa fa-sign-out"></i> {{ 'Logout' | trans({}, 'generalbackend') }}
        </a>
    </li>
    <li>
        {% if app.request.get('_locale') == 'en' %}
            <a href="{{ path(app.request.get('_route'), app.request.get('_route_params')|merge({'_locale' : 'es'})) }}">
                <span class="flag-icon flag-icon-es"></span>
            </a>
        {% elseif app.request.get('_locale') == 'es' %}
            <a href="{{ path(app.request.get('_route'), app.request.get('_route_params')|merge({'_locale' : 'en'})) }}">
                <span class="flag-icon flag-icon-us"></span>
            </a>
        {% endif %}
        {#<a class="right-sidebar-toggle">#}
        {#<i class="fa fa-tasks"></i>#}
        {#</a>#}
    </li>
</ul>
