<li class="nav-header">
    <div class="dropdown profile-element">
        <span>
            <img alt="image" class="img-avatar-small img-circle"
                 src="
                 {% if((app.user.image) is not null) %}
                    {{ asset('images/users/' ~ app.user.image) }}
                 {% else %}
                    {{ asset('bundles/backend/images/avatar.jpg') }}
                 {% endif %}
                 "/>
        </span>
        <a data-toggle="dropdown" class="dropdown-toggle" href="#">
            <span class="clear">
                <span class="block m-t-xs">
                    <strong id="logged-in-user" class="font-bold">
                        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                            {{ app.user.username }}
                        {% endif %}
                    </strong>
                    <b class="caret"></b>
                </span>
            </span>
        </a>

        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
            <ul class="dropdown-menu animated fadeInRight m-t-xs">
                <li><a href="{{ path('fos_user_profile_show') }}"><i class="fa fa-fw fa-clipboard"></i> {{ 'Profile' | trans({}, 'generalbackend') }}</a></li>
                <li><a href="{{ path('fos_user_change_password') }}"><i class="fa fa-fw fa-key"></i> {{ 'Change password' | trans({}, 'generalbackend') }}</a></li>
                <li class="divider"></li>
                <li><a href="{{ path('fos_user_security_logout') }}" onclick="FB.logout(function(response) {});"><i class="fa fa-fw fa-sign-out"></i> {{ 'Logout' | trans({}, 'generalbackend') }}</a></li>
            </ul>
        {% endif %}
    </div>
    <div class="logo-element">
        <img src="{{ asset('bundles/backend/images/logo.png') }}" class="img-responsive center-block" />
    </div>
</li>
