{% extends 'knp_menu.html.twig' %}

{% import "knp_menu.html.twig" as macros %}

{% block list %}
    {% if item.hasChildren and options.depth is not same as(0) and item.displayChildren %}
        {% import _self as knp_menu %}
        <ul class="{% if item.level == 0 %}nav metismenu{% else %}nav nav-second-level collapse{% endif %}" {% if item.level == 0 %}
            id="side-menu"{% endif %}>

            {% if item.level == 0 %}
                {#  Including basic profile info and avatar #}
                {% include '@Backend/Layout/profile.html.twig' %}
            {% endif %}

            <!-- DOC: To remove the search box from the sidebar you just need to completely remove the below "sidebar-search-wrapper" LI element -->
            {{ block('children') }}
        </ul>
    {% endif %}
{% endblock %}

{% block linkElement %}{% import _self as knp_menu %}
    {% if(item.attribute('data-admin') == 'true') %}
        {% if is_granted('ROLE_ADMIN') %}
            <a href="{{ item.uri }}"{{ macros.attributes(item.linkAttributes) }}>
                <i class="{{ item.attribute('icon') }}"></i>
                {{ block('label') }}
                {% if item.hasChildren %}
                    <span class="fa arrow"></span>
                {% endif %}
            </a>
        {% endif %}
    {% else %}
        <a href="{{ item.uri }}"{{ macros.attributes(item.linkAttributes) }}>
            <i class="{{ item.attribute('icon') }}"></i>
            {% if item.level <= 1 %}
                <span class="nav-label">{{ block('label') }}</span>
            {% else %}
                {{ block('label') }}
            {% endif %}
            {% if item.hasChildren %}
                <span class="fa arrow"></span>
            {% endif %}
        </a>
    {% endif %}
{% endblock %}

{% block children %}
    {# save current variables #}
    {% set currentOptions = options %}
    {% set currentItem = item %}
    {# update the depth for children #}
    {% if options.depth is not none %}
        {% set options = options|merge({'depth': currentOptions.depth - 1}) %}
    {% endif %}
    {# update the matchingDepth for children #}
    {% if options.matchingDepth is not none and options.matchingDepth > 0 %}
        {% set options = options|merge({'matchingDepth': currentOptions.matchingDepth - 1}) %}
    {% endif %}
    {% for item in currentItem.children %}
        {{ block('item') }}
    {% endfor %}
    {# restore current variables #}
    {% set item = currentItem %}
    {% set options = currentOptions %}
{% endblock %}

{% block label %}
    {%- set translation_domain = item.extra('translation_domain', 'generalbackend') -%}
    {%- set label = item.label -%}
    {%- set label = label|trans(item.extra('translation_params', {}), translation_domain) -%}
    {%- if options.allow_safe_labels and item.extra('safe_label', false) %}{{ label|raw }}{% else %}{{ label }}{% endif -%}
{% endblock %}