{% extends 'BackendBundle::layout.html.twig' %}

{% block custom_css %}
    {{ parent() }}

    <!-- clockpicker3 Styles -->
    <link rel="stylesheet"
          href="{{ asset('bundles/backend/css/plugins/clockpicker/clockpicker.css') }}"
          type="text/css"/>

    <!-- iCheck Styles -->
    <link rel="stylesheet" href="{{ asset('bundles/backend/css/plugins/iCheck/custom.css') }}"
          type="text/css"/>

    <!-- datepicker3 Styles -->
    <link rel="stylesheet"
          href="{{ asset('bundles/backend/css/plugins/datapicker/datepicker3.css') }}"
          type="text/css"/>

    <!-- select2 Styles -->
    <link rel="stylesheet" href="{{ asset('bundles/backend/css/plugins/select2/select2.min.css') }}"
          type="text/css"/>

    <link rel="stylesheet" href="{{ asset('bundles/backend/css/bootstrap-tokenfield.min.css') }}"
          type="text/css"/>

    <link rel="stylesheet" href="{{ asset('bundles/backend/css/map/ol.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/backend/css/map/ol3-popup.css') }}">

{% endblock %}

        {% block active_business %}active{% endblock %}

        {% block page_heading_title %}
            <a class="btn btn-default navbar-btn" href="{{ path('business') }}"
               style="margin-bottom: 7px;">
                <span class="glyphicon glyphicon-chevron-up"></span>
            </a>
            {{ 'Business creation' | trans({}, 'businessbackend') }}
        {% endblock %}

        {% block page_content %}

            {{ form_start(form, {'attr': {'class':'form-horizontal'}}) }}

            <div class="form-group{% if(form.name.vars['errors']|length > 0) %} {{ ' has-error' }} {% endif %}">
                <label for="" class="col-md-2 control-label">{{ form_label(form.name) }}</label>

                <div class="col-md-6">
                    {{ form_widget(form.name, { 'attr': {'class' : 'form-control'}}) }}
                    {% if form.name.vars['errors']|length > 0 %}
                        <ul class="message">
                            {% for error in form.name.vars['errors'] %}
                                <li>{{ error.message }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </div>
            </div>
            <div class="hr-line-dashed"></div>

            <div class="form-group{% if(form.description.vars['errors']|length > 0) %} {{ ' has-error' }} {% endif %}">
                <label for="" class="col-md-2 control-label">{{ form_label(form.description) }}</label>

                <div class="col-md-6">
                    {{ form_widget(form.description, { 'attr': {'class' : 'form-control'}}) }}
                    {% if form.description.vars['errors']|length > 0 %}
                        <ul class="message">
                            {% for error in form.description.vars['errors'] %}
                                <li>{{ error.message }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </div>
            </div>
            <div class="hr-line-dashed"></div>

            <div class="form-group{% if(form.email.vars['errors']|length > 0) %} {{ ' has-error' }} {% endif %}">
                <label for="" class="col-md-2 control-label">{{ form_label(form.email) }}</label>

                <div class="col-md-6">
                    {{ form_widget(form.email, { 'attr': {'class' : 'form-control'}}) }}
                    {% if form.email.vars['errors']|length > 0 %}
                        <ul class="message">
                            {% for error in form.email.vars['errors'] %}
                                <li>{{ error.message }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </div>
            </div>
            <div class="hr-line-dashed"></div>

            <div class="form-group{% if(form.notifyEmails.vars['errors']|length > 0) %} {{ ' has-error' }} {% endif %}">
                <label for=""
                       class="col-md-2 control-label">{{ form_label(form.notifyEmails) }}</label>

                <div class="col-md-6">
                    {{ form_widget(form.notifyEmails, { 'attr': {'class' : 'form-control tags-field', 'style' : 'width: 100%'}}) }}
                    {% if form.notifyEmails.vars['errors']|length > 0 %}
                        <ul class="message">
                            {% for error in form.notifyEmails.vars['errors'] %}
                                <li>{{ error.message }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </div>
            </div>
            <div class="hr-line-dashed"></div>

            <div class="form-group{% if(form.phone.vars['errors']|length > 0) %} {{ ' has-error' }} {% endif %}">
                <label for="" class="col-md-2 control-label">{{ form_label(form.phone) }}</label>

                <div class="col-md-6">
                    {{ form_widget(form.phone, { 'attr': {'class' : 'form-control'}}) }}
                    {% if form.phone.vars['errors']|length > 0 %}
                        <ul class="message">
                            {% for error in form.phone.vars['errors'] %}
                                <li>{{ error.message }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </div>
            </div>
            <div class="hr-line-dashed"></div>

            <div class="form-group
            {% if(form.hoursBegin.vars['errors']|length > 0) %} {{ ' has-error' }} {% endif %}
            {% if(form.hoursEnd.vars['errors']|length > 0) %} {{ ' has-error' }} {% endif %}
            ">
                <label for="" class="col-md-2 control-label">{{ form_label(form.hoursBegin) }}</label>

                <div class="col-md-6">
                    <div class="col-md-6 clockpicker" data-autoclose="true">
                        {{ form_widget(form.hoursBegin, { 'attr': {'class' : 'form-control', 'placeholder' : 'from'}}) }}
                    </div>
                    <div class="col-md-6 clockpicker" data-autoclose="true">
                        {{ form_widget(form.hoursEnd, { 'attr': {'class' : 'form-control', 'placeholder' : 'to'}}) }}
                    </div>

                    {% if form.hoursBegin.vars['errors']|length > 0 %}
                        <ul class="message">
                            {% for error in form.hoursBegin.vars['errors'] %}
                                <li>{{ error.message }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                    {% if form.hoursEnd.vars['errors']|length > 0 %}
                        <ul class="message">
                            {% for error in form.hoursEnd.vars['errors'] %}
                                <li>{{ error.message }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </div>
            </div>
            <div class="hr-line-dashed"></div>

            <div class="form-group{% if(form.socialMedia.vars['errors']|length > 0) %} {{ ' has-error' }} {% endif %}">
                <label for="" class="col-md-2 control-label">{{ form_label(form.socialMedia) }}</label>

                <div class="col-md-6">
                    {{ form_widget(form.socialMedia, { 'attr': {'class' : 'form-control'}}) }}
                    {% if form.socialMedia.vars['errors']|length > 0 %}
                        <ul class="message">
                            {% for error in form.socialMedia.vars['errors'] %}
                                <li>{{ error.message }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </div>
            </div>
            <div class="hr-line-dashed"></div>

            <div class="form-group{% if(form.instagram.vars['errors']|length > 0) %} {{ ' has-error' }} {% endif %}">
                <label for="" class="col-md-2 control-label">{{ form_label(form.instagram) }}</label>

                <div class="col-md-6">
                    {{ form_widget(form.instagram, { 'attr': {'class' : 'form-control'}}) }}
                    {% if form.instagram.vars['errors']|length > 0 %}
                        <ul class="message">
                            {% for error in form.instagram.vars['errors'] %}
                                <li>{{ error.message }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </div>
            </div>
            <div class="hr-line-dashed"></div>

            <div class="form-group{% if(form.twitter.vars['errors']|length > 0) %} {{ ' has-error' }} {% endif %}">
                <label for="" class="col-md-2 control-label">{{ form_label(form.twitter) }}</label>

                <div class="col-md-6">
                    {{ form_widget(form.twitter, { 'attr': {'class' : 'form-control'}}) }}
                    {% if form.twitter.vars['errors']|length > 0 %}
                        <ul class="message">
                            {% for error in form.twitter.vars['errors'] %}
                                <li>{{ error.message }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </div>
            </div>
            <div class="hr-line-dashed"></div>

            <div class="form-group{% if(form.pinterest.vars['errors']|length > 0) %} {{ ' has-error' }} {% endif %}">
                <label for="" class="col-md-2 control-label">{{ form_label(form.pinterest) }}</label>

                <div class="col-md-6">
                    {{ form_widget(form.pinterest, { 'attr': {'class' : 'form-control'}}) }}
                    {% if form.pinterest.vars['errors']|length > 0 %}
                        <ul class="message">
                            {% for error in form.pinterest.vars['errors'] %}
                                <li>{{ error.message }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </div>
            </div>
            <div class="hr-line-dashed"></div>

            <div class="form-group{% if(form.snapchat.vars['errors']|length > 0) %} {{ ' has-error' }} {% endif %}">
                <label for="" class="col-md-2 control-label">{{ form_label(form.snapchat) }}</label>

                <div class="col-md-6">
                    {{ form_widget(form.snapchat, { 'attr': {'class' : 'form-control'}}) }}
                    {% if form.snapchat.vars['errors']|length > 0 %}
                        <ul class="message">
                            {% for error in form.snapchat.vars['errors'] %}
                                <li>{{ error.message }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </div>
            </div>
            <div class="hr-line-dashed"></div>

            <div class="form-group{% if(form.website.vars['errors']|length > 0) %} {{ ' has-error' }} {% endif %}">
                <label for="" class="col-md-2 control-label">{{ form_label(form.website) }}</label>

                <div class="col-md-6">
                    {{ form_widget(form.website, { 'attr': {'class' : 'form-control'}}) }}
                    {% if form.website.vars['errors']|length > 0 %}
                        <ul class="message">
                            {% for error in form.website.vars['errors'] %}
                                <li>{{ error.message }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </div>
            </div>
            <div class="hr-line-dashed"></div>

            <div class="form-group{% if(form.isPublic.vars['errors']|length > 0) %} {{ ' has-error' }} {% endif %}">
                <label for="isPublic" class="col-md-2 control-label">{{ form_label(form.isPublic) }}</label>

                <div class="col-md-1">
                    <div class="checkbox-inline">
                        {{ form_widget(form.isPublic, { 'attr': {'class' : 'form-control i-checks' }}) }}
                        {% if form.isPublic.vars['errors']|length > 0 %}
                            <ul class="message">
                                {% for error in form.isPublic.vars['errors'] %}
                                    <li>{{ error.message }}</li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                    </div>
                </div>
                <span class="text-muted">
                    <i class="fa fa-info-circle"></i>
                    {{ 'Show this business on the Directory' | trans({}, 'businessbackend') }}
                </span>
            </div>
            <div class="hr-line-dashed"></div>

            <div class="form-group{% if(form.mallMapDirections.vars['errors']|length > 0) %} {{ ' has-error' }} {% endif %}">
                <label for="" class="col-md-2 control-label">{{ form_label(form.mallMapDirections) }}</label>

                <div class="col-md-6">
                    {{ form_widget(form.mallMapDirections, { 'attr': {'class' : 'form-control'}}) }}
                    {% if form.mallMapDirections.vars['errors']|length > 0 %}
                        <ul class="message">
                            {% for error in form.mallMapDirections.vars['errors'] %}
                                <li>{{ error.message }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </div>
            </div>
            <div class="hr-line-dashed"></div>

            <div class="form-group{% if(form.mallMapX.vars['errors']|length > 0) %} {{ ' has-error' }} {% endif %}">
                <label for="" class="col-md-2 control-label">
                    {{ 'Location on the Map' | trans({}, 'businessbackend') }}
                    <a id="map-download" class="btn btn-default" download="map.png">
                        <i class="fa fa-download"></i> {{ 'Export Map' | trans({}, 'businessbackend') }}
                    </a>
                </label>

                <div class="col-md-6 map" id="map">
                    {{ form_widget(form.mallMapX) }}
                    {{ form_widget(form.mallMapY) }}
                </div>
            </div>
            <div class="hr-line-dashed"></div>

            <div class="form-group{% if(form.logoFile.vars['errors']|length > 0) %} {{ ' has-error' }} {% endif %}">
                <label for="" class="col-md-2 control-label required">{{ form_label(form.logoFile) }}</label>

                <div class="col-md-6">
                    {{ form_widget(form.logoFile, { 'attr': {'class' : 'form-control', 'required' : 'required'}}) }}
                    {% if form.logoFile.vars['errors']|length > 0 %}
                        <ul class="message">
                            {% for error in form.logoFile.vars['errors'] %}
                                <li>{{ error.message }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </div>
            </div>
            <div class="hr-line-dashed"></div>

            <div class="form-group{% if(form.androidApp.vars['errors']|length > 0) %} {{ ' has-error' }} {% endif %}">
                <label for=""
                       class="col-md-2 control-label">{{ form_label(form.androidApp) }}</label>

                <div class="col-md-6">
                    {{ form_widget(form.androidApp, { 'attr': {'class' : 'form-control'}}) }}
                    {% if form.androidApp.vars['errors']|length > 0 %}
                        <ul class="message">
                            {% for error in form.androidApp.vars['errors'] %}
                                <li>{{ error.message }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </div>
            </div>
            <div class="hr-line-dashed"></div>

            <div class="form-group{% if(form.iosApp.vars['errors']|length > 0) %} {{ ' has-error' }} {% endif %}">
                <label for=""
                       class="col-md-2 control-label">{{ form_label(form.iosApp) }}</label>

                <div class="col-md-6">
                    {{ form_widget(form.iosApp, { 'attr': {'class' : 'form-control'}}) }}
                    {% if form.iosApp.vars['errors']|length > 0 %}
                        <ul class="message">
                            {% for error in form.iosApp.vars['errors'] %}
                                <li>{{ error.message }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </div>
            </div>
            <div class="hr-line-dashed"></div>

            <div class="form-group{% if(form.categories.vars['errors']|length > 0) %} {{ ' has-error' }} {% endif %}">
                <label for=""
                       class="col-md-2 control-label">{{ form_label(form.categories) }}</label>

                <div class="col-md-6">
                    {{ form_widget(form.categories, { 'attr': {'class' : 'form-control select2-field', 'style' : 'width: 100%'}}) }}
                    {% if form.categories.vars['errors']|length > 0 %}
                        <ul class="message">
                            {% for error in form.categories.vars['errors'] %}
                                <li>{{ error.message }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </div>
            </div>
            <div class="hr-line-dashed"></div>

            <div class="form-group{% if(form.customers.vars['errors']|length > 0) %} {{ ' has-error' }} {% endif %}">
                <label for=""
                       class="col-md-2 control-label">{{ form_label(form.customers) }}</label>

                <div class="col-md-6">
                    {{ form_widget(form.customers, { 'attr': {'class' : 'form-control select2-field', 'style' : 'width: 100%'}}) }}
                    {% if form.customers.vars['errors']|length > 0 %}
                        <ul class="message">
                            {% for error in form.customers.vars['errors'] %}
                                <li>{{ error.message }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </div>
            </div>
            <div class="hr-line-dashed"></div>

            {#<div class="form-group">#}
            {#<label for=""#}
            {#class="col-md-2 control-label">Business Location</label>#}

            {#<div class="col-md-6">#}
            {#<canvas id="mallMapCanvas" width="500" height="317" style="border: 1px solid #000;"#}
            {#onclick="mapPosition(event, this);">#}
            {#your browser doesn't support canvas!#}
            {#</canvas>#}
            {#</div>#}
            {#</div>#}
            {#<div class="hr-line-dashed"></div>#}

            <div class="form-group">
                <div class="col-md-2 text-right">
                    <a class="btn btn-success" href="{{ path('business') }}">
                        <span class="glyphicon glyphicon-chevron-left"></span>
                        {{ 'Back to the list' | trans({}, 'generalbackend') }}
                    </a>
                </div>
                <div class="col-md-10">


                    {{ form_widget(form.submit, { 'attr': { 'class' : 'btn btn-primary btn-small', }}) }}
                    {{ form_widget(form.submitback, { 'attr': { 'class' : 'btn btn-primary btn-small', }}) }}


                </div>
                <div class="hidden">

                    {{ form(form) }}

                    <input type="hidden" name="map_blank" id="map_blank"
                           value="{{ asset('bundles/backend/images/map.png') }}"/>
                    <input type="hidden" name="map_pin" id="map_pin"
                           value="{{ asset('bundles/backend/images/pin.png') }}"/>
                </div>
            </div>

            {{ form_end(form) }}

        {% endblock %}

    {% block custom_js %}
        {{ parent() }}

        <!-- clockicker3 Scripts -->
        <script src="{{ asset('bundles/backend/js/plugins/clockpicker/clockpicker.js') }}"
                type="text/javascript"></script>

        <!-- datepicker3 Scripts -->
        <script src="{{ asset('bundles/backend/js/plugins/datapicker/bootstrap-datepicker.js') }}"
                type="text/javascript"></script>

        <!-- iCheck Scripts -->
        <script src="{{ asset('bundles/backend/js/plugins/iCheck/icheck.min.js') }}"
                type="text/javascript"></script>


        <!-- select2 Scripts -->
        <script src="{{ asset('bundles/backend/js/plugins/select2/select2.full.min.js') }}"
                type="text/javascript"></script>

        <script src="{{ asset('bundles/backend/js/bootstrap-tokenfield.min.js') }}"
                type="text/javascript"></script>

        <script src="{{ asset('bundles/backend/js/ol.js') }}"></script>
        <script src="{{ asset('bundles/backend/js/ol3-popup.js') }}"></script>
        <script src="{{ asset('bundles/frontend/js/tween.js') }}"></script>
        <script src="{{ asset('bundles/backend/js/map.js') }}"></script>
    {% endblock %}

    {% block inline_js %}
        <script type="text/javascript">

            $(document).ready(function () {

                //  iCheck scripts for checkboxes and radios
                $('.i-checks').iCheck({
                    checkboxClass: 'icheckbox_square-green',
                    radioClass: 'iradio_square-green',
                });

                //  clockpicker script for input time
                $("form .clockpicker").clockpicker();

                //  datepicker3 script for input datetime and date
                $("form input.datepicker").datepicker({
                    todayBtn: "linked",
                    keyboardNavigation: false,
                    forceParse: false,
                    autoclose: true,
                    format: "yyyy-mm-dd"
                });

                //  select2 scripts for batch actions combobox
                $(".select2-field").select2({
                    placeholder: "--- {{ 'Select a value' | trans({}, 'generalbackend') }} ---"
                });

                setTimeout(function () {
                    placeMarker();
                }, 10);

                $('.tags-field')
                        .on('tokenfield:createtoken', function (e) {
                            var data = e.attrs.value.split('|')
                            e.attrs.value = data[1] || data[0]
                            e.attrs.label = data[1] ? data[0] + ' (' + data[1] + ')' : data[0]

                            var re = /\S+@\S+\.\S+/
                            var valid = re.test(e.attrs.value)
                            if (!valid) {
                                toastr.error('"' + e.attrs.value + '" is not a valid email');
                                return false;
                            }
                        })

                        .on('tokenfield:createdtoken', function (e) {
                            // Über-simplistic e-mail validation
                            var re = /\S+@\S+\.\S+/
                            var valid = re.test(e.attrs.value)
                            if (!valid) {
                                $(e.relatedTarget).addClass('invalid');
                                toastr.error('"' + e.attrs.value + '" is not a valid email');
                                return false;
                            }
                        })

                        .on('tokenfield:edittoken', function (e) {
                            if (e.attrs.label !== e.attrs.value) {
                                var label = e.attrs.label.split(' (')
                                e.attrs.value = label[0] + '|' + e.attrs.value
                            }
                        })

                        // .on('tokenfield:removedtoken', function (e) {
                        //   alert('Token removed! Token value was: ' + e.attrs.value)
                        // })

                        .tokenfield()

                $('a#map-download').on('click', function (e) {
                    // download visible part of the map
                    var self = this;
//                    map.getView().fit(extent, map.getSize());

                    map.once('postcompose', function (event) {
                        var canvas = event.context.canvas;
                        self.href = canvas.toDataURL('image/png');
                    });

                    map.renderSync();
                });

            });

        </script>
    {% endblock %}
