<!DOCTYPE html>
<html lang="
        {%- if app.request.get('_locale') == 'en' -%}
        {{- 'en' -}}
        {%- elseif app.request.get('_locale') == 'es' -%}
        {{- 'es' -}}
        {%- endif -%}
        ">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16">
    <link rel="manifest" href="/manifest.json">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="theme-color" content="#ffffff">

    <title>Plaza Mariachi{% block title %} {{ 'Welcome' | trans({}, 'general') }}!{% endblock %}</title>

    {% block metatags %}
    {% endblock %}

    {% block stylesheets %}
    {% endblock %}

    {% block custom_css %}
    {% endblock %}

    {% block inline_css %}
    {% endblock %}

    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
</head>

<body {% block body_properties %}{% endblock %}>

{% block body %}

    {% block fos_user_content %}{% endblock %}

{% endblock %}

{% block javascripts %}
    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', {'callback': 'fos.Router.setData'}) }}"></script>
{% endblock %}

{% block custom_js %}
{% endblock %}

{% block inline_js %}
{% endblock %}

</body>
</html>
