{% extends '@Frontend/layout.html.twig' %}

{% block title %}{{ 'Plaza Mariachi News' | trans({}, 'news') }}{% endblock %}

{% block metatags %}
    <meta name="keywords"
          content="{{- render(controller('BackendBundle:Settings:getSettings', { 'property' : 'websiteBrand' })) -}},
    {{ 'Mall' | trans({}, 'homepage') }},
    {{ 'Businesses' | trans({}, 'homepage') }},
    {{ 'Deals' | trans({}, 'homepage') }},
    {{ 'Buying' | trans({}, 'homepage') }},
    "/>
    <meta name="description"
          content="{{ 'News about Plaza Mariachi and its associated businesses' | trans({}, 'news') }}"/>
{% endblock %}

{% block custom_css %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('bundles/frontend/css/jquery.fancybox.min.css') }}">
{% endblock %}

{% block navbar %}
    {% embed '@Frontend/navbar.html.twig' %}
        {% block navbar_class '' %}
    {% endembed %}
{% endblock %}

{% block page_content %}
    <section class="inner-content section-spaces-line">
        <div class="container">
            <div class="row m-b">
                <div class="col-lg-12 text-center">
                    <div class="section-line amber-line"></div>
                    <h1>{{ 'Plaza Mariachi News' | trans({}, 'news') }}</h1>
                </div>
            </div>

            <p class="text-muted-strong text-justify">
                {{ 'Come to the Plaza Mariachi to enjoy great food and beverages, art, shopping and live entertainment. Below you will find a list of the acts that are scheduled to perform at Plaza Mariachi to help you plan your visit. Please note that dates and times are subject to change.' | trans({}, 'calendar') }}
            </p>

            <div class="section-line amber-line"></div>
            <h2 class="text-center">Press Contact</h2>
            <p class="text-muted-strong text-center">
                Detail contact information goes here temporary
            </p>

            <div class="row">
                <div class="cards">
                    {% for item in news %}
                        <div class="card">
                        <span class="card-header"
                              style="background-image: url({{ asset('images/press/' ~ item.image) }});">
                            <span class="card-title">
					            <h3 class="pull-right">
                                    <a data-fancybox="gallery" data-fancybox-group="group-{{ loop.index0 }}"
                                       href="{{ asset('images/press/' ~ item.image) }}">
                                        <i class="fa fa-arrows-alt" aria-hidden="true"></i>
                                    </a>
                                </h3>
                            </span>
                            {% if item.video is not empty %}
                                <div class="embed-responsive embed-responsive-16by9">
                                <iframe class="embed-responsive-item"
                                        src="//{{ item.video | replace({'http://':'', 'https://': '', 'watch' : 'embed', '?v=': '/'}) }}?showinfo=0"></iframe>
                            </div>
                            {% endif %}
                        </span>
                            <span class="card-summary">
                            {{ item.text | raw }}
                        </span>
                            <span class="card-meta">
                                <ul class="list-inline pull-right">
                                    <li>
                                        <a href="http://twitter.com/intent/tweet?status=[TITLE]+[URL]&text={{ item.text }}" data-toggle="tooltip"
                                           title="{{ 'Tweet this business' | trans({}, 'business') }}"
                                           class="btn btn-circle-muted btn-outline btn-social-icon btn-twitter"
                                           onclick="javascript:this.href=this.href.replace(/\[TITLE\]/, document.title).replace(/\[URL\]/,
                                            window.location);window.open(this.href,'', 'menubar=no,toolbar=no,resizable=yes,' +
                                            'scrollbars=yes,height=600,width=600');return false;">
                                            <span class="fa fa-twitter"></span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="http://www.facebook.com/share.php?u=[URL]&title=[TITLE]&summary={{ item.text }}" data-toggle="tooltip"
                                           title="{{ 'Share this business' | trans({}, 'business') }}"
                                           class="btn btn-circle-muted btn-outline btn-social-icon btn-facebook"
                                           onclick="javascript:this.href=this.href.replace(/\[TITLE\]/, document.title).replace(/\[URL\]/,
                                            window.location);window.open(this.href,'', 'menubar=no,toolbar=no,resizable=yes,' +
                                            'scrollbars=yes,height=600,width=600');return false;">
                                            <span class="fa fa-facebook"></span>
                                        </a>
                                    </li>
                                </ul>
                            </span>
                            {#<span class="card-title">#}
                            {#<h3>#}
                            {#<i class="fa fa-twitter"></i>#}
                            {#<i class="fa fa-facebook"></i>#}
                            {#<i class="fa fa-instagram"></i>#}
                            {#</h3>#}
                            {#</span>#}
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        </div>
    </section>
{% endblock %}

{% block custom_js %}
    {{ parent() }}
    <script src="{{ asset('bundles/frontend/js/jquery.fancybox.min.js') }}"></script>
{% endblock %}
