{% extends 'BackendBundle::layout.html.twig' %}

{% block inline_css %}
{% endblock %}

{% block active_dashboard %}active{% endblock %}
{% block page_heading_title %}
    Dashboard
{% endblock %}
{% block page_content %}


    <div class="row">
        <div class="col-lg-3">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <span class="label label-success pull-right"><i class="fa fa-briefcase"></i></span>
                    <h5>Businesses</h5>
                </div>
                <div class="ibox-content">
                    <h1 class="no-margins">{{ cant_business }}</h1>

                    <div class="stat-percent font-bold text-success">
                        <a href="{{ path('business') }}">Manage <i class="fa fa-cog"></i></a>
                    </div>
                    <small>Total businesses</small>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <span class="label label-info pull-right"><i class="fa fa-tag"></i></span>
                    <h5>Deals</h5>
                </div>
                <div class="ibox-content">
                    <h1 class="no-margins">{{ cant_deal }}</h1>

                    <div class="stat-percent font-bold text-info">
                        <a href="{{ path('deal') }}">Manage <i class="fa fa-cog"></i></a>
                    </div>
                    <small>Total deals</small>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <span class="label label-primary pull-right"><i class="fa fa-user"></i></span>
                    <h5>Customers</h5>
                </div>
                <div class="ibox-content">
                    <h1 class="no-margins">{{ cant_customer }}</h1>

                    <div class="stat-percent font-bold text-navy">
                        <a href="{{ path('customer') }}">Manage <i class="fa fa-cog"></i></a>
                    </div>
                    <small>Total customers</small>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <span class="label label-danger pull-right"><i class="fa fa-reorder"></i></span>
                    <h5>Categories</h5>
                </div>
                <div class="ibox-content">
                    <h1 class="no-margins">{{ cant_category }}</h1>

                    <div class="stat-percent font-bold text-danger">
                        <a href="{{ path('category') }}">Manage <i class="fa fa-cog"></i></a>
                    </div>
                    <small>Total categories</small>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Top Businesses <span class="label label-primary pull-right">by number of Deals</span></h5>

                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">

                    <div class="row">
                        <div class="col-lg-12">
                            <table class="table table-hover margin bottom">
                                <thead>
                                <tr>
                                    <th style="width: 1%" class="text-center">No.</th>
                                    <th>Business</th>
                                    <th class="text-center">Deals</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for topBusiness in top_business_num_deals %}
                                    <tr>
                                        <td class="text-center">{{ loop.index }}</td>
                                        <td>
                                            <a href="{{ path('business_show', {'id' : topBusiness[0].id}) }}">
                                                {{ topBusiness[0].name|length > 30 ? topBusiness[0].name|slice(0,30) ~ '...' : topBusiness[0].name }}
                                            </a>
                                        </td>
                                        <td class="text-center">
                                            <span class="label label-success">{{ topBusiness['dealsCount'] }}</span>
                                        </td>
                                    </tr>
                                {% else %}
                                    <small>There are no business</small>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-8">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Top Deals <span class="label label-primary pull-right">by created date</span></h5>

                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    <table class="table table-hover no-margins">
                        <thead>
                        <tr>
                            <th>Description</th>
                            <th>Start At</th>
                            <th>End At</th>
                            <th>Points</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for top_deal in top_deals_created_date %}
                            <tr>
                                <td>
                                    <a href="{{ path('deal_show', {'id' : top_deal.id}) }}">
                                        {{ top_deal.description|length > 60 ? top_deal.description|slice(0,60) ~ "..." : top_deal.description }}
                                    </a>
                                </td>
                                <td><i class="fa fa-calendar"></i> {{ top_deal.startsAt|date('M d, Y') }}</td>
                                <td><i class="fa fa-calendar"></i> {{ top_deal.endsAt|date('M d, Y') }}</td>
                                <td class="text-navy"><i class="fa fa-star"></i> {{ top_deal.points }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!-- /.row -->

{% endblock %}

        {% block inline_js %}
        {% endblock %}