<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Fuzenet Plaza {% block title '' %}</title>

    <!-- Bootstrap core CSS -->
    <link href="{{ asset('bundles/backend/css/bootstrap.min.css') }}" rel="stylesheet">

    <!-- Animation CSS -->
    <link href="{{ asset('bundles/backend/css/animate.css') }}" rel="stylesheet">
    <link href="{{ asset('bundles/backend/font-awesome/css/font-awesome.min.css') }}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{{ asset('bundles/backend/css/style.css') }}" rel="stylesheet">
    <link href="{{ asset('bundles/frontend/css/frontend.css') }}" rel="stylesheet">


    {# BEGIN Facebook #}

    <script>
        window.fbAsyncInit = function () {
            // init the FB JS SDK
            FB.init({
                appId: '1160773883953962',                        // App ID from the app dashboard
                channelUrl: '//yourdomain.com/channel.html',      // Channel file for x-domain comms
                cookie: true,            // enable cookies to allow the server to access the session
                status: true,                                 // Check Facebook Login status
                xfbml: true                                  // Look for social plugins on the page
            });
        };

        // Load the SDK asynchronously
        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) {
                return;
            }
            js = d.createElement(s);
            js.id = id;
            js.src = "//connect.facebook.net/en_US/all.js";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));

        function fb_login() {
            FB.getLoginStatus(function (response) {
                if (response.status === 'connected') {
                    // connected
                    document.location = "{{ url("hwi_oauth_service_redirect", {service: "facebook"}) }}";
                } else {
                    // not_authorized
                    FB.login(function (response) {
                        if (response.authResponse) {
                            document.location = "{{ url("hwi_oauth_service_redirect", {service: "facebook"}) }}";
                        }
                    });
                }
            });
        }

        // Here we run a very simple test of the Graph API after login is
        // successful.  See statusChangeCallback() for when this call is made.
        function getFacebookNameUser() {
            console.log('Welcome!  Fetching your information.... ');
            FB.api('/me', function (response) {
                console.log('Successful login for: ' + response.name);
                document.getElementById('logged-in-user').innerHTML = response.name;
            });
        }
    </script>

    {# END Facebook #}


    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('bundles/backend/css/plugins/select2/select2.min.css') }}">
    {% endblock %}
</head>
<body id="page-top" class="landing-page">
{% block body %}

    {% block navbar %}
        {% embed '@Frontend/navbar.html.twig' %}
        {% endembed %}
    {% endblock %}

{% block content %}

    {% block slider %}
    {% endblock %}

    {% block topdeals %}
    {% endblock %}

    {% block topbusinesses %}
    {% endblock %}

    <section class="features signup">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="navy-line"></div>
                    <h2>BECOME A MEMBER TODAY AND GET DEALS FOR YOUR FAVORITE PRODUCTS AND BRANDS</h2>

                    <a class="btn btn-lg btn-xl btn-primary">SIGNUP</a>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block footer %}
    <section id="contact" class="gray-section contact">
        <div class="container">
            <div class="row m-b-lg">
                <div class="col-lg-12 text-center">
                    <div class="navy-line"></div>
                    <h1>Contact Us</h1>

                    <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod.</p>
                </div>
            </div>
            <div class="row m-b-lg">
                <div class="col-lg-3 col-lg-offset-3">
                    <address>
                        <strong><span class="navy">Company name, Inc.</span></strong><br/>
                        795 Folsom Ave, Suite 600<br/>
                        San Francisco, CA 94107<br/>
                        <abbr title="Phone">P:</abbr> (123) 456-7890
                    </address>
                </div>
                <div class="col-lg-4">
                    <p class="text-color">
                        Consectetur adipisicing elit. Aut eaque, totam corporis laboriosam veritatis quis ad
                        perspiciatis,
                        totam corporis laboriosam veritatis, consectetur adipisicing elit quos non quis ad perspiciatis,
                        totam corporis ea,
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 text-center">
                    <a href="mailto:test@email.com" class="btn btn-primary">Send us mail</a>

                    <p class="m-t-sm">
                        Or follow us on social platform
                    </p>
                    <ul class="list-inline social-icon">
                        <li><a href="landing.html#"><i class="fa fa-twitter"></i></a>
                        </li>
                        <li><a href="landing.html#"><i class="fa fa-facebook"></i></a>
                        </li>
                        <li><a href="landing.html#"><i class="fa fa-linkedin"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center m-t-lg m-b-lg">
                    <p><strong>&copy; 2015 Fuzenet Plaza</strong><br/></p>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

    <!-- Mainly scripts -->
    <script src="{{ asset('bundles/backend/js/jquery-2.1.1.js') }}"></script>
    <script src="{{ asset('bundles/backend/js/bootstrap.min.js') }}"></script>
    <script src="{{ asset('bundles/backend/js/plugins/metisMenu/jquery.metisMenu.js') }}"></script>
    <script src="{{ asset('bundles/backend/js/plugins/slimscroll/jquery.slimscroll.min.js') }}"></script>

    <!-- Custom and plugin javascript -->
    <script src="{{ asset('bundles/backend/js/inspinia.js') }}"></script>
    <script src="{{ asset('bundles/backend/js/plugins/pace/pace.min.js') }}"></script>
    <script src="{{ asset('bundles/frontend/js/wow/wow.min.js') }}"></script>
    <script src="{{ asset('bundles/backend/js/plugins/select2/select2.full.min.js') }}"></script>

{% block javascript %}
    <script src="{{ asset('bundles/frontend/js/widgets.js') }}"></script>
    <script src="{{ asset('bundles/frontend/js/widgets.js') }}"></script>
{% endblock %}

    <script type="text/javascript">
        {% block inline_javascript %}
        {% endblock %}
    </script>
{% endblock %}
</body>
</html>
