<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Plaza Mariachi{% block title '' %}</title>

    <!-- Bootstrap core CSS -->
    <link href="{{ asset('bundles/backend/css/bootstrap.min.css') }}" rel="stylesheet">

    <!-- Bootstrap Social CSS -->
    <link href="{{ asset('bundles/backend/css/bootstrap-social.css') }}" rel="stylesheet">

    <!-- Animation CSS -->
    <link href="{{ asset('bundles/backend/css/animate.css') }}" rel="stylesheet">
    <link href="{{ asset('bundles/backend/font-awesome/css/font-awesome.min.css') }}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{{ asset('bundles/backend/css/style.css') }}" rel="stylesheet">
    <link href="{{ asset('bundles/frontend/css/frontend.css') }}" rel="stylesheet">


    {# BEGIN Facebook #}

    <script>
        window.fbAsyncInit = function () {
            // init the FB JS SDK
            FB.init({
                appId: '1160773883953962',                        // App ID from the app dashboard
                channelUrl: '//yourdomain.com/channel.html',      // Channel file for x-domain comms
                cookie: true,            // enable cookies to allow the server to access the session
                status: true,                                 // Check Facebook Login status
                xfbml: true                                  // Look for social plugins on the page
            });
        };

        // Load the SDK asynchronously
        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) {
                return;
            }
            js = d.createElement(s);
            js.id = id;
            js.src = "//connect.facebook.net/en_US/all.js";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));

        function fb_login() {
            FB.getLoginStatus(function (response) {
                if (response.status === 'connected') {
                    // connected
                    document.location = "{{ url("hwi_oauth_service_redirect", {service: "facebook"}) }}";
                } else {
                    // not_authorized
                    FB.login(function (response) {
                        if (response.authResponse) {
                            document.location = "{{ url("hwi_oauth_service_redirect", {service: "facebook"}) }}";
                        }
                    });
                }
            });
        }

        // Here we run a very simple test of the Graph API after login is
        // successful.  See statusChangeCallback() for when this call is made.
        function getFacebookNameUser() {
            console.log('Welcome!  Fetching your information.... ');
            FB.api('/me', function (response) {
                console.log('Successful login for: ' + response.name);
                document.getElementById('logged-in-user').innerHTML = response.name;
            });
        }
    </script>

    {# END Facebook #}


    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('bundles/backend/css/plugins/select2/select2.min.css') }}">
    {% endblock %}
</head>
<body id="page-top" class="landing-page">
{% block body %}

    {% block navbar %}
        {% embed '@Frontend/navbar.html.twig' %}
        {% endembed %}
    {% endblock %}

{% block content %}

    {% block slider %}
    {% endblock %}

    {% block topdeals %}
    {% endblock %}

    {% block topbusinesses %}
    {% endblock %}

    <section class="section-spaces-line hidden-print">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="section-line blue-line"></div>
                    <h2>BECOME A MEMBER TODAY AND GET DEALS FOR YOUR FAVORITE PRODUCTS AND BRANDS</h2>

                    <a href="{{ path('fos_user_registration_register') }}"
                       class="btn btn-lg btn-xl btn-blue">SIGNUP</a>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block footer %}
    <section id="contact" class="brown-section section-spaces-line hidden-print">
        <div class="container">
            <div class="row m-b-lg">
                <div class="col-lg-12 text-center">
                    <div class="section-line green-line"></div>
                    <h1>Contact Us</h1>

                    <p>Find us in the Mall Map and visit us to live a wonderful experience</p>
                </div>
            </div>
            <div class="row m-b-lg">
                <div class="col-sm-4 col-sm-offset-2">
                    <div class="footer-left">
                        <address>
                            <strong><span class="green">PLAZA MARIACHI <i><sub>Music City</sub></i></span></strong><br/>
                            3955 Nolensville Pk, Nashville TN 37211 USA <br/>
                            Phone.: 1-800-0000-0000<br/>
                            Fax.: 1-800-0000-0000<br/>
                            E-mail: <a class="green-link" href="mailto:customer@plazamariachi.com">customer@plazamariachi.com</a><br/>
                        </address>
                        <br/>
                        <p id="hours-operation">
                            <strong><span class="green">Today's Hours Of Operation: </span></strong>
                            <br/>
                            <small>
                                <b>Every day</b> of the week,
                                <br/>
                                from <b>10:00am</b> to <b>9:00pm</b>
                            </small>
                        </p>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="footer-right">
                        <p data-coordinates="40.748384,-73.9854792">
                            {#Plaza Mariachi Map Location#}
                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3224.365351084404!2d-86.73197668536223!3d36.08458098010219!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x88646f9ceddcb1e3%3A0x685c1cee10bc93a9!2s3955+Nolensville+Pike%2C+Nashville%2C+TN+37211!5e0!3m2!1ses!2s!4v1470849578887" width="300" height="180" frameborder="0" style="border:0" allowfullscreen></iframe>
                            
                            {#<img class="goo-map-home-location"
                                 src="{{ asset("bundles/frontend/img/plaza_location.jpg") }}"/>#}
                        </p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 text-center">
                    <a href="#" class="btn btn-green">MALL MAP</a>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-8 col-sm-offset-2">
                    <hr/>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 text-center">
                    <a href="#"
                       target="_blank"
                       class="btn btn-circle-muted btn-outline btn-social-icon btn-twitter text-muted m-l m-r">
                        <span class="fa fa-twitter"></span>
                    </a>
                    <a href="#"
                       target="_blank"
                       class="btn btn-circle-muted btn-outline btn-social-icon btn-google text-muted m-l m-r">
                        <span class="fa fa-google"></span>
                    </a>
                    <a href="https://www.facebook.com/Plaza-Mariachi-Music-City-752269578141554"
                       target="_blank"
                       class="btn btn-circle-muted btn-outline btn-social-icon btn-facebook text-muted m-l m-r">
                        <span class="fa fa-facebook"></span>
                    </a>
                    <a href="#"
                       target="_blank"
                       class="btn btn-circle-muted btn-outline btn-social-icon btn-flickr text-muted m-l m-r">
                        <span class="fa fa-flickr"></span>
                    </a>
                    <a href="#"
                       target="_blank"
                       class="btn btn-circle-muted btn-outline btn-social-icon btn-instagram text-muted m-l m-r">
                        <span class="fa fa-instagram"></span>
                    </a>
                </div>
            </div>
        </div>
    </section>

    <section id="copyright" class="dark-brown-section">
        <div class="row">
            <div class="col-lg-12 text-center m-t m-b-xs">
                <p>&copy; 2016 Plaza Mariachi<br/></p>
            </div>
        </div>
    </section>
{% endblock %}

    <!-- Mainly scripts -->
    <script src="{{ asset('bundles/backend/js/jquery-2.1.1.js') }}"></script>
    <script src="{{ asset('bundles/backend/js/bootstrap.min.js') }}"></script>
    <script src="{{ asset('bundles/backend/js/plugins/metisMenu/jquery.metisMenu.js') }}"></script>
    <script src="{{ asset('bundles/backend/js/plugins/slimscroll/jquery.slimscroll.min.js') }}"></script>

    <!-- Custom and plugin javascript -->
    <script src="{{ asset('bundles/backend/js/inspinia.js') }}"></script>
    <script src="{{ asset('bundles/backend/js/plugins/pace/pace.min.js') }}"></script>
    <script src="{{ asset('bundles/frontend/js/wow/wow.min.js') }}"></script>
    <script src="{{ asset('bundles/backend/js/plugins/select2/select2.full.min.js') }}"></script>
    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', {'callback': 'fos.Router.setData'}) }}"></script>
    <script src="{{ asset('bundles/frontend/js/app.js') }}"></script>
    <script src="https://maps.googleapis.com/maps/api/js"></script>

{% block javascript %}
    <script src="{{ asset('bundles/frontend/js/widgets.js') }}"></script>
{% endblock %}

    {% block inline_javascript %}
    {% endblock %}
{% endblock %}
</body>
</html>
