{% extends '@Frontend/layout.html.twig' %}

{% block title %} {{- "Mall Map" | trans({}, 'general') -}} {% endblock %}

{% block metatags %}
    <meta name="keywords"
          content="{{- render(controller('BackendBundle:Settings:getSettings', { 'property' : 'websiteBrand' })) -}},

    {% if(businessData is not null) %}
        {{- businessData.name -}}
    {% endif %}

    {{- 'Mall Map' | trans({}, 'business') -}},
    {{- 'Mall' | trans({}, 'homepage') -}},
    {{- 'Businesses' | trans({}, 'homepage') -}},
    {{- 'Deals' | trans({}, 'homepage') -}},
    {{- 'Buying' | trans({}, 'homepage') -}}
    "/>

    {% if(businessData is not null) %}
        <meta name="description" content="
        {{- businessData.name ~ ". " ~ businessData.mallMapDirections -}}
    "/>
    {% else %}
        <meta name="description" content="
        {{- 'Go search the location of businesses for a better orientation in Plaza Mariachi' | trans({}, 'business') -}}
    "/>
    {% endif %}
{% endblock %}

{% block navbar %}
    {% embed '@Frontend/navbar.html.twig' %}
        {% block navbar_class '' %}
    {% endembed %}
{% endblock %}

{% block page_content %}
    <section class="inner-content section-spaces-line">
        <input type="hidden" name="map_blank" id="map_blank" value="{{ asset('bundles/backend/images/map.png') }}"/>
        <input type="hidden" name="map_pin" id="map_pin" value="{{ asset('bundles/backend/images/pin.png') }}"/>
        <div class="container">
            <div class="col-md-12 map" id="map"></div>

            <a title="{{ 'Download the Map' | trans({}, 'general') }}" id="map-download" class="btn btn-outline btn-amber btn-map" download="map.png">
                <i class="fa fa-download"></i> {{ 'Download the Map' | trans({}, 'general') }}
            </a>
            <a title="{{ 'Print' | trans({}, 'general') }}" id="map-print" class="btn btn-outline btn-amber btn-map pull-right" download="map.pdf">
                <i class="fa fa-print"></i> {{ 'Print' | trans({}, 'general') }}
            </a>
        </div>
    </section>
{% endblock %}

{% block custom_css %}
    {{ parent() }}

    <link rel="stylesheet" href="{{ asset('bundles/backend/css/map/ol.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/backend/css/map/ol3-popup.css') }}">
{% endblock %}

{% block custom_js %}
    {{ parent() }}
    <script src="{{ asset('bundles/backend/js/ol.js') }}"></script>
    <script src="{{ asset('bundles/backend/js/ol3-popup.js') }}"></script>
    <script src="{{ asset('bundles/frontend/js/tween.js') }}"></script>
    <script src="{{ asset('bundles/frontend/js/jspdf.min.js') }}"></script>
    <script src="{{ asset('bundles/frontend/js/map.js') }}"></script>
{% endblock %}

{% block inline_js %}
    <script type="text/javascript">
        $(document).ready(function () {
            var businesses = {{ businesses | raw }};
            var highlight = "{{ highlight }}";
            var onlyOne = ('' !== highlight);


            setTimeout(function () {
                businesses.forEach(function (item) {
                    var x = item.mallMapX;
                    var y = item.mallMapY;

//                    console.log([y, x]);

                    if (null !== x && null !== y) {

                        if (onlyOne && item.slug == highlight) {
                            addMarker([y, x], item.name, true);
                        } else if (!onlyOne) {
                            addMarker([y, x], item.name, true);
                        } else {
                            addMarker([y, x], item.name, false);
                        }
                    }
                })
            }, 10);

            $('a#map-download').on('click', function (e) {
                // download visible part of the map
                var self = this;
                map.getView().fit(extent, map.getSize());

                map.once('postcompose', function (event) {
                    var canvas = event.context.canvas;
                    self.href = canvas.toDataURL('image/png');
                });

                map.renderSync();
            });

            $('#map-print').on('click', function (e) {
                var self = this;
                var format = 'a4';
                var resolution = 72;
                var dim = [297, 210];
                var width = Math.round(dim[0] * resolution / 25.4);
                var height = Math.round(dim[1] * resolution / 25.4);
                var size = /** @type {ol.Size} */ (map.getSize());
                var extent = map.getView().calculateExtent(size);

                map.once('postcompose', function (event) {
                    var canvas = event.context.canvas;
                    var data = canvas.toDataURL('image/png');
                    var pdf = new jsPDF('landscape', undefined, format);

                    pdf.addImage(data, 'JPEG', 0, 0, dim[0], dim[1]);
//                    pdf.save('map.pdf');
                    pdf.autoPrint();
                    window.open(pdf.output('bloburl'));
                    map.setSize(size);
                    map.getView().fit(extent, size);
                    map.renderSync();
                });

                map.setSize([width, height]);
                map.getView().fit(extent, /** @type {ol.Size} */ (map.getSize()));
                map.renderSync();
            })
        });
    </script>
{% endblock %}