{% set current = app.request.attributes.get('_route')|split('_')[0] %}

<div class="navbar-wrapper">
    <nav class="navbar navbar-default navbar-fixed-top {% block navbar_class 'navbar-scroll' %}" role="navigation">
        <div class="container">
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                        aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{ path('frontend_homepage') }}">
                    <img src="{{ asset('bundles/frontend/img/plaza_mariachi.png') }}"
                         alt="Plaza Mariachi Music City"/>
                </a>

                {#<a class="navbar-brand" href="#"><i id="logged-in-user">user</i></a>#}
                {#<a class="navbar-brand" href="#" onclick="FB.logout(function(response) {});">#}
                {#<small> Logout</small>#}
                {#</a>#}
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li class="{% if current == 'frontend' %}active{% endif %}"><a class="page-scroll"
                                                                                   href="{{ path('frontend_homepage') }}">Home</a>
                    </li>
                    <li class="{% if current == 'business' %}active{% endif %}"><a href="{{ path('business_list') }}">Business</a>
                    </li>
                    <li class="{% if current in ['deals', 'deal'] %}active{% endif %}"><a href="{{ path('deals') }}">Deals</a>
                    </li>
                    <li><a class="page-scroll" href="#contact">Contact Us</a></li>

                    <li class="dropdown">
                        {% if not app.user %}
                            <a class="btn btn-info dropdown-toggle" data-toggle="dropdown" href="#">Signup</a>
                        {% else %}
                            <a class="btn dropdown-toggle navbar-avatar" data-toggle="dropdown"
                               href="#"><i class="fa fa-trophy"></i> {{ app.user.points }}
                                <span class="caret"></span>

                                <img alt="image" class="img-avatar-small img-circle"
                                     src="
                                     {% if((app.user.image) is not null) %}
                                        {{ vich_uploader_asset(app.user, 'imageFile') }}
                                     {% else %}
                                        {{ asset('bundles/backend/images/avatar.jpg') }}
                                     {% endif %}
                                 "/>
                            </a>
                        {% endif %}

                        <div class="dropdown-menu dropdown-alerts">
                            {% if not app.user %}
                                <div class="ibox-content">
                                    <form class="m-t" role="form" action="{{ path('fos_user_security_check') }}"
                                          method="post">
                                        <div class="form-group">
                                            <input class="form-control" placeholder="Username" type="text" id="username"
                                                   name="_username" value="" required="required"
                                                   autofocus="true">
                                        </div>
                                        <div class="form-group">
                                            <input class="form-control" placeholder="Password" type="password"
                                                   id="password"
                                                   name="_password" required="required">
                                        </div>
                                        <button type="submit" name="_submit"
                                                value="{{ 'security.login.submit'|trans({}, 'FOSUserBundle') }}"
                                                class="btn btn-primary block full-width m-b">{{ 'security.login.submit'|trans({}, 'FOSUserBundle') }}</button>

                                        <a class="text-center" href="{{ path('fos_user_resetting_request') }}">
                                            <small>Forgot password?</small>
                                        </a>

                                        <p class="text-muted text-center">
                                            <small>Do not have an account?</small>
                                        </p>
                                        <a class="btn btn-text-blank btn-sm btn-info btn-block"
                                           href="{{ path('fos_user_registration_register') }}">Create an account</a>
                                        <input type="hidden" name="_csrf_token"
                                               value="{% render controller('BackendBundle:Default:getCsrfToken') %}"/>
                                        <br/>
                                        <a class="btn btn-text-blank btn-sm btn-success btn-block" href="#"
                                           onclick="fb_login();">
                                            <i class="fa fa-facebook pull-left ali"></i> Facebook
                                        </a>
                                    </form>
                                    <p class="m-t">
                                        <small></small>
                                    </p>
                                </div>
                            {% else %}
                                <a class="logout" href="{{ path('membership') }}">
                                    <i class="fa fa-user"></i> Membership
                                </a>
                                <hr/>
                                <a class="logout" href="{{ path('fos_user_security_logout') }}">
                                    <i class="fa fa-sign-out"></i> Logout
                                </a>
                            {% endif %}
                        </div>
                    </li>
                    <li>
                        {% if is_granted('ROLE_ADMIN') %}
                            <a href="{{ path('backend_homepage') }}">
                                <i class="fa fa-cog"></i> Admin
                            </a>
                        {% endif %}
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>