{% set current = app.request.attributes.get('_route')|split('_')[0] %}

<div class="navbar-wrapper">
    <nav class="navbar navbar-default navbar-simple navbar-fixed-top {% block navbar_class 'navbar-scroll' %}" role="navigation">
        <div class="container">
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                        aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{ path('frontend_homepage') }}">
                    <img src="{{ asset('bundles/frontend/img/plaza_mariachi.png') }}"
                         alt="Plaza Mariachi Music City"/>
                </a>

                {#<a class="navbar-brand" href="#"><i id="logged-in-user">user</i></a>#}
                {#<a class="navbar-brand" href="#" onclick="FB.logout(function(response) {});">#}
                {#<small> Logout</small>#}
                {#</a>#}
            </div>
            <div class="second-navbar navbar-collapse collapse hidden-xs">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="{{ path("subscription_request") }}">{{ 'Subscribe' | trans({}, 'menu') }}</a>
                    </li>
                    <li>
                        <a href="#">{{ 'Find Us' | trans({}, 'menu') }}</a>
                    </li>
                    <li class="dropdown hidden-xs">
                        {% if not app.user %}
                            <a class="dropdown-toggle" data-toggle="dropdown"
                               href="#">{{ 'Login/Register' | trans({}, 'menu') }}</a>
                        {% else %}
                            <a class="dropdown-toggle navbar-avatar" data-toggle="dropdown" href="#">
                                {{ app.user.fullName() }}
                                &nbsp;
                                <img alt="image" class="img-avatar-small img-circle"
                                     src="
                                     {% if((app.user.image) is not null) %}
                                        {{ vich_uploader_asset(app.user, 'imageFile') }}
                                     {% else %}
                                        {{ asset('bundles/backend/images/avatar.jpg') }}
                                     {% endif %}
                                 "/>
                            </a>
                        {% endif %}

                        {% if not app.user %}
                            <div class="dropdown-menu dropdown-header">
                                <div class="ibox-heading">
                                    <h2 class="text-center">Plaza Mariachi</h2>
                                </div>
                                <div class="ibox-content">
                                    <form class="m-t" role="form" action="{{ path('fos_user_security_check') }}"
                                          method="post">
                                        <div class="form-group">
                                            <input class="form-control" placeholder="{{ 'security.login.username'|trans({}, 'FOSUserBundle') }}"
                                                   type="text" id="username" name="_username" value="" required="required"
                                                   autofocus="autofocus">
                                        </div>
                                        <div class="form-group">
                                            <input class="form-control" placeholder="{{ 'security.login.password'|trans({}, 'FOSUserBundle') }}"
                                                   type="password" id="password" name="_password" required="required">
                                        </div>
                                        <button type="submit" name="_submit"
                                                value="{{ 'security.login.submit'|trans({}, 'FOSUserBundle') }}"
                                                class="btn btn-green full-width m-b">{{ 'security.login.submit'|trans({}, 'FOSUserBundle') }}
                                        </button>

                                        <p class="text-center">
                                            <a class="text-green" href="{{ path('fos_user_resetting_request') }}">
                                                <small>{{ 'Forgot your password?' | trans({}, 'menu') }}</small>
                                            </a>
                                        </p>

                                        <p class="text-muted text-center">
                                            <small>{{ 'Do not have an account?' | trans({}, 'menu') }}</small>
                                        </p>

                                        <a class="btn btn-sm btn-blue btn-block"
                                           href="{{ path('fos_user_registration_register') }}">
                                            {{ 'Create an account' | trans({}, 'menu') }}
                                        </a>

                                        <input type="hidden" name="_csrf_token"
                                               value="{% render controller('BackendBundle:Default:getCsrfToken') %}"/>
                                        <br/>

                                        <p class="text-muted text-center">
                                            <small>... {{ 'or login with' | trans({}, 'menu') }} ...</small>
                                        </p>

                                        <a class="btn btn-block btn-social btn-facebook" href="#" onclick="fb_login();">
                                            <span class="fa fa-facebook pull-left ali"></span> Facebook
                                        </a>
                                    </form>
                                </div>
                            </div>
                        {% else %}
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="{{ path('membership') }}">
                                        <i class="fa fa-user"></i> {{ 'Membership' | trans({}, 'menu') }}
                                    </a>
                                </li>
                                <li class="divider"></li>
                                <li>
                                    <a href="{{ path('fos_user_security_logout') }}">
                                        <i class="fa fa-sign-out"></i> {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
                                    </a>
                                </li>
                                {% if is_granted('ROLE_ADMIN') %}
                                    <li class="divider"></li>
                                    <li>
                                        <a target="_blank" href="{{ path('backend_homepage') }}">
                                            <i class="fa fa-cog"></i> Admin
                                        </a>
                                    </li>
                                {% endif %}

                            </ul>
                        {% endif %}
                    </li>
                </ul>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li class="{% if current == 'about' %}active{% endif %}">
                        <a href="#">{{ 'About' | trans({}, 'menu') }}</a>
                    </li>
                    <li class="{% if current == 'business' %}active{% endif %}">
                        <a href="{{ path('business_list') }}">{{ 'Directory' | trans({}, 'menu') }}</a>
                    </li>
                    <li class="{% if current in ['deals', 'deal'] %}active{% endif %}">
                        <a href="{{ path('deals') }}">{{ 'Deals' | trans({}, 'menu') }}</a>
                    </li>
                    <li class="{% if current == 'news' %}active{% endif %}">
                        <a href="#">{{ 'News & Events' | trans({}, 'menu') }}</a>
                    </li>
                    <li class="{% if current == 'careers' %}active{% endif %}">
                        <a href="#">{{ 'Careers' | trans({}, 'menu') }}</a>
                    </li>
                    <li class="visible-xs">
                        <a href="#">{{ 'Subscribe' | trans({}, 'menu') }}</a>
                    </li>
                    <li class="visible-xs">
                        <a href="#">{{ 'Find Us' | trans({}, 'menu') }}</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#contact">{{ 'Contact' | trans({}, 'menu') }}</a>
                    </li>

                    <li class="dropdown visible-xs">
                        {% if not app.user %}
                            <a href="{{ path('fos_user_security_login') }}">Login/Register</a>
                        {% else %}
                            <a class="dropdown-toggle navbar-avatar" data-toggle="dropdown" href="#">
                                {{ app.user.fullName() }}
                                &nbsp;
                                <img alt="image" class="img-avatar-small img-circle"
                                     src="
                                     {% if((app.user.image) is not null) %}
                                        {{ vich_uploader_asset(app.user, 'imageFile') }}
                                     {% else %}
                                        {{ asset('bundles/backend/images/avatar.jpg') }}
                                     {% endif %}
                                 "/>
                            </a>
                        {% endif %}

                        {% if not not app.user %}
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="{{ path('membership') }}">
                                        <i class="fa fa-user"></i> Membership
                                    </a>
                                </li>
                                <li class="divider"></li>
                                <li>
                                    <a href="{{ path('fos_user_security_logout') }}">
                                        <i class="fa fa-sign-out"></i> Logout
                                    </a>
                                </li>
                                {% if is_granted('ROLE_ADMIN') %}
                                    <li class="divider"></li>
                                    <li>
                                        <a target="_blank" href="{{ path('backend_homepage') }}">
                                            <i class="fa fa-cog"></i> Admin
                                        </a>
                                    </li>
                                {% endif %}

                            </ul>
                        {% endif %}
                    </li>

                    <li class="dropdown language-selector">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            {% if app.request.get('_locale') == 'en' %}
                                <span class="flag-icon flag-icon-us"></span>
                            {% elseif app.request.get('_locale') == 'es' %}
                                <span class="flag-icon flag-icon-es"></span>
                            {% endif %}
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="{{ path(app.request.get('_route'), app.request.get('_route_params')|merge({'_locale' : 'en'})) }}">
                                    <span class="flag-icon flag-icon-us"></span>
                                    English
                                </a>
                            </li>
                            <li class="divider"></li>
                            <li>
                                <a href="{{ path(app.request.get('_route'), app.request.get('_route_params')|merge({'_locale' : 'es'})) }}">
                                    <span class="flag-icon flag-icon-es"></span>
                                    Spanish
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>