{% extends 'BackendBundle::layout.html.twig' %}{% block active_deal %}active{% endblock %}{% block page_heading_title %}
    <a class="btn btn-default navbar-btn" href="{{ path('deal') }}"
       style="margin-bottom: 7px;">
        <span class="glyphicon glyphicon-chevron-up"></span>
    </a>
    Deal data
{% endblock %}{% block page_content %}
    <dl class="dl-horizontal">
        <tbody>
        <dt>Id</dt>
        <dd>{{ entity.id }}</dd>
        <div class="hr-line-dashed"></div>
        <dt>Description</dt>
        <dd>{{ entity.description }}</dd>
        <div class="hr-line-dashed"></div>
        <dt>Starts At</dt>
        <dd>{{ entity.startsAt|date('d-M-Y h:i A') }}</dd>
        <div class="hr-line-dashed"></div>
        <dt>Ends At</dt>
        <dd>{{ entity.endsAt|date('d-M-Y h:i A') }}</dd>
        <div class="hr-line-dashed"></div>
        <dt>Business</dt>
        <dd><span class="label label-{{ entity.business is not empty ? "success" : "warning" }}">{{ entity.business is not empty ? entity.business : "No business related" }}</span></dd>
        <div class="hr-line-dashed"></div>
        <dt>Video</dt>
        <dd>{{ entity.video }}</dd>
        <div class="hr-line-dashed"></div>
        <dt>Points</dt>
        <dd>{{ entity.points }}</dd>
        <div class="hr-line-dashed"></div>
        <dt>Created At</dt>
        <dd>{{ entity.createdAt|date('d-M-Y h:i A') }}</dd>
        <div class="hr-line-dashed"></div>
        <dt>Updated At</dt>
        <dd>{{ entity.updatedAt|date('d-M-Y h:i A') }}</dd>
        <div class="hr-line-dashed"></div>
        <dt>Image</dt>
        <dd><img style="max-width: 70%; height: auto;" src="{{ vich_uploader_asset(entity, 'imageFile') }}"
                 alt="{{ entity.image }}"/></dd>
        <div class="hr-line-dashed"></div>
        </tbody>
    </dl>
    <div class="form-group">
        <div class="col-md-2 text-right">
            <a class="btn btn-success" href="{{ path('deal') }}">
                <span class="glyphicon glyphicon-chevron-left"></span>
                Back to the list
            </a>
        </div>
        <div class="col-md-10">


            <a class="btn btn-primary"
               href="{{ path('deal_edit', { 'id': entity.id }) }}">
                <span class="fa fa-pencil"></span>
                Edit
            </a>

            <a class="btn btn-danger" data-toggle="modal" data-target="#modalDelete">
                <span class="fa fa-remove"></span>
                Delete
            </a>


        </div>
    </div>


    <div class="modal inmodal" id="modalDelete" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content animated bounceInRight">
                <div id="modal-title" class="modal-header red-bg">
                    <button type="button" class="close" data-dismiss="modal"><span
                                aria-hidden="true">&times;</span><span class="sr-only">Close</span>
                    </button>
                    <i class="fa fa-exclamation-triangle modal-icon text-white"></i>
                    <h4 class="modal-title">Atention!!!</h4>
                </div>
                <div id="modal-content" class="modal-body">
                    <strong>Are you sure you want to delete this data?</strong>
                </div>
                <div class="modal-footer">
                    <form action="{{ path('deal_delete', { 'id': entity.id }) }}"
                          name="form-delete" method="post">
                        <button type="button" class="btn btn-white" data-dismiss="modal">Close</button>
                        <button id="modal-btn" type="submit" class="btn btn-danger" name="deal-id"
                                value="{{ entity.id }}">
                            <span class="glyphicon glyphicon-ok"></span> Save changes
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>


{% endblock %}