{% extends '@Frontend/layout.html.twig' %}

{% block metatags %}
    <meta name="keywords" content="{{- render(controller('BackendBundle:Settings:getSettings', { 'property' : 'websiteBrand' })) -}},
    {{- 'Confirmed Registration' | trans({}, 'fosuser') -}}
    "/>
    <meta name="description" content="
    {{- 'Confirmed Registration' | trans({}, 'fosuser') -}}
    "/>
{% endblock %}

{% block title '- ' ~ 'Confirmed Registration' | trans({}, 'fosuser') %}

{% block page_content %}

    <section class="inner-content section-spaces">
        <div class="container">

            {% block fos_user_content %}
                <div class="text-center animated fadeInDown">
                    <h1>{{ 'Welcome' | trans({}, 'general') }}!!!</h1>

                    <p>{{ 'Congrats' | trans({}, 'fosuser') }} <b>{{ user.fullName }}</b>
                    {{ ', ' ~ 'you have been registered succesfully' | trans({}, 'fosuser') }}</p>
                </div>
                <div class="text-center m-t-lg">
                    <a class="btn btn-amber" href="{{ path("frontend_homepage") }}">{{ 'GO TO PLAZA HOME' | trans({},'subscription') }}</a>
                </div>

            {% endblock fos_user_content %}
        </div>
    </section>
{% endblock %}