{% extends 'BackendBundle::layout.html.twig' %}

{% block metatags %}
    <meta name="keywords" content="{{- render(controller('BackendBundle:Settings:getSettings', { 'property' : 'websiteBrand' })) -}},
    {{- 'Change password of' | trans({}, 'fosuser') ~ ' ' ~ app.user.username -}}
    "/>
    <meta name="description" content="
    {{- 'Change password of' | trans({}, 'fosuser') ~ ' ' ~ app.user.username -}}
    "/>
{% endblock %}

{% block active_users %}active{% endblock %}
{% block page_heading_title %}
    {{ 'Change password of' | trans({}, 'fosuser') }} <b>{{ app.user.username }}</b>
{% endblock %}

{% block page_content %}
    <div class="content-hr-both show-content">
        {% include "FOSUserBundle:ChangePassword:changePassword_content.html.twig" %}
    </div>
{% endblock %}
