{% extends is_granted('ROLE_BUSINESS') ? 'BackendBundle::layout.html.twig' : 'FrontendBundle::layout.html.twig' %}

{% if not is_granted('ROLE_BUSINESS') %}
    {% block title %} {{ "Change password of" |trans({}, 'fosuser') }}  <b>{{ app.user.username }}</b> {% endblock %}
{% endif %}

{% block metatags %}
    <meta name="keywords"
          content="{{- render(controller('BackendBundle:Settings:getSettings', { 'property' : 'websiteBrand' })) -}},
    {{- 'Change password of' | trans({}, 'fosuser') ~ ' ' ~ app.user.username -}}
    "/>
    <meta name="description" content="
    {{- 'Change password of' | trans({}, 'fosuser') ~ ' ' ~ app.user.username -}}
    "/>
{% endblock %}


{% if is_granted('ROLE_BUSINESS') %}
    {% block active_users %}active{% endblock %}
    {% block page_heading_title %}
        {{ 'Change password of' | trans({}, 'fosuser') }} <b>{{ app.user.username }}</b>
    {% endblock %}
{% else %}
    {% block navbar %}
        {% embed '@Frontend/navbar.html.twig' %}
            {% block navbar_class '' %}
        {% endembed %}
    {% endblock %}
{% endif %}

{% block page_content %}
    {% if not is_granted('ROLE_BUSINESS') %}
        <section class="inner-content section-spaces-line">
        <div class="container">
        <div class="row m-b">
            <div class="col-lg-12 text-center">
                <div class="section-line amber-line"></div>
                <h1>{{ 'Change password of' | trans({}, 'fosuser') }} <b>{{ app.user.username }}</b></h1>
            </div>
        </div>

        <div class="row widget-text-box no-padding">

        {#  Fash bag block  #}
        {% block flash_bags %}
            {#  Including the flash bags notifications  #}
            {% include '@Backend/Layout/flash_bags.html.twig' %}
        {% endblock %}
        {#  END Fash bag block  #}
    {% endif %}

    <div class="content-hr-both show-content">
        {% include "FOSUserBundle:ChangePassword:changePassword_content.html.twig" %}
    </div>

    {% if not is_granted('ROLE_BUSINESS') %}
        </div>

        </div>
        </section>
    {% endif %}
{% endblock %}
