{{ form_start(form, {'attr': {'class':'form-horizontal'}}) }}

    <div class="form-group{% if(form.current_password.vars['errors']|length > 0) %} {{ ' has-error' }} {% endif %}">
        <label for="current_password"
               class="col-md-2 control-label">{{ form_label(form.current_password) }}</label>

        <div class="col-md-6">
            {{ form_widget(form.current_password, { 'attr': {'class' : 'form-control'}}) }}
            {% if form.current_password.vars['errors']|length > 0 %}
                <ul class="message">
                    {% for error in form.current_password.vars['errors'] %}
                        <li>{{ error.message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
    </div>
    <div class="hr-line-dashed"></div>

    {% for passwordField in form.plainPassword %}

        <div class="form-group{% if(passwordField.vars['errors']|length > 0) %} {{ ' has-error' }} {% endif %}">
            <label for="password" class="col-md-2 control-label">{{ form_label(passwordField) }}</label>

            <div class="col-md-6">
                {{ form_widget(passwordField, { 'attr': {'class' : 'form-control'}}) }}
                {% if passwordField.vars['errors']|length > 0 %}
                    <ul class="message">
                        {% for error in passwordField.vars['errors'] %}
                            <li>{{ error.message }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>
        </div>
        <div class="hr-line-dashed"></div>
    {% endfor %}

    <div class="form-group padding-basic-top">
        <div class="col-md-10 col-md-offset-2">
            <a class="btn btn-primary" href="{{ path('fos_user_profile_show') }}">
                <span class="fa fa-clipboard"></span>
                {{ 'System User profile' | trans({}, 'fosuser') }}
            </a>
            <input type="submit" value="{{ 'change_password.submit'|trans({}, 'FOSUserBundle') }}"
                   class="btn btn-success btn-small"/>
            {{ form(form) }}
        </div>
    </div>
{{ form_end(form) }}