{% extends '@Frontend/layout.html.twig' %}

{% block title %} {{- "Apply for a job" | trans({}, 'careers') -}} {% endblock %}

{% block metatags %}
    <meta name="keywords"
          content="{{- render(controller('BackendBundle:Settings:getSettings', { 'property' : 'websiteBrand' })) -}},
    {{- 'Careers application' | trans({}, 'homepage') -}},
    {{- 'Mall' | trans({}, 'homepage') -}},
    {{- 'Businesses' | trans({}, 'homepage') -}},
    {{- 'Deals' | trans({}, 'homepage') -}},
    {{- 'Buying' | trans({}, 'homepage') -}}
    " xmlns:v-validate="http://www.w3.org/1999/xhtml"/>

    <meta name="description" content="
    {{- 'Apply for' | trans({}, 'careers') ~ ' ' ~ opening.position ~ ' ' ~ "in" ~ ' ' | trans({}, 'careers') ~ opening.business.name -}}
    "/>
    <meta name="slug" content="{{ app.request.get('slug') }}">
{% endblock %}

{% block custom_css %}
    {{ parent() }}

    <!-- iCheck Styles -->
    <link rel="stylesheet" href="{{ asset('bundles/backend/css/plugins/iCheck/custom.css') }}"
          type="text/css"/>
    <!-- select2 Styles -->
    <link rel="stylesheet" href="{{ asset('bundles/backend/css/plugins/select2/select2.min.css') }}"
          type="text/css"/>
    <!-- datepicker3 Styles -->
    <link rel="stylesheet"
          href="{{ asset('bundles/backend/css/plugins/datapicker/datepicker3.css') }}"
          type="text/css"/>
    <!-- clockpicker Styles -->
    <link rel="stylesheet"
          href="{{ asset('bundles/backend/css/plugins/clockpicker/clockpicker.css') }}"
          type="text/css"/>

{% endblock %}

{% block page_content %}
    <section v-cloak class="inner-content apply-form" id="apply-form">
        <div class="container apply-info">
            <img alt="{{ opening.business }}"
                 title="{{ opening.business }}"
                 src="{{ asset('images/business/' ~ opening.business.logo) }} "/>
            <h1 class="apply-header">
                {{ opening.position }}
            </h1>
        </div>

        <hr>

        <div v-if="!done" class="container application-selector">
            <h2>{{ 'apply using our online form' | trans({},'careers') }}</h2>
            <div class="onoffswitch-ios switch">
                <label @click="formApplication = !formApplication"
                       :class="{'checked': !formApplication}"
                       class="onoffswitch-ios-label">
                    <i class="fa" :class="{'fa-arrow-up' : formApplication, 'fa-arrow-down' : !formApplication}"></i>
                </label>
            </div>
            <h2>{{ 'upload only a resume & optionally a cover letter' | trans({},'careers') }}</h2>
        </div>

        <validator name="validation1">
            <form v-if="!done" action="{{ path('careers_store') }}" method="post" enctype="multipart/form-data"
                  role="form"
                  @submit.prevent="submitForm()"
                  class="container application-form" novalidate>

                <div v-if="error" class="alert alert-danger">
                    <button type="button" @click="error = false" class="close" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                    <b>ERROR: </b>${ errorMessage }
                </div>

                <fieldset>
                    <div class="row">
                        <div class="col-lg-4">
                            <div class="form-group">
                                <label for="name">{{ 'Last Name' | trans({},'careers') }}</label>
                                <label class="error animated fadeInLeft"
                                       v-if="$validation1.lastName.required">This
                                    field is required</label>
                                <input type="text"
                                       v-validate:last-name="{ required: true }"
                                       v-model="lastName"
                                       class="form-control" placeholder="{{ 'Last Name' | trans({},'careers') }}">
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="form-group">
                                <label for="name">{{ 'First Name' | trans({},'careers') }}</label>
                                <label class="error animated fadeInLeft"
                                       v-if="$validation1.firstName.required">This
                                    field is required</label>
                                <input type="text"
                                       v-validate:first-name="{ required: true }"
                                       v-model="firstName" class="form-control"
                                       placeholder="{{ 'First Name' | trans({},'careers') }}">
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="form-group">
                                <label for="name">{{ 'Middle Name' | trans({},'careers') }}</label>
                                <input type="text"
                                       v-model="middleName" class="form-control"
                                       placeholder="{{ 'Middle Name' | trans({},'careers') }}">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-4">
                            <div class="form-group">
                                <label for="name">{{ 'Number & Street Name' | trans({},'careers') }}</label>
                                <label class="error animated fadeInLeft"
                                       v-if="$validation1.address.required">{{ 'This field is required' | trans({},'careers') }}</label>
                                <input type="text"
                                       v-validate:address="{ required:true }"
                                       v-model="address" class="form-control"
                                       placeholder="{{ 'Number & Street Name' | trans({},'careers') }}">
                            </div>
                        </div>
                        <div class="col-lg-2">
                            <div class="form-group">
                                <label for="name">{{ 'City' | trans({},'careers') }}</label>
                                <label class="error animated fadeInLeft"
                                       v-if="$validation1.city.required">{{ 'This field is required' | trans({},'careers') }}</label>
                                <input type="text"
                                       v-validate:city="{ required: true}"
                                       v-model="city" class="form-control"
                                       placeholder="{{ 'City' | trans({},'careers') }}">
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="form-group">
                                <label for="name">{{ 'State' | trans({},'careers') }}</label>
                                <label class="error animated fadeInLeft"
                                       v-if="$validation1.state.required">{{ 'This field is required' | trans({},'careers') }}</label>
                                <input type="text"
                                       v-validate:state="{ required: true}"
                                       v-model="state" class="form-control"
                                       placeholder="{{ 'State' | trans({},'careers') }}">
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="form-group">
                                <label for="name">{{ 'Zip Code' | trans({},'careers') }}</label>
                                <label class="error animated fadeInLeft"
                                       v-if="$validation1.zipCode.required">{{ 'This field is required' | trans({},'careers') }}</label>
                                <input type="text"
                                       v-validate:zip-code="{ required: true}"
                                       v-model="zipCode" v-mask="99999" class="form-control"
                                       placeholder="{{ 'Zip Code' | trans({},'careers') }}">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-4">
                            <div class="form-group">
                                <label for="name">{{ 'Social Security or Tax ID Number' | trans({},'careers') }}</label>
                                <label class="error animated fadeInLeft"
                                       v-if="$validation1.securityNumber.required">{{ 'This field is required' | trans({},'careers') }}</label>
                                <input type="text"
                                       v-validate:security-number="{ required: true}"
                                       v-mask="999-99-9999" v-model="securityNumber"
                                       class="form-control"
                                       placeholder="{{ 'Social Security or Tax ID Number' | trans({},'careers') }}">
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="form-group">
                                <label for="name">{{ 'Are you over 18 years old?' | trans({},'careers') }}</label>
                                <div class="btn-group btn-group-justified" role="group" aria-label="...">
                                    <div class="btn-group btn-group-lg" role="group">
                                        <button @click="adult=true" :class="{'active': adult}" type="button"
                                                class="btn btn-default">{{ 'YES' | trans({},'careers') }}
                                        </button>
                                    </div>
                                    <div class="btn-group btn-group-lg" role="group">
                                        <button @click="adult=false" :class="{'active': !adult}" type="button"
                                                class="btn btn-default">NO
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="form-group">
                                <label for="name">{{ 'Phone Number' | trans({},'careers') }}</label>
                                <label class="error animated fadeInLeft"
                                       v-if="$validation1.phone.required">{{ 'This field is required' | trans({},'careers') }}</label>
                                <input type="text"
                                       v-validate:phone="{ required: true}"
                                       v-mask="(999) 999-9999" v-model="phone"
                                       class="form-control" placeholder="{{ 'Phone Number' | trans({},'careers') }}">
                            </div>
                        </div>
                    </div>
                </fieldset>
                <fieldset v-if="formApplication" transition="expand">
                    <div class="row">
                        <div class="col-lg-5">
                            <div class="form-group">
                                <label for="name">{{ 'Hours of availability' | trans({},'careers') }}</label>
                                <div class="btn-group btn-group-justified" role="group" aria-label="...">
                                    <div class="btn-group btn-group-lg" role="group">
                                        <button @click="availabilityHours='any'"
                                                :class="{'active': availabilityHours == 'any'}"
                                                type="button" class="btn btn-default">{{ 'Any' | trans({},'careers') }}
                                        </button>
                                    </div>
                                    <div class="btn-group btn-group-lg" role="group">
                                        <button @click="availabilityHours='all'"
                                                :class="{'active': availabilityHours == 'all'}"
                                                type="button" class="btn btn-default">{{ 'All' | trans({},'careers') }}
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <label v-if="$validation1.monday.lower || $validation1.tuesday.lower || $validation1.wednesday.lower || 
                                         $validation1.thursday.lower || $validation1.friday.lower || $validation1.saturday.lower || 
                                         $validation1.sunday.lower" class="error">
                                         {{ 'The end time should be greater than the start time' | trans({}, 'careers') }}
                            </label>
                        </div>
                        <div class="col-lg-1">
                            <div class="form-group" :class="{'error' : $validation1.monday.lower }">
                                <label for="name">{{ 'Monday' | trans({},'careers') }}</label>
                                <input type="text" :disabled="availabilityHours == 'all'"
                                       v-mask="99"
                                       v-model="weekHours.monday.from" class="form-control clockpicker"
                                       placeholder="{{ 'From' | trans({},'careers') }}">
                                <input type="text" :disabled="availabilityHours == 'all'"
                                       v-mask="99"
                                       :groups="['hours']"
                                       v-validate:monday="{ required: true, lower: mondayValid }" :class="{'error' : $validation1.monday.lower }"
                                       v-model="weekHours.monday.to" class="form-control clockpicker"
                                       placeholder="{{ 'To' | trans({},'careers') }}">
                            </div>
                        </div>
                        <div class="col-lg-1">
                            <div class="form-group" :class="{'error' : $validation1.tuesday.lower }">
                                <label for="name">{{ 'Tuesday' | trans({},'careers') }}</label>
                                <input type="text" :disabled="availabilityHours == 'all'"
                                       v-mask="99"
                                       v-model="weekHours.tuesday.from" class="form-control clockpicker"
                                       placeholder="{{ 'From' | trans({},'careers') }}">
                                <input type="text" :disabled="availabilityHours == 'all'"
                                       v-mask="99"
                                       v-validate:tuesday="{ required: true, lower: tuesdayValid }" :class="{'error' : $validation1.tuesday.lower }"
                                       v-model="weekHours.tuesday.to" class="form-control clockpicker"
                                       placeholder="{{ 'To' | trans({},'careers') }}">
                            </div>
                        </div>
                        <div class="col-lg-1">
                            <div class="form-group" :class="{'error' : $validation1.wednesday.lower }">
                                <label class="special-padding"
                                       for="name">{{ 'Wednesday' | trans({},'careers') }}</label>
                                <input type="text" :disabled="availabilityHours == 'all'"
                                       v-mask="99"
                                       v-model="weekHours.wednesday.from" class="form-control clockpicker"
                                       placeholder="{{ 'From' | trans({},'careers') }}">
                                <input type="text" :disabled="availabilityHours == 'all'"
                                       v-mask="99"
                                       v-validate:wednesday="{ required: true, lower: wednesdayValid }" :class="{'error' : $validation1.wednesday.lower }"
                                       v-model="weekHours.wednesday.to" class="form-control clockpicker"
                                       placeholder="{{ 'To' | trans({},'careers') }}">
                            </div>
                        </div>
                        <div class="col-lg-1">
                            <div class="form-group" :class="{'error' : $validation1.thursday.lower }">
                                <label for="name">{{ 'Thursday' | trans({},'careers') }}</label>
                                <input type="text" :disabled="availabilityHours == 'all'"
                                       v-mask="99"
                                       v-model="weekHours.thursday.from" class="form-control clockpicker"
                                       placeholder="{{ 'From' | trans({},'careers') }}">
                                <input type="text" :disabled="availabilityHours == 'all'"
                                       v-mask="99"
                                       v-validate:thursday="{ required: true, lower: thursdayValid }" :class="{'error' : $validation1.thursday.lower }"
                                       v-model="weekHours.thursday.to" class="form-control clockpicker"
                                       placeholder="{{ 'To' | trans({},'careers') }}">
                            </div>
                        </div>
                        <div class="col-lg-1">
                            <div class="form-group" :class="{'error' : $validation1.friday.lower }">
                                <label for="name">{{ 'Friday' | trans({},'careers') }}</label>
                                <input type="text" :disabled="availabilityHours == 'all'"
                                       v-mask="99"
                                       v-model="weekHours.friday.from" class="form-control clockpicker"
                                       placeholder="{{ 'From' | trans({},'careers') }}">
                                <input type="text" :disabled="availabilityHours == 'all'"
                                       v-mask="99"
                                       v-validate:friday="{ required: true, lower: fridayValid }" :class="{'error' : $validation1.friday.lower }"
                                       v-model="weekHours.friday.to" class="form-control clockpicker"
                                       placeholder="{{ 'To' | trans({},'careers') }}">
                            </div>
                        </div>
                        <div class="col-lg-1">
                            <div class="form-group" :class="{'error' : $validation1.saturday.lower }">
                                <label for="name">{{ 'Saturday' | trans({},'careers') }}</label>
                                <input type="text" :disabled="availabilityHours == 'all'"
                                       v-mask="99"
                                       v-model="weekHours.saturday.from" class="form-control clockpicker"
                                       placeholder="{{ 'From' | trans({},'careers') }}">
                                <input type="text" :disabled="availabilityHours == 'all'"
                                       v-mask="99"
                                       v-validate:saturday="{ required: true, lower: saturdayValid }" :class="{'error' : $validation1.saturday.lower }"
                                       v-model="weekHours.saturday.to" class="form-control clockpicker"
                                       placeholder="{{ 'To' | trans({},'careers') }}">
                            </div>
                        </div>
                        <div class="col-lg-1">
                            <div class="form-group" :class="{'error' : $validation1.sunday.lower }">
                                <label for="name">{{ 'Sunday' | trans({},'careers') }}</label>
                                <input type="text" :disabled="availabilityHours == 'all'"
                                       v-mask="99"
                                       v-model="weekHours.sunday.from" class="form-control clockpicker"
                                       placeholder="{{ 'From' | trans({},'careers') }}">
                                <input type="text" :disabled="availabilityHours == 'all'"
                                       v-mask="99"
                                       v-validate:sunday="{ required: true, lower: sundayValid }" :class="{'error' : $validation1.sunday.lower }"
                                       v-model="weekHours.sunday.to" class="form-control clockpicker"
                                       placeholder="{{ 'To' | trans({},'careers') }}">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-4">
                            <div class="form-group">
                                <label for="name">{{ 'Available Since' | trans({},'careers') }}</label>
                                <label class="error animated fadeInLeft"
                                       v-if="$validation1.startDate.required">{{ 'This field is required' | trans({},'careers') }}</label>
                                <input type="text"
                                       v-validate:start-date="{required:true}"
                                       v-mask="99/99/9999" v-model="startDate" class="form-control datepicker"
                                       placeholder="DD/MM/YYYY">
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="form-group">
                                <label for="name">{{ 'Salary Desired' | trans({},'careers') }}</label>
                                <div class="input-group">
                                  <span class="input-group-addon">$</span>
                                  <input type="text"
                                         v-mask="9999.99" v-model="salary"
                                         class="form-control" placeholder="{{ 'Salary Desired' | trans({},'careers') }}">
                                  </div>
                            </div>
                        </div>
                        <div class="col-lg-5">
                            <div class="form-group">
                                <label for="name">{{ 'Are you available for...' | trans({},'careers') }}</label>
                                <div class="btn-group btn-group-justified" role="group" aria-label="...">
                                    <div class="btn-group btn-group-lg" role="group">
                                        <button @click="availability='full'" :class="{'active': availability == 'full'}"
                                                type="button"
                                                class="btn btn-default">{{ 'Full Time' | trans({},'careers') }}
                                        </button>
                                    </div>
                                    <div class="btn-group btn-group-lg" role="group">
                                        <button @click="availability='part'" :class="{'active': availability == 'part'}"
                                                type="button"
                                                class="btn btn-default">{{ 'Part Time' | trans({},'careers') }}
                                        </button>
                                    </div>
                                    <div class="btn-group btn-group-lg" role="group">
                                        <button @click="availability=false" :class="{'active': availability == false}"
                                                type="button"
                                                class="btn btn-default">{{ 'Either' | trans({},'careers') }}
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-4">
                            <div class="form-group">
                                <label for="name">{{ "Do you have a valid Driver's License?" | trans({},'careers') }}</label>
                                <div class="btn-group btn-group-justified" role="group" aria-label="...">
                                    <div class="btn-group btn-group-lg" role="group">
                                        <button @click="hasDriverLicense = true" :class="{'active' : hasDriverLicense}"
                                                type="button" class="btn btn-default">{{ 'YES' | trans({},'careers') }}
                                        </button>
                                    </div>
                                    <div class="btn-group btn-group-lg" role="group">
                                        <button @click="hasDriverLicense = false"
                                                :class="{'active' : !hasDriverLicense}"
                                                type="button" class="btn btn-default">NO
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="form-group">
                                <label for="name">{{ 'Drivers License Number' | trans({},'careers') }}</label>
                                <input type="text"
                                       v-model="licenseNumber"
                                       :disabled="hasDriverLicense == false"
                                       class="form-control"
                                       placeholder="{{ 'Drivers License Number' | trans({},'careers') }}">
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="form-group">
                                <label for="name">{{ 'State' | trans({},'careers') }}</label>
                                <input type="text"
                                       v-model="licenseState"
                                       :disabled="hasDriverLicense == false"
                                       class="form-control" placeholder="{{ 'State' | trans({},'careers') }}">
                            </div>
                        </div>
                        <div class="col-lg-2">
                            <div class="form-group">
                                <label for="name">{{ 'Expiration Date' | trans({},'careers') }}</label>
                                <input type="text"
                                       v-mask="99/99/9999"
                                       v-model="licenseExpiration"
                                       :disabled="hasDriverLicense == false"
                                       class="form-control datepicker" placeholder="DD/MM/YYYY">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label for="">{{ 'Are you legally eligible for employment in the United States' | trans({},'careers') }}</label>
                                <div class="btn-group btn-group-justified" role="group" aria-label="...">
                                    <div class="btn-group btn-group-lg" role="group">
                                        <button @click="legal = true" :class="{'active' : legal}"
                                                type="button" class="btn btn-default">{{ 'YES' | trans({},'careers') }}
                                        </button>
                                    </div>
                                    <div class="btn-group btn-group-lg" role="group">
                                        <button @click="legal = false" :class="{'active' : !legal}"
                                                type="button" class="btn btn-default">NO
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="help-block">
                                <i class="fa fa-exclamation-circle fa-2x"></i>
                                {{ 'If offered employment, you will be required to provide documentation to verify eligibility.' | trans({},'careers') }}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-4">
                            <div class="form-group">
                                <label for="name">{{ 'Have you been convicted of a crime?' | trans({},'careers') }}</label>
                                <div class="btn-group btn-group-justified" role="group" aria-label="...">
                                    <div class="btn-group btn-group-lg" role="group">
                                        <button @click="crime = true" :class="{'active' : crime}"
                                                type="button" class="btn btn-default">{{ 'YES' | trans({},'careers') }}
                                        </button>
                                    </div>
                                    <div class="btn-group btn-group-lg" role="group">
                                        <button @click="crime = false" :class="{'active' : !crime}"
                                                type="button" class="btn btn-default">NO
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-8">
                            <div class="form-group">
                                <label for="name">{{ 'Explain' | trans({},'careers') }}</label>
                                <input type="text"
                                       v-model="crimeExplain"
                                       :disabled="crime == false"
                                       class="form-control" placeholder="...">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-4">
                            <div class="form-group">
                                <label for="name">{{ 'May we do a background check?' | trans({},'careers') }}</label>
                                <div class="btn-group btn-group-justified" role="group" aria-label="...">
                                    <div class="btn-group btn-group-lg" role="group">
                                        <button @click="background = true" :class="{'active' : background}"
                                                type="button" class="btn btn-default">{{ 'YES' | trans({},'careers') }}
                                        </button>
                                    </div>
                                    <div class="btn-group btn-group-lg" role="group">
                                        <button @click="background = false" :class="{'active' : !background}"
                                                type="button" class="btn btn-default">NO
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-8">
                            <div class="form-group">
                                <label for="name">{{ 'Explain' | trans({},'careers') }}</label>
                                <input type="text"
                                       v-model="backExplain"
                                       :disabled="background == true"
                                       class="form-control" placeholder="...">
                            </div>
                        </div>
                    </div>
                </fieldset>
                <fieldset v-if="formApplication" transition="expand">
                    <div class="row">
                        <div class="col-lg-2">
                            <div class="form-group">
                                <label for="name">{{ 'Years on Highschool' | trans({},'careers') }}</label>
                                <select v-model="highschoolYears" class="form-control select2-field">
                                    <option value="0">0</option>
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-lg-2">
                            <div class="form-group">
                                <label for="name">{{ 'Diploma' | trans({},'careers') }}</label>
                                <div class="btn-group btn-group-justified" role="group" aria-label="...">
                                    <div class="btn-group btn-group-lg" role="group">
                                        <button @click="diploma = true" :class="{'active': diploma}"
                                                type="button" class="btn btn-default">{{ 'YES' | trans({},'careers') }}
                                        </button>
                                    </div>
                                    <div class="btn-group btn-group-lg" role="group">
                                        <button @click="diploma = false" :class="{'active': !diploma}"
                                                type="button" class="btn btn-default">NO
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-2">
                            <div class="form-group">
                                <label for="name">G.E.D</label>
                                <div class="btn-group btn-group-justified" role="group" aria-label="...">
                                    <div class="btn-group btn-group-lg" role="group">
                                        <button @click="ged = true" :class="{'active': ged}"
                                                type="button" class="btn btn-default">{{ 'YES' | trans({},'careers') }}
                                        </button>
                                    </div>
                                    <div class="btn-group btn-group-lg" role="group">
                                        <button @click="ged = false" :class="{'active': !ged}"
                                                type="button" class="btn btn-default">NO
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-2">
                            <div class="form-group">
                                <label for="name">{{ 'School(s)' | trans({},'careers') }}</label>
                                <input type="text"
                                       v-model="schools[0].name"
                                       class="form-control" placeholder="...">
                            </div>
                        </div>
                        <div class="col-lg-1">
                            <div class="form-group">
                                <label for="name">{{ 'City/State' | trans({},'careers') }}</label>
                                <input type="text"
                                       v-model="schools[0].state"
                                       class="form-control" placeholder="...">
                            </div>
                        </div>
                        <div class="col-lg-2">
                            <div class="form-group">
                                <label for="name">{{ 'School(s)' | trans({},'careers') }}</label>
                                <input type="text"
                                       v-model="schools[1].name"
                                       class="form-control" placeholder="...">
                            </div>
                        </div>
                        <div class="col-lg-1">
                            <div class="form-group">
                                <label for="name">{{ 'City/State' | trans({},'careers') }}</label>
                                <input type="text"
                                       v-model="schools[1].state"
                                       class="form-control" placeholder="...">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-3">
                            <div class="form-group">
                                <label for="name">{{ 'Years on College/Vocational School' | trans({},'careers') }}</label>
                                <select v-model="collegeYears" class="form-control select2-field">
                                    <option value="0">0</option>
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-lg-2">
                            <div class="form-group">
                                <label for="name">{{ 'School' | trans({},'careers') }}</label>
                                <input type="text" v-model="collegeSchool" class="form-control" placeholder="...">
                            </div>
                        </div>
                        <div class="col-lg-1">
                            <div class="form-group">
                                <label for="name">{{ 'City/State' | trans({},'careers') }}</label>
                                <input type="text" v-model="collegeCity" class="form-control" placeholder="...">
                            </div>
                        </div>
                        <div class="col-lg-2">
                            <div class="form-group">
                                <label for="name">{{ 'Major' | trans({},'careers') }}</label>
                                <input type="text" v-model="major" class="form-control" placeholder="...">
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="form-group">
                                <label for="name">{{ 'Degrees Earned' | trans({},'careers') }}</label>
                                <input type="text" v-model="degree" class="form-control" placeholder="...">
                            </div>
                        </div>
                        <div class="col-lg-1">
                            <div class="form-group">
                                <label for="name">GPA</label>
                                <input type="text" v-mask="99.99" v-model="gpa" class="form-control" placeholder="...">
                            </div>
                        </div>
                    </div>
                </fieldset>
                <fieldset v-if="formApplication" transition="expand">
                    <div class="row">
                        <div class="col-lg-4">
                            <div class="form-group">
                                <label for="name">{{ 'May we contact your present/past employer(s)?' | trans({},'careers') }}</label>
                                <div class="btn-group btn-group-justified" role="group" aria-label="...">
                                    <div class="btn-group btn-group-lg" role="group">
                                        <button @click="contactEmployer=true" :class="{'active':contactEmployer}"
                                                type="button" class="btn btn-default">{{ 'YES' | trans({},'careers') }}
                                        </button>
                                    </div>
                                    <div class="btn-group btn-group-lg" role="group">
                                        <button @click="contactEmployer=false" :class="{'active':!contactEmployer}"
                                                type="button" class="btn btn-default">NO
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-8">
                            <div class="form-group">
                                <label for="">{{ 'If any employment was under a different name, indicate name' |
                                    trans({},'careers') }}</label>
                                <input type="text" v-model="nameForEmployer" class="form-control" placeholder="...">
                            </div>
                        </div>
                    </div>
                    <fieldset v-for="employer in employers" transition="expand">
                        <div class="row">
                            <div class="col-lg-4">
                                <div class="form-group">
                                    <label for="">{{ 'Employer' | trans({},'careers') }}</label>
                                    <input type="text"
                                           v-model="employer.name"
                                           class="form-control" placeholder="...">
                                </div>
                            </div>
                            <div class="col-lg-5">
                                <div class="form-group">
                                    <label for="">{{ 'Address' | trans({},'careers') }}</label>
                                    <input type="text"
                                           v-model="employer.address"
                                           class="form-control" placeholder="...">
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="form-group">
                                    <label for="">{{ 'Telephone' | trans({},'careers') }}</label>
                                    <input type="text"
                                           v-mask="(999) 999-9999"
                                           v-model="employer.phone"
                                           class="form-control" placeholder="...">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-4">
                                <div class="form-group">
                                    <label for="">{{ 'Position' | trans({},'careers') }}</label>
                                    <input type="text"
                                           v-model="employer.position"
                                           class="form-control" placeholder="...">
                                </div>
                            </div>
                            <div class="col-lg-2">
                                <div class="form-group">
                                    <label for="">{{ 'From' | trans({},'careers') }}</label>
                                    <input type="text"
                                           v-model="employer.from"
                                           v-mask="99/99/9999"
                                           class="form-control datepicker" placeholder="DD/MM/YYYY">
                                </div>
                            </div>
                            <div class="col-lg-2">
                                <div class="form-group">
                                    <label for="">{{ 'To' | trans({},'careers') }}</label>
                                    <input type="text"
                                           v-model="employer.to"
                                           v-mask="99/99/9999"
                                           class="form-control datepicker" placeholder="DD/MM/YYYY">
                                </div>
                            </div>
                            <div class="col-lg-2">
                                <div class="form-group">
                                    <label for="name">{{ 'Working as' | trans({},'careers') }}</label>
                                    <div class="btn-group btn-group-justified" role="group" aria-label="...">
                                        <div class="btn-group btn-group-lg" role="group">
                                            <button @click="employer.mode='full'"
                                                    :class="{'active':employer.mode=='full'}"
                                                    type="button"
                                                    class="btn btn-default">{{ 'Full Time' | trans({},'careers') }}
                                            </button>
                                        </div>
                                        <div class="btn-group btn-group-lg" role="group">
                                            <button @click="employer.mode='part'"
                                                    :class="{'active':employer.mode=='part'}"
                                                    type="button"
                                                    class="btn btn-default">{{ 'Part Time' | trans({},'careers') }}
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-2">
                                <div class="form-group">
                                    <label for="">{{ 'Hours' | trans({},'careers') }}</label>
                                    <input type="text"
                                           v-model="employer.hours" v-mask="99"
                                           class="form-control" placeholder="#">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-2">
                                <div class="form-group">
                                    <label for="">{{ 'Salary' | trans({},'careers') }}</label>
                                    <input type="text"
                                           v-model="employer.salary"
                                           v-mask="99999"
                                           class="form-control" placeholder="#">
                                </div>
                            </div>
                            <div class="col-lg-2">
                                <div class="form-group">
                                    <label for="">{{ 'Supervisor' | trans({},'careers') }}</label>
                                    <input type="text"
                                           v-model="employer.supervisor"
                                           class="form-control" placeholder="...">
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="form-group">
                                    <label for="">{{ 'Department' | trans({},'careers') }}</label>
                                    <input type="text"
                                           v-model="employer.department"
                                           class="form-control" placeholder="...">
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="form-group">
                                    <label for="">{{ 'Reason for leaving' | trans({},'careers') }}</label>
                                    <input type="text"
                                           v-model="employer.leavingReason"
                                           class="form-control" placeholder="...">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <label for="">{{ 'Duties' | trans({},'careers') }}</label>
                                    <textarea rows="4"
                                              v-model="employer.duties"
                                              class="form-control" placeholder="..."></textarea>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                    <div class="row button">
                        <div class="col-lg-6">
                            <div class="form-group">
                                <button type="button" @click.stop="addEmployer()"
                                        class="btn btn-default btn-block btn-lg">
                                    <i class="fa fa-plus"></i> {{ 'ADD OTHER EMPLOYER TO YOUR HISTORY' | trans({},'careers') }}
                                </button>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <button type="button"
                                        @click.stop="removeEmployer()" :disabled="this.employers.length == 1"
                                        class="btn btn-default btn-block btn-lg">
                                    <i class="fa fa-trash"></i> {{ 'REMOVE LAST EMPLOYER FROM YOUR HISTORY' | trans({},'careers') }}
                                </button>
                            </div>
                        </div>
                    </div>
                </fieldset>
                <fieldset v-if="formApplication" transition="expand">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label for="">{{ 'List any additional languages, skills, certifications, or additional information that would best suit you to this position' | trans({},'careers') }}
                                    :</label>
                                <textarea v-model="skills" rows="4" class="form-control"></textarea>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label for="">{{ 'Please write in your own words why you are the best candidate for this position' | trans({},'careers') }}</label>
                                <textarea v-model="bestFit" rows="4" class="form-control"></textarea>
                            </div>
                        </div>
                    </div>
                    <div v-for="reference in references" class="row" transition="expand">
                        <div class="col-lg-5">
                            <div class="form-group">
                                <label for="">{{ 'Name' | trans({},'careers') }}</label>
                                <input type="text"
                                       v-model="reference.name"
                                       class="form-control" placeholder="">
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="form-group">
                                <label for="">{{ 'Phone' | trans({},'careers') }}</label>
                                <input type="text"
                                       v-model="reference.phone"
                                       v-mask="(999) 999-9999"
                                       class="form-control" placeholder="">
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="form-group">
                                <label for="name">{{ 'Profesional' | trans({},'careers') }}</label>
                                <div class="btn-group btn-group-justified" role="group" aria-label="...">
                                    <div class="btn-group btn-group-lg" role="group">
                                        <button @click="reference.profesional=true"
                                                :class="{'active':reference.profesional}"
                                                type="button" class="btn btn-default">{{ 'YES' | trans({},'careers') }}
                                        </button>
                                    </div>
                                    <div class="btn-group btn-group-lg" role="group">
                                        <button @click="reference.profesional=false"
                                                :class="{'active':!reference.profesional}"
                                                type="button" class="btn btn-default">NO
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row button">
                        <div class="col-lg-6">
                            <div class="form-group">
                                <button type="button" @click.stop="addReference()"
                                        class="btn btn-default btn-block btn-lg">
                                    <i class="fa fa-plus-circle"></i> {{ 'ADD OTHER REFERENCE' | trans({},'careers') }}
                                </button>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <button type="button"
                                        @click.stop="removeReference()"
                                        :disabled="this.references.length == 1"
                                        class="btn btn-default btn-block btn-lg">
                                    <i class="fa fa-trash"></i> {{ 'REMOVE LAST REFERENCE' | trans({},'careers') }}
                                </button>
                            </div>
                        </div>
                    </div>
                </fieldset>
                <fieldset>
                    <div class="row">
                        <div class="col-lg-5">
                            <div v-if="!formApplication" class="form-group">
                                <label for="">{{ 'Upload your resume in PDF format' | trans({},'careers') }}</label>
                                <label class="error animated fadeInLeft"
                                       v-if="!$validation1.cv.valid">{{ 'This field is required' | trans({},'careers') }}</label>
                                <label class="error animated fadeInLeft"
                                       v-if="$validation1.cv.pdf && !$validation1.cv.pristine">{{ 'This file is not in PDF format' | trans({},'careers') }}</label>
                                <label class="btn btn-block btn-default btn-file right">
                                    <i class="fa fa-upload"></i>
                                    <span>Choose file ...</span>
                                    <span class="label label-default" v-if="cvFileName">${ cvFileName }</span>
                                    <input v-model="cv"
                                           v-validate:cv="{ required:true, pdf:true }"
                                           id="cv"
                                           name="cv"
                                           type="file" style="display: none;">
                                </label>
                            </div>

                            <div v-if="formApplication" class="form-group">
                                <label for="">{{ 'Upload your curriculum in PDF format' | trans({},'careers') }}</label>
                                <label class="error animated fadeInLeft"
                                       v-if="$validation1.cv.pdf && !$validation1.cv.pristine">{{ 'This file is not in PDF format' | trans({},'careers') }}</label>
                                <label class="btn btn-block btn-default btn-file right">
                                    <i class="fa fa-upload"></i>
                                    <span>{{ 'Choose file ...' | trans({},'careers') }}</span>
                                    <span class="label label-default" v-if="cvFileName">${ cvFileName }</span>
                                    <input v-model="cv"
                                           v-validate:cv="{ pdf:true }"
                                           id="cv"
                                           name="cv"
                                           type="file" style="display: none;">
                                </label>
                            </div>
                        </div>

                        <div class="col-lg-5 col-lg-offset-2">
                            <div v-if="!formApplication" class="form-group">
                                <label for="">{{ 'Upload your cover letter in PDF format' | trans({},'careers') }}</label>
                                <label class="error animated fadeInLeft"
                                       v-if="!$validation1.cover.valid">{{ 'This field is required' | trans({},'careers') }}</label>
                                <label class="error animated fadeInLeft"
                                       v-if="$validation1.cover.pdf && !$validation1.cover.pristine">{{ 'This file is not in PDF format' | trans({},'careers') }}</label>
                                <label class="btn btn-block btn-default btn-file right">
                                    <i class="fa fa-upload"></i>
                                    <span>{{ 'Choose file ...' | trans({},'careers') }}</span>
                                    <span class="label label-default" v-if="coverFileName">${ coverFileName }</span>
                                    <input v-model="cover"
                                           v-validate:cover="{ required:true, pdf:true }"
                                           id="cover"
                                           name="cover"
                                           type="file" style="display: none;">
                                </label>
                            </div>

                            <div v-if="formApplication" class="form-group">
                                <label for="">{{ 'Upload your cover letter in PDF format' | trans({},'careers') }}</label>
                                <label class="error animated fadeInLeft"
                                       v-if="$validation1.cover.pdf && !$validation1.cover.pristine">{{ 'This file is not in PDF format' | trans({},'careers') }}</label>
                                <label class="btn btn-block btn-default btn-file right">
                                    <i class="fa fa-upload"></i>
                                    <span>{{ 'Choose file ...' | trans({},'careers') }}</span>
                                    <span class="label label-default" v-if="coverFileName">${ coverFileName }</span>
                                    <input v-model="cover"
                                           v-validate:cover="{ pdf:true }"
                                           id="cover"
                                           name="cover"
                                           type="file" style="display: none;">
                                </label>
                            </div>
                        </div>
                    </div>
                </fieldset>
                <div class="row submit-row text-center">
                    <button type="submit"
                            :disabled="!$validation1.valid"
                            id="submit-application"
                            class="btn btn-blue btn-lg">
                        <i class="fa fa-paper-plane"></i> &nbsp;&nbsp;{{ 'SUBMIT APPLICATION' | trans({},'careers') }}
                    </button>
                </div>
            </form>
        </validator>

        <div v-if="done" class="finished text-center">
            <div class="application-done">
                <div class="sa-icon sa-success animate">
                    <span class="sa-line sa-tip animateSuccessTip"></span>
                    <span class="sa-line sa-long animateSuccessLong"></span>

                    <div class="sa-placeholder"></div>
                    <div class="sa-fix"></div>
                </div>
            </div>
            <h1>{{ 'Application submitted!' | trans({},'careers') }}</h1>
            <br/>
            <p class="text-gray">{{ 'Thank you for applying to be a part of our team. We will carefully review your information and contact you if we have any questions or would like to schedule an interview.' | trans({}, 'careers') }}</p>
            <br/>
            <div class="row">
                <div class="col-md-4 col-md-offset-4 col-sm-8 col-sm-offset-2">
                    <div class="col-sm-6">
                        <a class="btn btn-green btn-lg"
                           HREF="{{ path("frontend_homepage") }}">{{ "DONE" | trans({}, 'careers') }}</a>
                    </div>
                    <div class="visible-xs">
                        <br/>
                    </div>
                    <div class="col-sm-6">
                        <a class="btn btn-success btn-lg"
                           HREF="{{ path("careers_index") }}">{{ "KEEP APPLYING" | trans({}, 'careers') }}</a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <a id="return-to-top" href="#"><i class="fa fa-chevron-up"></i></a>
{% endblock %}

{% block custom_js %}
    {{ parent() }}

    <script src="{{ asset('bundles/frontend/js/vue-validator.min.js') }}"></script>
    <script src="{{ asset('bundles/frontend/js/vue-resource.js') }}"></script>
    <script src="{{ asset('bundles/frontend/js/vue.file-upload.js') }}"></script>
    <script src="{{ asset('bundles/frontend/js/vue.pretty-bytes.js') }}"></script>
    <script src="{{ asset('bundles/frontend/js/moment.min.js') }}"></script>
    <script src="{{ asset('bundles/frontend/js/apply-form.js') }}"></script>
    <!-- iCheck Scripts -->
    <script src="{{ asset('bundles/backend/js/plugins/iCheck/icheck.min.js') }}"
            type="text/javascript"></script>
    <!-- select2 Scripts -->
    <script src="{{ asset('bundles/backend/js/plugins/select2/select2.full.min.js') }}"
            type="text/javascript"></script>
    <!-- datepicker3 Scripts -->
    <script src="{{ asset('bundles/backend/js/plugins/datapicker/bootstrap-datepicker.js') }}"
            type="text/javascript"></script>
    <!-- clockpicker Scripts -->
    <script src="{{ asset('bundles/backend/js/plugins/clockpicker/clockpicker.js') }}"
            type="text/javascript"></script>

{% endblock %}

{% block inline_js %}
    <script type="text/javascript">
        $(document).ready(function () {
            //  iCheck scripts for checkboxes and radios
            $('.i-checks').iCheck({
                checkboxClass: 'icheckbox_square-green',
                radioClass: 'iradio_square-green',
            });

            //  select2 scripts for batch actions combobox
            $(".select2-field").select2({
                placeholder: "--- {{ 'Select a value' | trans({}, 'generalbackend') }} ---"
            });

            //  datepicker3 script for input datetime and date
            $("input.datepicker").datepicker({
                todayBtn: "linked",
                keyboardNavigation: false,
                forceParse: false,
                autoclose: true,
                format: "dd/mm/yyyy"
            });

            // clockpicker scripts for input time
            $(".clockpicker").clockpicker({
                autoclose: true
            });

            // ===== Scroll to Top ====
            $(window).scroll(function () {
                if ($(this).scrollTop() >= 100) {        // If page is scrolled more than 50px
                    $('#return-to-top').fadeIn(200);    // Fade in the arrow
                } else {
                    $('#return-to-top').fadeOut(200);   // Else fade out the arrow
                }
            });
            $('#return-to-top').click(function () {      // When arrow is clicked
                $('body,html').animate({
                    scrollTop: 0                       // Scroll to top of body
                }, 500);
            });

            // Go up for Submit button
            $('#submit-application').click(function () {      // When submit is clicked
                $('body,html').animate({
                    scrollTop: 0                       // Scroll to top of body
                }, 100);
            });

        });
    </script>
{% endblock %}