{% extends '@Frontend/layout.html.twig' %}


{% block metatags %}
    <meta name="keywords" content="Plaza Mariachi Music City,
    {{- 'Careers' | trans({}, 'homepage') -}},
    {{- 'Mall' | trans({}, 'homepage') -}},
    {{- 'Businesses' | trans({}, 'homepage') -}},
    {{- 'Deals' | trans({}, 'homepage') -}},
    {{- 'Buying' | trans({}, 'homepage') -}}
    " xmlns:v-validate="http://www.w3.org/1999/xhtml"/>
    <meta name="description" content="
    {# retrieving settings values #}
    {{- 'Get a chance to work with the Plaza Mariachi team' | trans({}, 'careers') -}}
    "/>
{% endblock %}

{% block title '- ' ~ 'Apply for a job' | trans({}, 'careers') %}

{% block page_content %}

    <section class="inner-content section-spaces-line">
        <div class="header-careers row">
            <div class="col-lg-12 text-center">
                <h2 class="m-b-lg slogan">Inspirational text here</h2>
                <p>
                    asd
                </p>
            </div>
        </div>

        <div class="row">
            <div class="careers-apply col-lg-3 col-lg-offset-9 pull-right">
                {{ 'GO BACK TO' | trans({}, 'careers') }} <a class="btn btn-default"
                                                             href="{{ path('careers_find') }}">{{ 'ALL OPENINGS' | trans({}, 'careers') }}</a>
            </div>
        </div>
    </section>

    <section v-cloak class="apply-form" id="apply-form">
        <div v-if="displayForm" class="row application-selector">
            <div class="col-lg-2 col-lg-offset-3 text-right">
                <h2>apply using our online form</h2>
            </div>
            <div class="col-lg-2 center-block">
                <div class="onoffswitch-ios switch">
                    <label @click="formApplication = !formApplication"
                           :class="{'checked': !formApplication}"
                           class="onoffswitch-ios-label">
                    </label>
                </div>
            </div>
            <div class="col-lg-2">
                <h2>upload your CV & cover letter</h2>
            </div>
        </div>

        <validator name="validation1">
            <form v-if="displayForm" action="{{ path('careers_store') }}" method="post" enctype="multipart/form-data" role="form"
                  @submit.prevent="submitForm()"
                  class="col-lg-offset-1" novalidate>
                <fieldset>
                    <div class="row">
                        <div class="col-lg-4">
                            <div class="form-group">
                                <label for="name">Last Name</label>
                                <label class="error animated fadeInLeft"
                                       v-if="$validation1.lastName.required && !$validation1.lastName.pristine">This
                                    field is required</label>
                                <input type="text"
                                       v-validate:last-name="{ required: prueba }"
                                       v-model="lastName"
                                       class="form-control" placeholder="Last Name">
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="form-group">
                                <label for="name">First Name</label>
                                <label class="error animated fadeInLeft"
                                       v-if="$validation1.firstName.required && !$validation1.firstName.pristine">This
                                    field is required</label>
                                <input type="text"
                                       v-validate:first-name="{ required: true }"
                                       v-model="firstName" class="form-control"
                                       placeholder="First Name">
                            </div>
                        </div>
                        <div class="col-lg-2">
                            <div class="form-group">
                                <label for="name">Middle Name</label>
                                <label class="error animated fadeInLeft"
                                       v-if="$validation1.middleName.required && !$validation1.middleName.pristine">This
                                    field is required</label>
                                <input type="text"
                                       v-validate:middle-name="{ required: true }"
                                       v-model="middleName" class="form-control"
                                       placeholder="Middle Name">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-4">
                            <div class="form-group">
                                <label for="name">Number & Street Name</label>
                                <label class="error animated fadeInLeft"
                                       v-if="$validation1.address.required && !$validation1.address.pristine">This field
                                    is required</label>
                                <input type="text"
                                       v-validate:address="{ required:true }"
                                       v-model="address" class="form-control"
                                       placeholder="Number & Street Name">
                            </div>
                        </div>
                        <div class="col-lg-2">
                            <div class="form-group">
                                <label for="name">City</label>
                                <label class="error animated fadeInLeft"
                                       v-if="$validation1.city.required && !$validation1.city.pristine">This field is
                                    required</label>
                                <input type="text"
                                       v-validate:city="{ required: true}"
                                       v-model="city" class="form-control" placeholder="City">
                            </div>
                        </div>
                        <div class="col-lg-2">
                            <div class="form-group">
                                <label for="name">State</label>
                                <label class="error animated fadeInLeft"
                                       v-if="$validation1.state.required && !$validation1.state.pristine">This field is
                                    required</label>
                                <input type="text"
                                       v-validate:state="{ required: true}"
                                       v-model="state" class="form-control" placeholder="State">
                            </div>
                        </div>
                        <div class="col-lg-2">
                            <div class="form-group">
                                <label for="name">Zip Code</label>
                                <label class="error animated fadeInLeft"
                                       v-if="$validation1.zipCode.required && !$validation1.zipCode.pristine">This field
                                    is required</label>
                                <input type="text"
                                       v-validate:zip-code="{ required: true}"
                                       v-model="zipCode" v-mask="99999" class="form-control"
                                       placeholder="Zip Code">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-3">
                            <div class="form-group">
                                <label for="name">Social Security Number</label>
                                <label class="error animated fadeInLeft"
                                       v-if="$validation1.securityNumber.required && !$validation1.securityNumber.pristine">This
                                    field is required</label>
                                <input type="text"
                                       v-validate:security-number="{ required: true}"
                                       v-mask="999-99-9999" v-model="securityNumber"
                                       class="form-control"
                                       placeholder="Social Security Number">
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="form-group">
                                <label for="name">Are you over 18 years old?</label>
                                <div class="btn-group btn-group-justified" role="group" aria-label="...">
                                    <div class="btn-group btn-group-lg" role="group">
                                        <button @click="adult=true" :class="{'active': adult}" type="button"
                                                class="btn btn-default">Yes
                                        </button>
                                    </div>
                                    <div class="btn-group btn-group-lg" role="group">
                                        <button @click="adult=false" :class="{'active': !adult}" type="button"
                                                class="btn btn-default">No
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="form-group">
                                <label for="name">Phone Number</label>
                                <label class="error animated fadeInLeft"
                                       v-if="$validation1.phone.required && !$validation1.phone.pristine">This field is
                                    required</label>
                                <input type="text"
                                       v-validate:phone="{ required: true}"
                                       v-mask="(999) 999-9999" v-model="phone"
                                       class="form-control" placeholder="Phone Number">
                            </div>
                        </div>
                    </div>
                </fieldset>
                <fieldset v-if="formApplication" transition="expand">
                    <div class="row">
                        <div class="col-lg-3">
                            <div class="form-group">
                                <label for="name">Hours of availability</label>
                                <div class="btn-group btn-group-justified" role="group" aria-label="...">
                                    <div class="btn-group btn-group-lg" role="group">
                                        <button @click="availabilityHours='any'"
                                                :class="{'active': availabilityHours == 'any'}"
                                                type="button" class="btn btn-default">Any
                                        </button>
                                    </div>
                                    <div class="btn-group btn-group-lg" role="group">
                                        <button @click="availabilityHours='all'"
                                                :class="{'active': availabilityHours == 'all'}"
                                                type="button" class="btn btn-default">All
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-1">
                            <div class="form-group">
                                <label for="name">Monday</label>
                                <input type="text" :disabled="availabilityHours == 'all'"
                                       v-mask="99"
                                       v-model="weekHours.monday" class="form-control" placeholder="Monday">
                            </div>
                        </div>
                        <div class="col-lg-1">
                            <div class="form-group">
                                <label for="name">Tuesday</label>
                                <input type="text" :disabled="availabilityHours == 'all'"
                                       v-mask="99"
                                       v-model="weekHours.tuesday" class="form-control" placeholder="Tuesday">
                            </div>
                        </div>
                        <div class="col-lg-1">
                            <div class="form-group">
                                <label for="name">Wednesday</label>
                                <input type="text" :disabled="availabilityHours == 'all'"
                                       v-mask="99"
                                       v-model="weekHours.wednesday" class="form-control" placeholder="Wednesday">
                            </div>
                        </div>
                        <div class="col-lg-1">
                            <div class="form-group">
                                <label for="name">Thursday</label>
                                <input type="text" :disabled="availabilityHours == 'all'"
                                       v-mask="99"
                                       v-model="weekHours.thursday" class="form-control" placeholder="Thursday">
                            </div>
                        </div>
                        <div class="col-lg-1">
                            <div class="form-group">
                                <label for="name">Friday</label>
                                <input type="text" :disabled="availabilityHours == 'all'"
                                       v-mask="99"
                                       v-model="weekHours.friday" class="form-control" placeholder="Friday">
                            </div>
                        </div>
                        <div class="col-lg-1">
                            <div class="form-group">
                                <label for="name">Saturday</label>
                                <input type="text" :disabled="availabilityHours == 'all'"
                                       v-mask="99"
                                       v-model="weekHours.saturday" class="form-control" placeholder="Saturday">
                            </div>
                        </div>
                        <div class="col-lg-1">
                            <div class="form-group">
                                <label for="name">Sunday</label>
                                <input type="text" :disabled="availabilityHours == 'all'"
                                       v-mask="99"
                                       v-model="weekHours.sunday" class="form-control" placeholder="Sunday">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-3">
                            <div class="form-group">
                                <label for="name">Available Since</label>
                                <label class="error animated fadeInLeft"
                                       v-if="$validation1.startDate.required && !$validation1.startDate.pristine">This
                                    field is required</label>
                                <input type="text"
                                       v-validate:start-date="{required:true}"
                                       v-mask="99/99/9999" v-model="startDate" class="form-control"
                                       placeholder="DD/MM/YYYY">
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="form-group">
                                <label for="name">Salary Desired</label>
                                <label class="error animated fadeInLeft"
                                       v-if="$validation1.salary.required && !$validation1.salary.pristine">This field
                                    is required</label>
                                <input type="text"
                                       v-validate:salary="{required:true}"
                                       v-mask="$ 999,999,999.99" v-model="salary"
                                       class="form-control" placeholder="Salary Desired">
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="form-group">
                                <label for="name">Are you available for...</label>
                                <div class="btn-group btn-group-justified" role="group" aria-label="...">
                                    <div class="btn-group btn-group-lg" role="group">
                                        <button @click="availability='full'" :class="{'active': availability == 'full'}"
                                                type="button" class="btn btn-default">Full Time
                                        </button>
                                    </div>
                                    <div class="btn-group btn-group-lg" role="group">
                                        <button @click="availability='part'" :class="{'active': availability == 'part'}"
                                                type="button" class="btn btn-default">Part Time
                                        </button>
                                    </div>
                                    <div class="btn-group btn-group-lg" role="group">
                                        <button @click="availability=false" :class="{'active': availability == false}"
                                                type="button" class="btn btn-default">Either
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-3">
                            <div class="form-group">
                                <label for="name">Do you have a valid Driver's License?</label>
                                <div class="btn-group btn-group-justified" role="group" aria-label="...">
                                    <div class="btn-group btn-group-lg" role="group">
                                        <button @click="hasDriverLicense = true" :class="{'active' : hasDriverLicense}"
                                                type="button" class="btn btn-default">YES
                                        </button>
                                    </div>
                                    <div class="btn-group btn-group-lg" role="group">
                                        <button @click="hasDriverLicense = false"
                                                :class="{'active' : !hasDriverLicense}"
                                                type="button" class="btn btn-default">NO
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-2">
                            <div class="form-group">
                                <label for="name">Drivers License Number</label>
                                <input type="text"
                                       v-model="licenseNumber"
                                       :disabled="hasDriverLicense == false"
                                       class="form-control" placeholder="Drivers License Number">
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="form-group">
                                <label for="name">State</label>
                                <input type="text"
                                       v-model="licenseState"
                                       :disabled="hasDriverLicense == false"
                                       class="form-control" placeholder="State">
                            </div>
                        </div>
                        <div class="col-lg-2">
                            <div class="form-group">
                                <label for="name">Expiration Date</label>
                                <input type="text"
                                       v-mask="DD/MM/YYYY"
                                       v-model="licenseExpiration"
                                       :disabled="hasDriverLicense == false"
                                       class="form-control" placeholder="DD/MM/YYYY">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-5">
                            <div class="form-group">
                                <label for="">Are you legally eligible for employment in the United States</label>
                                <div class="btn-group btn-group-justified" role="group" aria-label="...">
                                    <div class="btn-group btn-group-lg" role="group">
                                        <button @click="legal = true" :class="{'active' : legal}"
                                                type="button" class="btn btn-default">YES
                                        </button>
                                    </div>
                                    <div class="btn-group btn-group-lg" role="group">
                                        <button @click="legal = false" :class="{'active' : !legal}"
                                                type="button" class="btn btn-default">NO
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="help-block">
                                <i class="fa fa-exclamation-circle fa-2x"></i> If offered employment, you will be
                                required
                                to
                                provide documentation to verify eligibility.
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-3">
                            <div class="form-group">
                                <label for="name">Have you been convicted of a crime?</label>
                                <div class="btn-group btn-group-justified" role="group" aria-label="...">
                                    <div class="btn-group btn-group-lg" role="group">
                                        <button @click="crime = true" :class="{'active' : crime}"
                                                type="button" class="btn btn-default">YES
                                        </button>
                                    </div>
                                    <div class="btn-group btn-group-lg" role="group">
                                        <button @click="crime = false" :class="{'active' : !crime}"
                                                type="button" class="btn btn-default">NO
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-7">
                            <div class="form-group">
                                <label for="name">Explain</label>
                                <input type="text"
                                       v-model="crimeExplain"
                                       :disabled="crime == false"
                                       class="form-control" placeholder="...">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-3">
                            <div class="form-group">
                                <label for="name">May we do a background check?</label>
                                <div class="btn-group btn-group-justified" role="group" aria-label="...">
                                    <div class="btn-group btn-group-lg" role="group">
                                        <button @click="background = true" :class="{'active' : background}"
                                                type="button" class="btn btn-default">YES
                                        </button>
                                    </div>
                                    <div class="btn-group btn-group-lg" role="group">
                                        <button @click="background = false" :class="{'active' : !background}"
                                                type="button" class="btn btn-default">NO
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-7">
                            <div class="form-group">
                                <label for="name">Explain</label>
                                <input type="text"
                                       v-model="backExplain"
                                       :disabled="background == true"
                                       class="form-control" placeholder="...">
                            </div>
                        </div>
                    </div>
                </fieldset>
                <fieldset v-if="formApplication" transition="expand">
                    <div class="row">
                        <div class="col-lg-2">
                            <div class="form-group">
                                <label for="name">Years on Highschool</label>
                                <select v-model="highschoolYears" class="form-control">
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-lg-1">
                            <div class="form-group">
                                <label for="name">Diploma</label>
                                <div class="btn-group btn-group-justified" role="group" aria-label="...">
                                    <div class="btn-group btn-group-lg" role="group">
                                        <button @click="diploma = true" :class="{'active': diploma}"
                                                type="button" class="btn btn-default">YES
                                        </button>
                                    </div>
                                    <div class="btn-group btn-group-lg" role="group">
                                        <button @click="diploma = false" :class="{'active': !diploma}"
                                                type="button" class="btn btn-default">NO
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-1">
                            <div class="form-group">
                                <label for="name">G.E.D</label>
                                <div class="btn-group btn-group-justified" role="group" aria-label="...">
                                    <div class="btn-group btn-group-lg" role="group">
                                        <button @click="ged = true" :class="{'active': ged}"
                                                type="button" class="btn btn-default">YES
                                        </button>
                                    </div>
                                    <div class="btn-group btn-group-lg" role="group">
                                        <button @click="ged = false" :class="{'active': !ged}"
                                                type="button" class="btn btn-default">NO
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-2">
                            <div class="form-group">
                                <label for="name">School(s)</label>
                                <input type="text"
                                       v-model="schools[0].name"
                                       class="form-control" placeholder="...">
                            </div>
                        </div>
                        <div class="col-lg-1">
                            <div class="form-group">
                                <label for="name">City/State</label>
                                <input type="text"
                                       v-model="schools[0].state"
                                       class="form-control" placeholder="...">
                            </div>
                        </div>
                        <div class="col-lg-2">
                            <div class="form-group">
                                <label for="name">School(s)</label>
                                <input type="text"
                                       v-model="schools[1].name"
                                       class="form-control" placeholder="...">
                            </div>
                        </div>
                        <div class="col-lg-1">
                            <div class="form-group">
                                <label for="name">City/State</label>
                                <input type="text"
                                       v-model="schools[1].state"
                                       class="form-control" placeholder="...">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-3">
                            <div class="form-group">
                                <label for="name">Years on College/Vocational School</label>
                                <select v-model="collegeYears" class="form-control">
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-lg-2">
                            <div class="form-group">
                                <label for="name">School</label>
                                <input type="text" v-model="collegeSchool" class="form-control" placeholder="...">
                            </div>
                        </div>
                        <div class="col-lg-1">
                            <div class="form-group">
                                <label for="name">City/State</label>
                                <input type="text" v-model="collegeCity" class="form-control" placeholder="...">
                            </div>
                        </div>
                        <div class="col-lg-1">
                            <div class="form-group">
                                <label for="name">Major</label>
                                <input type="text" v-model="major" class="form-control" placeholder="...">
                            </div>
                        </div>
                        <div class="col-lg-2">
                            <div class="form-group">
                                <label for="name">Degrees Earned</label>
                                <input type="text" v-model="degree" class="form-control" placeholder="...">
                            </div>
                        </div>
                        <div class="col-lg-1">
                            <div class="form-group">
                                <label for="name">GPA</label>
                                <input type="text" v-mask="99.99" v-model="gpa" class="form-control" placeholder="...">
                            </div>
                        </div>
                    </div>
                </fieldset>
                <fieldset v-if="formApplication" transition="expand">
                    <div class="row">
                        <div class="col-lg-4">
                            <div class="form-group">
                                <label for="name">May we contact your present/past employer(s)?</label>
                                <div class="btn-group btn-group-justified" role="group" aria-label="...">
                                    <div class="btn-group btn-group-lg" role="group">
                                        <button @click="contactEmployer=true" :class="{'active':contactEmployer}"
                                                type="button" class="btn btn-default">YES
                                        </button>
                                    </div>
                                    <div class="btn-group btn-group-lg" role="group">
                                        <button @click="contactEmployer=false" :class="{'active':!contactEmployer}"
                                                type="button" class="btn btn-default">NO
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label for="">If any employment was under a different name, indicate name</label>
                                <input type="text" v-model="nameForEmployer" class="form-control" placeholder="...">
                            </div>
                        </div>
                    </div>
                    <fieldset v-for="employer in employers" transition="expand">
                        <div class="row">
                            <div class="col-lg-3">
                                <div class="form-group">
                                    <label for="">Employer</label>
                                    <input type="text"
                                           v-model="employer.name"
                                           class="form-control" placeholder="...">
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="form-group">
                                    <label for="">Address</label>
                                    <input type="text"
                                           v-model="employer.address"
                                           class="form-control" placeholder="...">
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="form-group">
                                    <label for="">Telephone</label>
                                    <input type="text"
                                           v-mask="(999) 999-9999"
                                           v-model="employer.phone"
                                           class="form-control" placeholder="...">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-3">
                                <div class="form-group">
                                    <label for="">Position</label>
                                    <input type="text"
                                           v-model="employer.position"
                                           class="form-control" placeholder="...">
                                </div>
                            </div>
                            <div class="col-lg-2">
                                <div class="form-group">
                                    <label for="">From</label>
                                    <input type="text"
                                           v-model="employer.from"
                                           v-mask="99/99/99999"
                                           class="form-control" placeholder="DD/MM/YYYY">
                                </div>
                            </div>
                            <div class="col-lg-2">
                                <div class="form-group">
                                    <label for="">To</label>
                                    <input type="text"
                                           v-model="employer.to"
                                           v-mask="99/99/99999"
                                           class="form-control" placeholder="DD/MM/YYYY">
                                </div>
                            </div>
                            <div class="col-lg-2">
                                <div class="form-group">
                                    <label for="name">Working as</label>
                                    <div class="btn-group btn-group-justified" role="group" aria-label="...">
                                        <div class="btn-group btn-group-lg" role="group">
                                            <button @click="employer.mode='full'"
                                                    :class="{'active':employer.mode=='full'}"
                                                    type="button" class="btn btn-default">Full Time
                                            </button>
                                        </div>
                                        <div class="btn-group btn-group-lg" role="group">
                                            <button @click="employer.mode='part'"
                                                    :class="{'active':employer.mode=='part'}"
                                                    type="button" class="btn btn-default">Part Time
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-1">
                                <div class="form-group">
                                    <label for="">Hours</label>
                                    <input type="text"
                                           v-model="employer.hours" v-mask="99"
                                           class="form-control" placeholder="">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-1">
                                <div class="form-group">
                                    <label for="">Salary</label>
                                    <input type="text"
                                           v-model="employer.salary"
                                           v-mask="99999"
                                           class="form-control" placeholder="">
                                </div>
                            </div>
                            <div class="col-lg-2">
                                <div class="form-group">
                                    <label for="">Supervisor</label>
                                    <input type="text"
                                           v-model="employer.supervisor"
                                           class="form-control" placeholder="">
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="form-group">
                                    <label for="">Department</label>
                                    <input type="text"
                                           v-model="employer.department"
                                           class="form-control" placeholder="">
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="form-group">
                                    <label for="">Reason for leaving</label>
                                    <input type="text"
                                           v-model="employer.leavingReason"
                                           class="form-control" placeholder="...">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-10">
                                <div class="form-group">
                                    <label for="">Duties</label>
                                    <textarea rows="4"
                                              v-model="employer.duties"
                                              class="form-control"></textarea>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                    <div class="row button">
                        <div class="col-lg-5">
                            <div class="form-group">
                                <button type="button" @click.stop="addEmployer()"
                                        class="btn btn-default btn-block btn-lg">
                                    <i class="fa fa-plus"></i> ADD OTHER EMPLOYER TO YOUR HISTORY
                                </button>
                            </div>
                        </div>
                        <div class="col-lg-5">
                            <div class="form-group">
                                <button type="button"
                                        @click.stop="removeEmployer()" :disabled="this.employers.length == 1"
                                        class="btn btn-default btn-block btn-lg">
                                    <i class="fa fa-trash"></i> REMOVE LAST EMPLOYER FROM YOUR HISTORY
                                </button>
                            </div>
                        </div>
                    </div>
                </fieldset>
                <fieldset v-if="formApplication" transition="expand">
                    <div class="row">
                        <div class="col-lg-5">
                            <div class="form-group">
                                <label for="">List any additional languages, skills, certifications, or additional
                                    information
                                    that would best suit you to this position:</label>
                                <textarea v-model="skills" rows="4" class="form-control"></textarea>
                            </div>
                        </div>
                        <div class="col-lg-5">
                            <div class="form-group">
                                <label for="">Please write in your own words why you are the best candidate for this
                                    position</label>
                                <textarea v-model="bestFit" rows="4" class="form-control"></textarea>
                            </div>
                        </div>
                    </div>
                    <div v-for="reference in references" class="row" transition="expand">
                        <div class="col-lg-4">
                            <div class="form-group">
                                <label for="">Name</label>
                                <input type="text"
                                       v-model="reference.name"
                                       class="form-control" placeholder="">
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="form-group">
                                <label for="">Phone</label>
                                <input type="text"
                                       v-model="reference.phone"
                                       v-mask="(999) 999-9999"
                                       class="form-control" placeholder="">
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="form-group">
                                <label for="name">Profesional</label>
                                <div class="btn-group btn-group-justified" role="group" aria-label="...">
                                    <div class="btn-group btn-group-lg" role="group">
                                        <button @click="reference.profesional=true"
                                                :class="{'active':reference.profesional}"
                                                type="button" class="btn btn-default">YES
                                        </button>
                                    </div>
                                    <div class="btn-group btn-group-lg" role="group">
                                        <button @click="reference.profesional=false"
                                                :class="{'active':!reference.profesional}"
                                                type="button" class="btn btn-default">NO
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row button">
                        <div class="col-lg-5">
                            <div class="form-group">
                                <button type="button" @click.stop="addReference()"
                                        class="btn btn-default btn-block btn-lg">
                                    <i class="fa fa-plus-circle"></i> ADD OTHER REFERENCE
                                </button>
                            </div>
                        </div>
                        <div class="col-lg-5">
                            <div class="form-group">
                                <button type="button"
                                        @click.stop="removeReference()"
                                        :disabled="this.references.length == 1"
                                        class="btn btn-default btn-block btn-lg">
                                    <i class="fa fa-trash"></i> REMOVE LAST REFERENCE
                                </button>
                            </div>
                        </div>
                    </div>
                </fieldset>
                <fieldset>
                    <div class="row">
                        <div class="col-lg-4">
                            <div v-if="!formApplication" class="form-group">
                                <label for="">Upload your curriculum in PDF format</label>
                                <label class="error animated fadeInLeft"
                                       v-if="!$validation1.cv.valid">This field is required</label>
                                <label class="btn btn-block btn-default btn-file right">
                                    <i class="fa fa-upload"></i> Choose file ...
                                    <input v-model="cv"
                                           v-validate:cv="{required:true}"
                                           name="cv"
                                           type="file" style="display: none;">
                                </label>
                            </div>

                            <div v-if="formApplication" class="form-group">
                                <label for="">Upload your curriculum in PDF format</label>
                                <label class="btn btn-block btn-default btn-file right">
                                    <i class="fa fa-upload"></i> Choose file ...
                                    <input v-model="cv"
                                           name="cv"
                                           type="file" style="display: none;">
                                </label>
                            </div>
                        </div>

                        <div class="col-lg-4 col-lg-offset-2">
                            <div v-if="!formApplication" class="form-group">
                                <label for="">Upload your cover letter in PDF format</label>
                                <label class="error animated fadeInLeft"
                                       v-if="!$validation1.cover.valid">This field is required</label>
                                <label class="btn btn-block btn-default btn-file right">
                                    <i class="fa fa-upload"></i> Choose file ...
                                    <input v-model="cover"
                                           v-validate:cover="{required:true}"
                                           name="cover"
                                           type="file" style="display: none;">
                                </label>
                            </div>

                            <div v-if="formApplication" class="form-group">
                                <label for="">Upload your cover letter in PDF format</label>
                                <label class="btn btn-block btn-default btn-file right">
                                    <i class="fa fa-upload"></i> Choose file ...
                                    <input v-model="cover"
                                           name="cover"
                                           type="file" style="display: none;">
                                </label>
                            </div>
                        </div>
                    </div>
                </fieldset>
                <div class="row">
                    <div class="col-lg-4 col-lg-offset-3">
                        <button type="submit"
                                :disabled="!$validation1.valid"
                                class="btn btn-amber btn-block btn-lg">SUBMIT
                            APPLICATION
                        </button>
                    </div>
                </div>
            </form>
        </validator>

        <div v-if="done" class="finished text-center">
            <div class="application-done">
                <div class="sa-icon sa-success animate">
                    <span class="sa-line sa-tip animateSuccessTip"></span>
                    <span class="sa-line sa-long animateSuccessLong"></span>

                    <div class="sa-placeholder"></div>
                    <div class="sa-fix"></div>
                </div>
            </div>
            <h1>Your application has been submitted!</h1>
        </div>
    </section>

{% endblock %}

{% block custom_js %}
    {{ parent() }}

    <script src="{{ asset('bundles/frontend/js/vue-validator.min.js') }}"></script>
    <script src="{{ asset('bundles/frontend/js/vue-resource.js') }}"></script>
    <script src="{{ asset('bundles/frontend/js/vue.file-upload.js') }}"></script>
    <script src="{{ asset('bundles/frontend/js/vue.pretty-bytes.js') }}"></script>
    <script src="{{ asset('bundles/frontend/js/apply-form.js') }}"></script>
{% endblock %}

{% block inline_js %}
    <script type="text/javascript">
        $(document).ready(function () {

        });
    </script>
{% endblock %}