{% extends '@Frontend/layout.html.twig' %}

{% block metatags %}
    <meta name="keywords" content="Plaza Mariachi Music City,
    {{- 'Subscribe for new deals' | trans({}, 'subscription') -}},
    {{- 'Mall' | trans({}, 'homepage') -}},
    {{- 'Businesses' | trans({}, 'homepage') -}},
    {{- 'Deals' | trans({}, 'homepage') -}},
    {{- 'Buying' | trans({}, 'homepage') -}}
    " />
    <meta name="description" content="
    {{- render(controller('BackendBundle:Settings:getSettings', { 'property' : 'textAbout' })) -}}
    " />
{% endblock %}

{% block title ' - ' ~ "Subscribe for deals" %}

{% block custom_css %}
    {{ parent() }}

    <!-- Style for select2 plugin -->
    <link rel="stylesheet" href="{{ asset('bundles/backend/css/plugins/select2/select2.min.css') }}">
{% endblock %}

{% block page_content %}
    <section class="inner-content section-spaces-line">
        <div class="container">
            <div class="row m-b">
                <div class="col-lg-12 text-center">
                    <div class="section-line amber-line"></div>
                    <h1>{{ render(controller('BackendBundle:Settings:getSettings', { 'property' : 'headerSubscribeForDeals' })) }}</h1>
                    <p>{{ render(controller('BackendBundle:Settings:getSettings', { 'property' : 'subheaderSubscribeForDeals' })) }}</p>
                    <p>{{ render(controller('BackendBundle:Settings:getSettings', { 'property' : 'textSubscribeForDeals' })) }}...</p>
                </div>
            </div>
            <div class="col-sm-6 col-sm-offset-3 text-center">
                {{ form_start(form) }}

                <div class="form-group{% if(form.email.vars['errors']|length > 0) %} {{ ' has-error' }} {% endif %}">

                    {{ form_widget(form.email, { 'attr': {'class' : 'form-control', 'placeholder' : 'EMAIL' | trans({}, 'subscription') }}) }}
                    {% if form.email.vars['errors']|length > 0 %}
                        <ul class="message">
                            {% for error in form.email.vars['errors'] %}
                                <li>{{ error.message | trans({}, 'subscription') }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}

                </div>

                <div class="form-group{% if(form.categories.vars['errors']|length > 0) %} {{ ' has-error' }} {% endif %}">

                    {{ form_widget(form.categories, { 'attr': {
                        'class' : 'form-control select2-field',
                        'style' : 'width: 100%',
                    }}) }}
                    {% if form.categories.vars['errors']|length > 0 %}
                        <ul class="message">
                            {% for error in form.categories.vars['errors'] %}
                                <li>{{ error.message | trans({}, 'subscription') }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}

                </div>

                <div class="form-group m-t-lg">
                    <div class="col-md-12">

                        {{ form_widget(form.submit, { 'attr': { 'class' : 'btn btn-amber btn-lg', }}) }}

                        {{ form(form) }}

                    </div>
                </div>

                {{ form_end(form) }}
            </div>
        </div>
    </section>
{% endblock %}

{% block custom_js %}
    {{ parent() }}

    <script src="{{ asset('bundles/backend/js/plugins/select2/select2.full.min.js') }}"></script>
{% endblock %}

{% block inline_js %}
    <script type="text/javascript">

        $(document).ready(function () {

            //  select2 scripts for batch actions combobox
            $(".select2-field").select2({
                placeholder: "--- {{ 'SELECT A CATEGORY' | trans({}, 'subscription') }} ---"
            });
        });

    </script>
{% endblock %}