{% extends '@Frontend/layout.html.twig' %}

{% block navbar %}
    {% embed '@Frontend/navbar.html.twig' %}
        {% block navbar_class '' %}
    {% endembed %}
{% endblock %}

{% block javascript %}
    {{ parent() }}
    <script src="{{ asset('bundles/frontend/js/app.js') }}"></script>
{% endblock %}

{% block slider %}
    <div id="inSlider" class="carousel carousel-fade" data-ride="carousel">
        <div class="carousel-inner" role="listbox">
            <div class="item active">
                <div class="container">
                    <div class="carousel-caption">
                        <h1>We craft<br/>
                            brands, web apps,<br/>
                            and user interfaces<br/>
                            we are IN+ studio</h1>
                        <p>Lorem Ipsum is simply dummy text of the printing.</p>
                        <p>
                            <a class="btn btn-lg btn-primary" href="landing.html#" role="button">READ MORE</a>
                            <a class="caption-link" href="landing.html#" role="button">Inspinia Theme</a>
                        </p>
                    </div>
                    <div class="carousel-image wow zoomIn">
                        {#<img src="img/landing/laptop.png" alt="laptop"/>#}
                    </div>
                </div>
                <!-- Set background for slide in css -->
                <div class="header-back one"></div>
            </div>
        </div>
    </div>
{% endblock %}

{% block topdeals %}
    <section id="features" class="container services top-deals">
        <h1>TOP DEALS OF THE DAY</h1>

        {% for deal in deals %}
            <div class="col-sm-4 text-center">
                <h3>{{ deal.name | upper }}</h3>
                <p>AT {{ deal.business.name | upper }}</p>
                <p>ENDS: {{ deal.endsAt | date('m/d/Y') }}</p>
                <div class="hovereffect">
                    <div class="container-image ">
                        <img class="center-height" src="{{ asset('images/deals/' ~ deal.image) }} "/>
                        <div class="overlay">
                            <a class="info" href="{{ path('deal_details', {'slug' : deal.slug}) }}">Show Deal</a>
                        </div>
                    </div>
                </div>
                {#<p><a class="btn btn-info" href="{{ path('deal_details', {'slug' : deal.slug}) }}" role="button">View#}
                {#Deal</a></p>#}
            </div>
        {% endfor %}

        <div class="col-sm-2 pull-right">
            <a href="{{ path('deals') }}" class="btn btn-lg btn-block btn-xl btn-primary">
                VIEW ALL DEALS
            </a>
        </div>
    </section>
{% endblock %}

{% block topbusinesses %}
    {#<section class="features">#}
    {#<div class="container">#}
    {#<div class="row">#}
    {#<div class="col-lg-12 text-center">#}
    {#<div class="navy-line"></div>#}
    {#<h1>Our best businesses</h1>#}
    {#</div>#}
    {#</div>#}
    {#<div class="row">#}
    {#<div class="col-lg-5 col-lg-offset-1 features-text">#}
    {#<small>INSPINIA</small>#}
    {#<h2>Perfectly designed </h2>#}
    {#<i class="fa fa-bar-chart big-icon pull-right"></i>#}
    {#<p>INSPINIA Admin Theme is a premium admin dashboard template with flat design concept. It is fully#}
    {#responsive admin dashboard template built with Bootstrap 3+ Framework, HTML5 and CSS3, Media#}
    {#query.#}
    {#It has a huge collection of reusable UI components and integrated with.</p>#}
    {#</div>#}
    {#<div class="col-lg-5 features-text">#}
    {#<small>INSPINIA</small>#}
    {#<h2>Perfectly designed </h2>#}
    {#<i class="fa fa-bolt big-icon pull-right"></i>#}
    {#<p>INSPINIA Admin Theme is a premium admin dashboard template with flat design concept. It is fully#}
    {#responsive admin dashboard template built with Bootstrap 3+ Framework, HTML5 and CSS3, Media#}
    {#query.#}
    {#It has a huge collection of reusable UI components and integrated with.</p>#}
    {#</div>#}
    {#</div>#}
    {#</div>#}
    {#</section>#}
{% endblock %}