{% extends '@Frontend/layout.html.twig' %}

{% block title %} {{- "Nashville's Cultural Shopping Experience" | trans({}, 'general') -}} {% endblock %}

{% block metatags %}
    <meta name="keywords"
          content="{{- render(controller('BackendBundle:Settings:getSettings', { 'property' : 'websiteBrand' })) -}},
    {{- 'Mall' | trans({}, 'homepage') -}},
    {{- 'Businesses' | trans({}, 'homepage') -}},
    {{- 'Deals' | trans({}, 'homepage') -}},
    {{- 'Buying' | trans({}, 'homepage') -}}
    "/>
    <meta name="description" content="
    {#- retrieving settings values -#}
    {#-{{- render(controller('BackendBundle:Settings:getSettings', { 'property' : 'textAbout' })) -}}-#}
    {{- "The Plaza Mariachi CULTURAL EXPERIENCE offers a blend of culture, art, music, food, and retail in one location in the heart of the Nashville Hispanic Community" | trans({}, 'general') -}}
    "/>
{% endblock %}

{% block custom_css %}
    {{ parent() }}

    <link href="{{ asset('bundles/frontend/css/flipclock.css') }}" rel="stylesheet">
    <link href="{{ asset('bundles/frontend/css/flipclock-theme.css') }}" rel="stylesheet">
{% endblock %}

{% block inline_css %}

    <style type="text/css">
        .landing-page .header-back.one {
            background-image: url('{{ asset('images/settings/' ~ render(controller('BackendBundle:Settings:getSettings', { 'property' : 'websiteBanner' }))) }}');
        }

        @media (max-width: 1200px) {
            .landing-page .header-back.one {
                background-image: url('{{ asset('images/settings/' ~ render(controller('BackendBundle:Settings:getSettings', { 'property' : 'tabletBanner' }))) }}');
            }
        }

        @media (max-width: 768px) {
            .landing-page .header-back.one {
                background-image: url('{{ asset('images/settings/' ~ render(controller('BackendBundle:Settings:getSettings', { 'property' : 'mobileBanner' }))) }}');
            }
        }
    </style>

{% endblock %}

{% block navbar %}
    {% embed '@Frontend/navbar.html.twig' %}
        {% block navbar_class '' %}
    {% endembed %}
{% endblock %}

{% block page_content %}

    {# slider #}
    <div id="inSlider" class="inner-content carousel carousel-fade" data-ride="carousel">
        <div class="carousel-inner" role="listbox">
            <div class="item active animated fadeIn">
                <div class="container">
                    <div class="carousel-caption blank">
                        {#<h1 class="bottom-title">{{ render(controller('BackendBundle:Settings:getSettings', { 'property' : 'websiteSlogan' })) | upper }}</h1>
                        <h1 id="coming-soon-text">{{ 'NOW OPEN' | trans({}, 'homepage') }}</h1>#}
                        {# <div class="flip-counter clock"></div> #}

                        {#<div class="boxes">
                            <div class="box green">
                                <a href="{{ path('business_list', {'category' : 'grocery,clothing,electronics,art,beauty-salon,fine-jewelry,gifts-specialty,sports'}) }}">{{ 'Shop' | trans({}, 'homepage') }}</a>
                            </div>
                            <div class="box blue">
                                <a href="{{ path('business_list', {'category' : 'dining,food-court-vendor,fast-food-chain'}) }}">{{ 'Dine' | trans({}, 'homepage') }}</a>
                            </div>
                            <div class="box orange">
                                <a href="http://ceibagallery.com"
                                   target="_blank">{{ 'Art' | trans({}, 'homepage') }}</a>
                            </div>
                            <div class="box purple">
                                <a href="{{ path('calendar', {'key':'music'}) }}">{{ 'Music' | trans({}, 'homepage') }}</a>
                            </div>
                        </div>#}
                    </div>
                    <div class="carousel-image wow zoomIn">
                    </div>
                </div>
                <!-- Set background for slide in css -->
                <div class="header-back one"></div>
            </div>
        </div>
    </div>

    <section id="features" class="container section-spaces-line top-deals">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="section-line"></div>
                <blockquote>
                    <h3><em>Plaza Mariachi a feast for the senses.</em></h3>
                    &mdash; The Tenneessean
                </blockquote>
            </div>
        </div>
    </section>

    {# top deals #}
    {#<section id="features" class="container section-spaces-line top-deals">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="section-line pink-line"></div>
                <h1>{{ render(controller('BackendBundle:Settings:getSettings', { 'property' : 'headerTodaysHoursOperation' })) }}</h1>
                <p>{{ render(controller('BackendBundle:Settings:getSettings', { 'property' : 'subheaderTodaysHoursOperation' })) }}</p>
            </div>
        </div>

        <div class="col-sm-12 text-center m-b">
            <h2 class="m-t-n">
                <span class="font-bold">{{ 'Every week day' | trans({}, 'homepage') }}</span>,
                from <span class="font-bold">10:00am</span> to <span class="font-bold">9:00pm</span>
            </h2>
        </div>
    </section>#}

    {# top deals #}
    {#<section id="features" class="gray-bg section-spaces-line top-deals">
        <div class="container">
            <div class="row m-b">
                <div class="col-lg-12 text-center">
                    <div class="section-line amber-line"></div>
                    <h1>{{ render(controller('BackendBundle:Settings:getSettings', { 'property' : 'headerTopDealsOfDay' })) }}</h1>

                    <p>{{ render(controller('BackendBundle:Settings:getSettings', { 'property' : 'subheaderTopDealsOfDay' })) }}</p>
                </div>
            </div>

            {% for deal in deals %}
                <div class="col-sm-4 text-center">
                    <h3>{{ deal.name | upper }}</h3>
                    <p>{{ 'AT' | trans({}, 'general') }}: {{ deal.business.name | upper }}</p>
                    <p>{{ 'ENDS' | trans({}, 'general') }}: {{ deal.endsAt | date('m/d/Y') }}</p>
                    <div class="hovereffect">
                        <div class="container-image ">
                            <img class="center-height" alt="{{ deal.name }}" title="{{ deal.name }}"
                                 src="{{ asset('images/deals/' ~ deal.image) }} "/>
                            <div class="overlay">
                                <a title="Deal details" class="info"
                                   href="{{ path('deal_details', {'slug' : deal.slug}) }}">
                                    {{ 'Show Deal' | trans({}, 'homepage') }}
                                </a>
                            </div>
                        </div>
                    </div>
                    <p><a title="Deal details" class="btn btn-info"
                          href="{{ path('deal_details', {'slug' : deal.slug}) }}" role="button">View
                            Deal</a></p>
                </div>
            {% endfor %}

            <div class="col-sm-12 text-center show-all-deals">
                <a title="{{ 'VIEW ALL DEALS' | trans({}, 'homepage') }}" href="{{ path('deals') }}"
                   class="btn btn-lg btn-xl btn-amber">
                    {{ 'VIEW ALL DEALS' | trans({}, 'homepage') }}
                </a>
            </div>
        </div>
    </section>#}


    {# job fair #}
    {# <section class="section-spaces-line hidden-print">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="section-line green-line"></div>
                    <h1>
                        {{ 'DO YOU WANT TO BE PART OF SOMETHING BIG?' | trans({}, 'homepage') }}
                    </h1>
                </div>

                <div class="col-sm-12 text-center">

                    <br />
                    <p class="text-gray">
                        {{ "Plaza Mariachi is set to become Nashville's hot new destination with food, music and entertainment in a beautiful setting that reminiscent of Old Mexico. Come to the Plaza Mariachi job fair where we will be hiring on the spot for more than 200 positions in food and beverage, retail, sales, management, cosmetology, entertainment and more." | trans({}, 'homepage') }}
                        {{ " " }}
                        <span style="text-decoration: underline">
                            {{ "Bilingual is a plus!" | trans({}, 'homepage') }}
                        </span>
                    </p>
                    <p class="text-gray">
                        {{ "Come to the Plaza Mariachi Job fair" | trans({}, 'homepage') }}
                        {{ " " }}
                        <b style="color: #FF0000;">
                            {{ "January 6 from noon to 6 and January 7 from 9 am to 1 pm" | trans({}, 'homepage') }}
                        </b>
                        {{ " " }}
                        {{ "at Plaza Mariachi, 3955 Nolensville Pk in Nashville." | trans({}, 'homepage') }}
                    </p>
                    <br />
                    <br/>
                    <br/>
                    <a title="{{ 'JOIN US' | trans({}, 'homepage') }}" href="{{ path('careers_index') }}"
                       class="btn btn-lg btn-green">{{ 'JOIN US' | trans({}, 'homepage') }}</a>
                </div>
            </div>
        </div>
    </section> #}

    {# <section class="section-spaces-line hidden-print">
        <div class="container flex-container flex-center-h">
            <div class="alert-message alert-message-info col-sm-8 flex-container">
                <h4 class="alert-icon">
                    <i class="fa fa-info-circle"></i>
                </h4>
                <p>
                    {{ 'This Saturday we\'re closing our doors at 8:00pm due to the paid event - Frankie Negrón Salsa Party at 9:30pm. Click on the banner below to buy tickets.' | trans({}, 'homepage') }}
                </p>
            </div>
        </div>
    </section> #}

    {# <section class="section-spaces-line hidden-print">
        <div class="container">
            <a target="_blank"
               href="https://www.eventbrite.com/e/plaza-mariachi-presents-frankie-negron-grammy-nominated-salsa-artist-tickets-36554531588?aff=efbeventtix"
               class="flex-container flex-center-h">
                <img class="img-responsive" src="{{ asset('bundles/frontend/img/frankie-negron.jpg') }}"
                     alt="Frankie Negron in Plaza Mariachi the August 12, 2017 at 9:30pm">
            </a>
        </div>
    </section> #}

    <section id="features" class="gray-bg section-spaces-line">
        <div class="container">
            <div class="row m-b">
                <div class="col-lg-12 text-center">
                    <div class="section-line amber-line"></div>
                    <h1>{{ render(controller('BackendBundle:Settings:getSettings', { 'property' : 'headerFeatureBrands' })) }}</h1>

                    <p>{{ render(controller('BackendBundle:Settings:getSettings', { 'property' : 'subheaderFeatureBrands' })) }}</p>
                </div>
            </div>

            <div class="col-sm-12 text-center">
                {% for business in featured_brands %}
                    <div class="col-sm-4 text-center">
                        <a title="{{ business.name }}" href="{{ path('business_details', {'slug' : business.slug}) }}"
                           class="thumbnail">
                            <div class="container-image business-image">
                                <img class="center-height img-responsive business-image"
                                     alt="{{ business.name }}"
                                     title="{{ business.name }}"
                                     src="{{ asset('images/business/' ~ business.logo) }} "/>
                            </div>
                        </a>
                        <h3>{{ business.name | upper }}</h3>
                        {#<p>{{ business.description | slice(0, 150) }} ...</p>#}
                    </div>
                {% endfor %}
            </div>

            <div class="col-sm-12 text-center show-all-deals">
                <a title="{{ 'SEE ALL THE BRANDS' | trans({}, 'homepage') }}" href="{{ path('business_list') }}"
                   class="btn btn-lg btn-xl btn-amber">
                    {{ 'SEE ALL THE BRANDS' | trans({}, 'homepage') }}
                </a>
            </div>
        </div>
    </section>

    {# become a member #}
    <section class="section-spaces-line hidden-print">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="section-line blue-line"></div>
                    <h2>{{ render(controller('BackendBundle:Settings:getSettings', { 'property' : 'headerBecomeMemberToday' })) }}</h2>
                    <p>{{ render(controller('BackendBundle:Settings:getSettings', { 'property' : 'subheaderBecomeMemberToday' })) }}</p>

                    <a title="{{ 'SIGNUP' | trans({}, 'homepage') }}"
                       href="{{ path('fos_user_registration_register') }}"
                       class="btn btn-lg btn-xl btn-blue">{{ 'SIGNUP' | trans({}, 'homepage') }}</a>
                </div>
            </div>
        </div>
    </section>

{% endblock %}

{% block custom_js %}
    {{ parent() }}

    <script src="{{ asset('bundles/frontend/js/flipclock.js') }}"></script>
    <script src="{{ asset('bundles/frontend/js/moment.min.js') }}"></script>
{% endblock %}

{% block inline_js %}
    <script type="text/javascript">
        $(document).ready(function () {

            var clock = $('.flip-counter').FlipClock({
                clockFace: 'DailyCounter',
                autoStart: false,
                showSeconds: true,
                language: '{{ app.request.get('_locale') }}',
                // callbacks: {
                //     stop: function() {
                //         $('.message').html('The clock has stopped!')
                //     }
                // }
            });

            var end = moment([2017, 4, 12, 17, 00]);
            var start = moment(new Date());

            clock.setTime(end.diff(start, 'seconds'));
            clock.setCountdown(true);
            clock.start();
        });
    </script>
{% endblock %}
