{% extends '@Frontend/layout.html.twig' %}

{% block metatags %}
    <meta name="keywords" content="Plaza Mariachi Music City,
    {{- 'Mall' | trans({}, 'homepage') -}},
    {{- 'Businesses' | trans({}, 'homepage') -}},
    {{- 'Deals' | trans({}, 'homepage') -}},
    {{- 'Buying' | trans({}, 'homepage') -}}
    "/>
    <meta name="description" content="
    {# retrieving settings values #}
    {{- render(controller('BackendBundle:Settings:getSettings', { 'property' : 'textAbout' })) -}}
    "/>
{% endblock %}

{% block inline_css %}
    <style type="text/css" rel="stylesheet">
        .landing-page .header-back.one {
            background-image: url('{{ asset('images/settings/' ~ render(controller('BackendBundle:Settings:getSettings', { 'property' : 'websiteBanner' }))) }}');
            background-repeat: no-repeat;
            -webkit-background-size:cover;
            -moz-background-size:cover;
            -o-background-size:cover;
            background-size:cover;
            background-position: bottom center;
        }
    </style>
{% endblock %}

{% block navbar %}
    {% embed '@Frontend/navbar.html.twig' %}
        {% block navbar_class '' %}
    {% endembed %}
{% endblock %}

{% block page_content %}

    {# slider #}
    <div id="inSlider" class="inner-content carousel carousel-fade" data-ride="carousel">
        <div class="carousel-inner" role="listbox">
            <div class="item active animated fadeIn">
                <div class="container">
                    <div class="carousel-caption blank">
                        <h1>{{ render(controller('BackendBundle:Settings:getSettings', { 'property' : 'websiteSlogan' })) | upper }}</h1>
                        <p>
                            <a class="btn btn-lg btn-amber" href="{{ path("fos_user_registration_register") }}"
                               role="button">{{ 'BECOME A MEMBER' | trans({}, 'homepage') }}</a>
                        </p>
                    </div>
                    <div class="carousel-image wow zoomIn">
                    </div>
                </div>
                <!-- Set background for slide in css -->
                <div class="header-back one"></div>
            </div>
        </div>
    </div>

    {# top deals #}
    {#<section id="features" class="container section-spaces-line top-deals">#}
    {#<div class="row">#}
    {#<div class="col-lg-12 text-center">#}
    {#<div class="section-line pink-line"></div>#}
    {#<h1>{{ render(controller('BackendBundle:Settings:getSettings', { 'property' : 'headerTodaysHoursOperation' })) }}</h1>#}
    {#<p>{{ render(controller('BackendBundle:Settings:getSettings', { 'property' : 'subheaderTodaysHoursOperation' })) }}</p>#}
    {#</div>#}
    {#</div>#}

    {#<div class="col-sm-12 text-center m-b">#}
    {#<h2 class="m-t-n">#}
    {#<span class="font-bold">{{ 'Every week day' | trans({}, 'homepage') }}</span>,#}
    {#from <span class="font-bold">10:00am</span> to <span class="font-bold">9:00pm</span>#}
    {#</h2>#}
    {#</div>#}
    {#</section>#}

    {# top deals #}
    {#<section id="features" class="gray-bg section-spaces-line top-deals">#}
    {#<div class="container">#}
    {#<div class="row m-b">#}
    {#<div class="col-lg-12 text-center">#}
    {#<div class="section-line amber-line"></div>#}
    {#<h1>{{ render(controller('BackendBundle:Settings:getSettings', { 'property' : 'headerTopDealsOfDay' })) }}</h1>#}

    {#<p>{{ render(controller('BackendBundle:Settings:getSettings', { 'property' : 'subheaderTopDealsOfDay' })) }}</p>#}
    {#</div>#}
    {#</div>#}

    {#{% for deal in deals %}#}
    {#<div class="col-sm-4 text-center">#}
    {#<h3>{{ deal.name | upper }}</h3>#}
    {#<p>{{ 'AT' | trans({}, 'general') }}: {{ deal.business.name | upper }}</p>#}
    {#<p>{{ 'ENDS' | trans({}, 'general') }}: {{ deal.endsAt | date('m/d/Y') }}</p>#}
    {#<div class="hovereffect">#}
    {#<div class="container-image ">#}
    {#<img class="center-height" src="{{ asset('images/deals/' ~ deal.image) }} "/>#}
    {#<div class="overlay">#}
    {#<a class="info" href="{{ path('deal_details', {'slug' : deal.slug}) }}">#}
    {#{{ 'Show Deal' | trans({}, 'homepage') }}#}
    {#</a>#}
    {#</div>#}
    {#</div>#}
    {#</div>#}
    {#<p><a class="btn btn-info" href="{{ path('deal_details', {'slug' : deal.slug}) }}" role="button">View#}
    {#Deal</a></p>#}
    {#</div>#}
    {#{% endfor %}#}

    {#<div class="col-sm-12 text-center show-all-deals">#}
    {#<a href="{{ path('deals') }}" class="btn btn-lg btn-xl btn-amber">#}
    {#{{ 'VIEW ALL DEALS' | trans({}, 'homepage') }}#}
    {#</a>#}
    {#</div>#}
    {#</div>#}
    {#</section>#}


    <section id="features" class="gray-bg section-spaces-line">
        <div class="container">
            <div class="row m-b">
                <div class="col-lg-12 text-center">
                    <div class="section-line amber-line"></div>
                    <h1>{{ render(controller('BackendBundle:Settings:getSettings', { 'property' : 'headerFeatureBrands' })) }}</h1>

                    <p>{{ render(controller('BackendBundle:Settings:getSettings', { 'property' : 'subheaderFeatureBrands' })) }}</p>
                </div>
            </div>

            <div class="col-sm-12 text-center">
                {% for business in featured_brands %}
                    <div class="col-sm-4 text-center">
                        <a href="{{ path('business_details', {'slug' : business.slug}) }}"
                           class="thumbnail">
                            <div class="container-image business-image">
                                <img class="center-height img-responsive business-image"
                                     alt="{{ business.name }}"
                                     src="{{ asset('images/business/' ~ business.logo) }} "/>
                            </div>
                        </a>
                        <h3>{{ business.name | upper }}</h3>
                        {#<p>{{ business.description | slice(0, 150) }} ...</p>#}
                    </div>
                {% endfor %}
            </div>

            <div class="col-sm-12 text-center show-all-deals">
                <a href="{{ path('business_list') }}" class="btn btn-lg btn-xl btn-amber">
                    {{ 'SEE ALL THE BRANDS' | trans({}, 'homepage') }}
                </a>
            </div>
        </div>
    </section>

    {# become a member #}
    <section class="section-spaces-line hidden-print">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="section-line blue-line"></div>
                    <h2>{{ render(controller('BackendBundle:Settings:getSettings', { 'property' : 'headerBecomeMemberToday' })) }}</h2>
                    <p>{{ render(controller('BackendBundle:Settings:getSettings', { 'property' : 'subheaderBecomeMemberToday' })) }}</p>

                    <a href="{{ path('fos_user_registration_register') }}"
                       class="btn btn-lg btn-xl btn-blue">{{ 'SIGNUP' | trans({}, 'homepage') }}</a>
                </div>
            </div>
        </div>
    </section>

{% endblock %}

{% block custom_js %}
    {{ parent() }}

    {#<script src="{{ asset('bundles/frontend/js/app.js') }}"></script>#}
{% endblock %}

{% block inline_js %}
    <script type="text/javascript">
        $(document).ready(function () {

            // script for animated navbar to scroll action
            var cbpAnimatedHeader = (function () {
                var docElem = document.documentElement,
                        header = document.querySelector('.navbar-default'),
                        didScroll = false,
                        changeHeaderOn = 200;

                function init() {
                    window.addEventListener('scroll', function (event) {
                        if (!didScroll) {
                            didScroll = true;
                            setTimeout(scrollPage, 250);
                        }
                    }, false);
                }

                function scrollPage() {
                    var sy = scrollY();
                    if (sy >= changeHeaderOn) {
                        $(header).addClass('navbar-scroll')
                    }
                    else {
                        $(header).removeClass('navbar-scroll')
                    }
                    didScroll = false;
                }

                function scrollY() {
                    return window.pageYOffset || docElem.scrollTop;
                }

                init();

            })();

        });
    </script>
{% endblock %}