{% extends '@Frontend/layout.html.twig' %}

{% block metatags %}
    <meta name="keywords" content="Plaza Mariachi Music City,
    {{- 'Mall' | trans({}, 'homepage') -}},
    {{- 'Businesses' | trans({}, 'homepage') -}},
    {{- 'Deals' | trans({}, 'homepage') -}},
    {{- 'Buying' | trans({}, 'homepage') -}}
    " />
    <meta name="description" content="
    {{- 'Plaza Mariachi is located only 10 minutes from downtown Nashville, TN with easy access to 3 major interstates. It is the largest shopping venue focused on the Hispanic culture and centered around a shopping experience that the whole family can enjoy' | trans({}, 'homepage') -}}
    " />
{% endblock %}

{% block navbar %}
    {% embed '@Frontend/navbar.html.twig' %}
        {% block navbar_class '' %}
    {% endembed %}
{% endblock %}

{% block page_content %}

    {# slider #}
    <div id="inSlider" class="inner-content carousel carousel-fade" data-ride="carousel">
        <div class="carousel-inner" role="listbox">
            <div class="item active animated fadeIn">
                <div class="container">
                    <div class="carousel-caption blank">
                        <h1>A CULTURAL SHOPPING EXPERIENCE</h1>
                        <p>
                            <a class="btn btn-lg btn-amber" href="{{ path("fos_user_registration_register") }}"
                               role="button">{{ 'BECOME A MEMBER' | trans({}, 'homepage') }}</a>
                        </p>
                    </div>
                    <div class="carousel-image wow zoomIn">
                    </div>
                </div>
                <!-- Set background for slide in css -->
                <div class="header-back one"></div>
            </div>
        </div>
    </div>

    {# top deals #}
    {#<section id="features" class="container section-spaces-line top-deals">#}
    {#<div class="row">#}
    {#<div class="col-lg-12 text-center">#}
    {#<div class="section-line pink-line"></div>#}
    {#<h1>{{ "Today's Hours Of Operation" | trans({}, 'homepage') }}</h1>#}
    {#</div>#}
    {#</div>#}

    {#<div class="col-sm-12 text-center m-b">#}
    {#<h2 class="m-t-n">#}
    {#<span class="font-bold">{{ 'Every week day' | trans({}, 'homepage') }}</span>,#}
    {#from <span class="font-bold">10:00am</span> to <span class="font-bold">9:00pm</span>#}
    {#</h2>#}
    {#</div>#}
    {#</section>#}

    {# top deals #}
    <section id="features" class="gray-bg section-spaces-line top-deals">
        <div class="container">
            <div class="row m-b">
                <div class="col-lg-12 text-center">
                    <div class="section-line amber-line"></div>
                    <h1>{{ 'Top Deals of the Day' |trans({}, 'homepage') }}</h1>

                    {#<p>Find and win with our best deals of your interests</p>#}
                </div>
            </div>

            {% for deal in deals %}
                <div class="col-sm-4 text-center">
                    <h3>{{ deal.name | upper }}</h3>
                    <p>{{ 'AT' | trans({}, 'general') }}: {{ deal.business.name | upper }}</p>
                    <p>{{ 'ENDS' | trans({}, 'general') }}: {{ deal.endsAt | date('m/d/Y') }}</p>
                    <div class="hovereffect">
                        <div class="container-image ">
                            <img class="center-height" src="{{ asset('images/deals/' ~ deal.image) }} "/>
                            <div class="overlay">
                                <a class="info" href="{{ path('deal_details', {'slug' : deal.slug}) }}">
                                    {{ 'Show Deal' | trans({}, 'homepage') }}
                                </a>
                            </div>
                        </div>
                    </div>
                    {#<p><a class="btn btn-info" href="{{ path('deal_details', {'slug' : deal.slug}) }}" role="button">View#}
                    {#Deal</a></p>#}
                </div>
            {% endfor %}

            <div class="col-sm-12 text-center show-all-deals">
                <a href="{{ path('deals') }}" class="btn btn-lg btn-xl btn-amber">
                    {{ 'VIEW ALL DEALS' | trans({}, 'homepage') }}
                </a>
            </div>
        </div>
    </section>

    {# become a member #}
    <section class="section-spaces-line hidden-print">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="section-line blue-line"></div>
                    <h2>{{ 'BECOME A MEMBER TODAY AND GET DEALS FOR YOUR FAVORITE PRODUCTS AND BRANDS' | trans({}, 'homepage') }}</h2>

                    <a href="{{ path('fos_user_registration_register') }}"
                       class="btn btn-lg btn-xl btn-blue">{{ 'SIGNUP' | trans({}, 'homepage') }}</a>
                </div>
            </div>
        </div>
    </section>

{% endblock %}

{% block custom_js %}
    {{ parent() }}

    {#<script src="{{ asset('bundles/frontend/js/app.js') }}"></script>#}
{% endblock %}

{% block inline_js %}
    <script type="text/javascript">
        $(document).ready(function () {

            // script for animated navbar to scroll action
            var cbpAnimatedHeader = (function () {
                var docElem = document.documentElement,
                        header = document.querySelector('.navbar-default'),
                        didScroll = false,
                        changeHeaderOn = 200;

                function init() {
                    window.addEventListener('scroll', function (event) {
                        if (!didScroll) {
                            didScroll = true;
                            setTimeout(scrollPage, 250);
                        }
                    }, false);
                }

                function scrollPage() {
                    var sy = scrollY();
                    if (sy >= changeHeaderOn) {
                        $(header).addClass('navbar-scroll')
                    }
                    else {
                        $(header).removeClass('navbar-scroll')
                    }
                    didScroll = false;
                }

                function scrollY() {
                    return window.pageYOffset || docElem.scrollTop;
                }

                init();

            })();

        });
    </script>
{% endblock %}