{% extends 'BackendBundle::layout.html.twig' %}

{% block custom_css %}
    {{ parent() }}

    <!-- iCheck Styles -->
    <link rel="stylesheet" href="{{ asset('bundles/backend/css/plugins/iCheck/custom.css') }}"
          type="text/css"/>
    <!-- select2 Styles -->
    <link rel="stylesheet" href="{{ asset('bundles/backend/css/plugins/select2/select2.min.css') }}"
          type="text/css"/>
{% endblock %}

{% block active_users %}active{% endblock %}
{% block page_heading_title %}
    <a class="btn btn-default navbar-btn" href="{{ path('user') }}" style="margin-bottom: 7px;">
        <span class="glyphicon glyphicon-chevron-up"></span>
    </a>
    {{ 'System User creation' | trans({}, 'userbackend') }}
{% endblock %}
{% block page_content %}

    {{ form_start(form, {'attr': {'class':'form-horizontal'}}) }}
    <div class="form-group{% if(form.firstName.vars['errors']|length > 0) %} {{ ' has-error' }} {% endif %}">
        <label for="firstName" class="col-md-2 control-label">{{ form_label(form.firstName) }}</label>

        <div class="col-md-6">
            {{ form_widget(form.firstName, { 'attr': {'class' : 'form-control'}}) }}
            {% if form.firstName.vars['errors']|length > 0 %}
                <ul class="message">
                    {% for error in form.firstName.vars['errors'] %}
                        <li>{{ error.message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
    </div>
    <div class="hr-line-dashed"></div>
    <div class="form-group{% if(form.lastName.vars['errors']|length > 0) %} {{ ' has-error' }} {% endif %}">
        <label for="lastName" class="col-md-2 control-label">{{ form_label(form.lastName) }}</label>

        <div class="col-md-6">
            {{ form_widget(form.lastName, { 'attr': {'class' : 'form-control'}}) }}
            {% if form.lastName.vars['errors']|length > 0 %}
                <ul class="message">
                    {% for error in form.lastName.vars['errors'] %}
                        <li>{{ error.message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
    </div>
    <div class="hr-line-dashed"></div>
    <div class="form-group{% if(form.username.vars['errors']|length > 0) %} {{ ' has-error' }} {% endif %}">
        <label for="username" class="col-md-2 control-label">{{ form_label(form.username) }}</label>

        <div class="col-md-6">
            {{ form_widget(form.username, { 'attr': {'class' : 'form-control'}}) }}
            {% if form.username.vars['errors']|length > 0 %}
                <ul class="message">
                    {% for error in form.username.vars['errors'] %}
                        <li>{{ error.message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
    </div>
    <div class="hr-line-dashed"></div>
    <div class="form-group{% if(form.email.vars['errors']|length > 0) %} {{ ' has-error' }} {% endif %}">
        <label for="email" class="col-md-2 control-label">{{ form_label(form.email) }}</label>

        <div class="col-md-6">
            {{ form_widget(form.email, { 'attr': {'class' : 'form-control'}}) }}
            {% if form.email.vars['errors']|length > 0 %}
                <ul class="message">
                    {% for error in form.email.vars['errors'] %}
                        <li>{{ error.message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
    </div>
    <div class="hr-line-dashed"></div>
    {% for passwordField in form.password %}
        <div class="form-group{% if(passwordField.vars['errors']|length > 0) %} {{ ' has-error' }} {% endif %}">
            <label for="password" class="col-md-2 control-label required">{{ form_label(passwordField) }}</label>

            <div class="col-md-6">
                {{ form_widget(passwordField, { 'attr': {'class' : 'form-control'}}) }}
                {% if passwordField.vars['errors']|length > 0 %}
                    <ul class="message">
                        {% for error in passwordField.vars['errors'] %}
                            <li>{{ error.message }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>
        </div>
        <div class="hr-line-dashed"></div>
    {% endfor %}
    <div class="form-group{% if(form.phone.vars['errors']|length > 0) %} {{ ' has-error' }} {% endif %}">
        <label for="phone" class="col-md-2 control-label">{{ form_label(form.phone) }}</label>

        <div class="col-md-6">
            {{ form_widget(form.phone, { 'attr': {'class' : 'form-control'}}) }}
            {% if form.phone.vars['errors']|length > 0 %}
                <ul class="message">
                    {% for error in form.phone.vars['errors'] %}
                        <li>{{ error.message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
    </div>
    <div class="hr-line-dashed"></div>
    <div class="form-group{% if(form.enabled.vars['errors']|length > 0) %} {{ ' has-error' }} {% endif %}">
        <label for="enabled" class="col-md-2 control-label">{{ form_label(form.enabled) }} </label>

        <div class="col-md-1">
            <div class="checkbox-inline">
                {{ form_widget(form.enabled, { 'attr': {'class' : 'form-control i-checks'}}) }}
                {% if form.enabled.vars['errors']|length > 0 %}
                    <ul class="message">
                        {% for error in form.enabled.vars['errors'] %}
                            <li>{{ error.message }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="hr-line-dashed"></div>
    <div class="form-group{% if(form.roles.vars['errors']|length > 0) %} {{ ' has-error' }} {% endif %}">
        <label for="roles" class="col-md-2 control-label">{{ form_label(form.roles) }} </label>

        <div class="col-md-6">
            {% for roleField in form.roles %}
                <div class="checkbox col-md-6">
                    {{ form_widget(roleField, { 'attr': {'class' : 'i-checks'}}) }}
                    {{ form_label(roleField) }}
                </div>
            {% endfor %}
            <div class="col-md-6 m-t">
                <a href="#role-hint" id="role-hint" class="btn btn-sm btn-default" role='button' data-html="true"
                   data-placement="bottom">
                    <i class="fa fa-info-circle"></i> {{ 'Roles Hint' | trans({}, 'userbackend') }}
                </a>
            </div>
            {% if form.roles.vars['errors']|length > 0 %}
                <ul class="message">
                    {% for error in form.roles.vars['errors'] %}
                        <li>{{ error.message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
    </div>
    <div class="hr-line-dashed"></div>


    <div class="form-group{% if(form.imageFile.vars['errors']|length > 0) %} {{ ' has-error' }} {% endif %}">
        <label for="" class="col-md-2 control-label">{{ form_label(form.imageFile) }}</label>

        <div class="col-md-6">
            {{ form_widget(form.imageFile, { 'attr': {'class' : 'form-control'}}) }}
            {% if form.imageFile.vars['errors']|length > 0 %}
                <ul class="message">
                    {% for error in form.imageFile.vars['errors'] %}
                        <li>{{ error.message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
    </div>
    <div class="hr-line-dashed"></div>



    <div class="form-group{% if(form.business.vars['errors']|length > 0) %} {{ ' has-error' }} {% endif %}">
        <label for="" class="col-md-2 control-label">{{ form_label(form.business) }}</label>

        <div class="col-md-6">
            {{ form_widget(form.business, { 'attr': {'class' : 'form-control select2-field', 'style' : 'width: 100%'}}) }}
            {% if form.business.vars['errors']|length > 0 %}
                <ul class="message">
                    {% for error in form.business.vars['errors'] %}
                        <li>{{ error.message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
    </div>
    <div class="hr-line-dashed"></div>



    <div class="form-group{% if(form.rewards.vars['errors']|length > 0) %} {{ ' has-error' }} {% endif %}">
        <label for="" class="col-md-2 control-label">{{ form_label(form.rewards) }}</label>

        <div class="col-md-6">
            {{ form_widget(form.rewards, { 'attr': {'class' : 'form-control select2-field', 'style' : 'width: 100%'}}) }}
            {% if form.rewards.vars['errors']|length > 0 %}
                <ul class="message">
                    {% for error in form.rewards.vars['errors'] %}
                        <li>{{ error.message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
    </div>
    <div class="hr-line-dashed"></div>

    <div class="form-group">
        <div class="col-md-2 text-right">
            <a class="btn btn-success" href="{{ path('user') }}">
                <span class="glyphicon glyphicon-chevron-left"></span>
                {{ 'Back to the list' | trans({}, 'generalbackend') }}
            </a>
        </div>
        <div class="col-md-10">

            {{ form_widget(form.submit, { 'attr': { 'class' : 'btn btn-primary btn-small', }}) }}
            {{ form_widget(form.submitback, { 'attr': { 'class' : 'btn btn-primary btn-small', }}) }}

            {{ form(form) }}

        </div>
    </div>
    {{ form_end(form) }}


    <div id="role-hint-content" class="hidden">
        <strong>{{ 'Customer' | trans({}, 'userbackend') }}</strong>
        <p>{{ 'It represent all customer on the system. Currently it has no permission to view, create, edit and delete any data.' | trans({}, 'userbackend') }}</p>
        <hr>
        <strong>{{ 'Business Manager' | trans({}, 'userbackend') }}</strong>
        <p>{{ 'It represent the Business Manager on the system. Currently it has no permission to view, create, edit and delete any data.' | trans({}, 'userbackend') }}</p>
        <hr>
        <strong>{{ 'Supervisor' | trans({}, 'userbackend') }}</strong>
        <p>{{ 'This role has permission only to view and export any data, but not to create, edit and delete.' | trans({}, 'userbackend') }}</p>
        <hr>
        <strong>{{ 'Admin' | trans({}, 'userbackend') }}</strong>
        <p>{{ 'This role has permission to do anything on the system.' | trans({}, 'userbackend') }}</p>
    </div>
{% endblock %}

{% block custom_js %}
    {{ parent() }}

    <!-- iCheck Scripts -->
    <script src="{{ asset('bundles/backend/js/plugins/iCheck/icheck.min.js') }}"
            type="text/javascript"></script>
    <!-- select2 Scripts -->
    <script src="{{ asset('bundles/backend/js/plugins/select2/select2.full.min.js') }}"
            type="text/javascript"></script>
{% endblock %}

{% block inline_js %}

    <script type="text/javascript">

        $(document).ready(function () {
            //  iCheck scripts for checkboxes and radios
            $('.i-checks').iCheck({
                checkboxClass: 'icheckbox_square-green',
                radioClass: 'iradio_square-green',
            });

            //  select2 scripts for batch actions combobox
            $(".select2-field").select2({
                placeholder: "--- {{ 'Select a value' | trans({}, 'generalbackend') }} ---"
            });

            $('#role-hint').popover({
                'title': 'Roles Hint',
                'content': $('#role-hint-content').html()
            }).on("show.bs.popover", function() {
                return $(this).data("bs.popover").tip().css({
                    maxWidth: "400px"
                });
            });

        });
    </script>

{% endblock %}