{% extends '@Frontend/layout.html.twig' %}

{% block metatags %}
    <meta name="keywords" content="Plaza Mariachi Music City,
    {{ 'Mall' | trans({}, 'homepage') }},
    {{ 'Businesses' | trans({}, 'homepage') }},
    {{ 'Deals' | trans({}, 'homepage') }},
    {{ 'Buying' | trans({}, 'homepage') }},
    "/>
    <meta name="description" content="
    {{- render(controller('BackendBundle:Settings:getSettings', { 'property' : 'textAbout' })) -}}
    "/>
{% endblock %}

{% block title ' - ' ~ "About Us" %}

{% set current_static = "about" %}

{% block page_content %}

    {# slider #}
    <section class="inner-content section-spaces-line">
        <div class="container">
            <div class="row m-b">
                <div class="col-lg-12 text-center">
                    <div class="section-line amber-line"></div>
                    <h1>{{ render(controller('BackendBundle:Settings:getSettings', { 'property' : 'headerAbout' })) ~ " " ~ render(controller('BackendBundle:Settings:getSettings', { 'property' : 'websiteBrand' })) }}</h1>
                </div>
            </div>

            <p class="text-muted-strong text-justify">
                {{ render(controller('BackendBundle:Settings:getSettings', { 'property' : 'textAbout' })) | raw | nl2br }}
            </p>
        </div>
    </section>


{% endblock %}