{% extends '@Frontend/layout.html.twig' %}

{% block metatags %}
    <meta name="keywords" content="Plaza Mariachi Music City,
    {{ 'Mall' | trans({}, 'homepage') }},
    {{ 'Businesses' | trans({}, 'homepage') }},
    {{ 'Deals' | trans({}, 'homepage') }},
    {{ 'Buying' | trans({}, 'homepage') }},
    "/>
    <meta name="description" content="
    {{ 'Plaza Mariachi is located only 10 minutes from downtown Nashville, TN with easy access to 3 major interstates. It is the largest shopping venue focused on the Hispanic culture and centered around a shopping experience that the whole family can enjoy' | trans({}, 'homepage') }}
    "/>
{% endblock %}

{% block title ' - ' ~ "About Us" %}

{% set current_static = "about" %}

{% block page_content %}

    {# slider #}
    <section class="inner-content section-spaces-line">
        <div class="container">
            <div class="row m-b">
                <div class="col-lg-12 text-center">
                    <div class="section-line amber-line"></div>
                    <h1>{{ 'About' | trans({}, 'general') }} Plaza Mariachi Music City</h1>
                </div>
            </div>

            <p class="text-muted-strong text-justify">
                {{ 'Plaza Mariachi is located only 10 minutes from downtown Nashville, TN with easy access to 3 major interstates. It is the largest shopping venue focused on the Hispanic culture and centered around a shopping experience that the whole family can enjoy.' | trans({}, 'general') }}
            </p>
            <p class="text-muted-strong text-justify">
                {{ 'The Plaza Mariachi CULTURAL SHOPPING EXPERIENCE offers a unique blend of culture, art, music, entertainment, food, services and retail in one location. It begins with decor in the style of traditional marketplace streets from old Mexico and weaves Latin culture into a walk of history. You’ll hear Hispanic music, see Latin relics, discover old and new Mexico in food, fashion and so much more.' | trans({}, 'general') }}
            </p>
            <p class="text-muted-strong text-justify">
                “Mariachi” {{ 'is the prominent theme and brings Mexican Folklore to life in Nashville’s “Music City”. Hispanic culture, music entertainment and traditional family lifestyle are all blended into this unique destination. Local families and tourists alike will find something to smile about each and every time they visit, shop and dine here.' | trans({}, 'general') }}
            </p>
        </div>
    </section>


{% endblock %}