{% extends '@Frontend/layout.html.twig' %}

{% block title %} {{ "Job Fair" |trans({}, 'homepage') }} {% endblock %}

{% block inline_js %}
    <script type"application/javascript">
        // ===== Scroll to Top ==== 
        $(window).scroll(function() {
            if ($(this).scrollTop() >= 50) {        // If page is scrolled more than 50px
                $('#return-to-top').fadeIn(200);    // Fade in the arrow
            } else {
                $('#return-to-top').fadeOut(200);   // Else fade out the arrow
            }
        });
        $('#return-to-top').click(function() {      // When arrow is clicked
            $('body,html').animate({
                scrollTop : 0                       // Scroll to top of body
            }, 500);
        });
    </script>
{% endblock %}

{% block metatags %}
    <meta name="keywords"
          content="{{- render(controller('BackendBundle:Settings:getSettings', { 'property' : 'websiteBrand' })) -}},
    {{ 'Job Fair' | trans({}, 'homepage') }},
    {{ 'Mall' | trans({}, 'homepage') }},
    {{ 'Businesses' | trans({}, 'homepage') }},
    {{ 'Deals' | trans({}, 'homepage') }},
    {{ 'Buying' | trans({}, 'homepage') }},
    "/>
    <meta name="description" content="
    {{- "At Plaza Mariachi you'll hear Hispanic music, see Latin relics, discover old and new Mexico in food, fashion and much more. Come explore Plaza Mariachi today!" | trans({}, 'general') -}}
    "/>

    <!-- Facebook Pixel Code -->
    <script>
        !function (f, b, e, v, n, t, s) {
            if (f.fbq)return;
            n = f.fbq = function () {
                n.callMethod ?
                        n.callMethod.apply(n, arguments) : n.queue.push(arguments)
            };
            if (!f._fbq)f._fbq = n;
            n.push = n;
            n.loaded = !0;
            n.version = '2.0';
            n.queue = [];
            t = b.createElement(e);
            t.async = !0;
            t.src = v;
            s = b.getElementsByTagName(e)[0];
            s.parentNode.insertBefore(t, s)
        }(window, document, 'script', 'https://connect.facebook.net/en_US/fbevents.js');
        fbq('init', '793620470761388');
        fbq('track', 'PageView');
    </script>
    <noscript>
        <img height="1" width="1"
             src="https://www.facebook.com/tr?id=793620470761388&ev=PageView&noscript=1"/>
    </noscript>
    <!-- End Facebook Pixel Code -->
{% endblock %}

{% block inline_css %}
    <style type="text/css" rel="stylesheet">
        section.inner-content {
            margin-top: 0;
        }

        div.inner-content {
            height: auto;
        }

        .landing-page .header-back.one {
            background-image: url('/bundles/frontend/img/job-fair-{{ app.request.locale }}.jpg');
            background-repeat: no-repeat;
            -webkit-background-size: 100%;
            -moz-background-size: 100%;
            -o-background-size: 100%;
            background-size: 100%;
            background-position: top center;
            height: 100% !important;
        }

        .landing-page .carousel .item {
            height: 400px !important;
        }

        @media (max-width: 360px) {
            .landing-page .carousel {
                height: 0;
            }
        }

        @media (min-width: 768px) {
            .landing-page .carousel {
                height: 200px;
            }
        }

        @media (min-width: 900px) {
            .landing-page .carousel {
                height: 300px;
            }
        }

        @media (min-width: 1000px) {
            .landing-page .carousel {
                height: 400px;
            }
        }
    </style>
{% endblock %}

{% block page_content %}

    <div class="inner-content carousel carousel-fade" data-ride="carousel">
        <div class="carousel-inner" role="listbox">
            <div class="item active animated fadeIn">
                <!-- Set background for slide in css -->
                <div class="header-back one"></div>
            </div>
        </div>
    </div>

    {# slider #}
    <section class="inner-content section-spaces-line job-fair">
        <div class="container">
            <div class="row m-b">
                <div class="col-lg-12 text-center">
                    <div class="section-line amber-line"></div>
                    <h1>{{ "WANT TO GROW YOUR CAREER WITH NASHVILLE'S NEXT HOT TOURIST DESTINATION?" | trans({}, 'homepage') }}</h1>
                </div>
            </div>
            <div class="col-sm-12 text-center">
                <br/>
                <p class="text-gray">
                    {{ "One foot in the Plaza Mariachi and you will be transported into a beautiful setting evocative of Old Mexico. Come to the Plaza Mariachi job fair where we will be hiring on the spot for more than 200 positions." | trans({}, 'homepage') }}
                    {{ " " }}
                    <span style="text-decoration: underline">
                            {{ "Bilingual is a plus!" | trans({}, 'homepage') }}
                        </span>
                </p>
                <p class="text-gray">
                    {{ "Participating brands include Auto Masters, America’s Insurance, La Activa, La Ranchera, Tito’s Playland, Maz Fresco, Cafe Madera and Plaza Mariachi." | trans({}, 'homepage') }}
                </p>
                <p class="text-gray">
                    {{ "The Job fair January 6 from noon to 6 and January 7 from 9 am to 1 pm at Plaza Mariachi, 3955 Nolensville Pk in Nashville." | trans({}, 'homepage') }}
                </p>
                <br/>

                <a target="_blank" href="{{ asset('bundles/frontend/files/job-application-form-' ~ app.request.locale ~ '.pdf') }}"
                   class="btn btn-lg btn-amber">{{ 'Download Application Form' | trans({}, 'general') }}</a>
            </div>
        </div>

        <div class="row">
            <div class="jobafair-careers-list careers-result col-lg-10 col-lg-offset-1">
                <table class="table table-hover table-responsive">
                    <thead>
                    <tr>
                        <th width="10%">{{ 'Business' | trans({}, 'careers') }}</th>
                        <th>{{ 'Position' | trans({}, 'careers') }}</th>
                        {# <th class="hidden-xs">Department</th> #}
                        <th>{{ 'Description' | trans({}, 'careers') }}</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for opening in openings %}
                        <tr>
                            <td>
                                <img alt="{{ opening.business.name }}"
                                             title="{{ opening.business.name }}"
                                             src="{{ asset('images/business/' ~ opening.business.logo) }} "/>
                            </td>
                            <td>{{ opening.position }}</td>
                            {# <td class="hidden-xs">{{ opening.department }}</td> #}
                            <td>{{ opening.description }}</td>
                        </tr>
                    {% else %}
                        <div class="alert alert-danger">
                            {{ 'No openings have been published yet' | trans({}, 'careers') }}
                        </div>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </section>

    <a href="#" id="return-to-top"><i class="fa fa-chevron-up"></i></a>
{% endblock %}