{% extends '@Frontend/layout.html.twig' %}

{% block title %} {{ "Job Fair" |trans({}, 'homepage') }} {% endblock %}

{% block metatags %}
    <meta name="keywords"
          content="{{- render(controller('BackendBundle:Settings:getSettings', { 'property' : 'websiteBrand' })) -}},
    {{ 'Job Fair' | trans({}, 'homepage') }},
    {{ 'Mall' | trans({}, 'homepage') }},
    {{ 'Businesses' | trans({}, 'homepage') }},
    {{ 'Deals' | trans({}, 'homepage') }},
    {{ 'Buying' | trans({}, 'homepage') }},
    "/>
    <meta name="description" content="
    {{- "At Plaza Mariachi you'll hear Hispanic music, see Latin relics, discover old and new Mexico in food, fashion and much more. Come explore Plaza Mariachi today!" | trans({}, 'general') -}}
    "/>

    <!-- Facebook Pixel Code -->
    <script>
        !function (f, b, e, v, n, t, s) {
            if (f.fbq)return;
            n = f.fbq = function () {
                n.callMethod ?
                        n.callMethod.apply(n, arguments) : n.queue.push(arguments)
            };
            if (!f._fbq)f._fbq = n;
            n.push = n;
            n.loaded = !0;
            n.version = '2.0';
            n.queue = [];
            t = b.createElement(e);
            t.async = !0;
            t.src = v;
            s = b.getElementsByTagName(e)[0];
            s.parentNode.insertBefore(t, s)
        }(window, document, 'script', 'https://connect.facebook.net/en_US/fbevents.js');
        fbq('init', '793620470761388');
        fbq('track', 'PageView');
    </script>
    <noscript>
        <img height="1" width="1"
             src="https://www.facebook.com/tr?id=793620470761388&ev=PageView&noscript=1"/>
    </noscript>
    <!-- End Facebook Pixel Code -->
{% endblock %}

{% block page_content %}

    {# slider #}
    <section class="inner-content section-spaces-line">
        <div class="container">
            <div class="row m-b">
                <div class="col-lg-12 text-center">
                    <div class="section-line amber-line"></div>
                    <h1>{{ "WANT TO GROW CAREER WITH NASHVILLE'S NEXT HOT TOURIST DESTINATION?" | trans({}, 'homepage') }}</h1>
                </div>
            </div>
            <div class="col-sm-12 text-center">
                <br/>
                <p class="text-gray">
                    {{ "One foot in the Plaza Mariachi and you will be transported into a beautiful setting evocative of Old Mexico. Come to the Plaza Mariachi job fair where we will be hiring on the spot for more than 200 positions." | trans({}, 'homepage') }}
                    {{ " " }}
                    <span style="text-decoration: underline">
                            {{ "Bilingual is a plus!" | trans({}, 'homepage') }}
                        </span>
                </p>
                <p class="text-gray">
                    {{ "Participating brands include Auto Masters, America’s Insurance, La Activa, La Ranchera, Tito’s Playland, Maz Fresco, Cafe Madera and Plaza Mariachi." | trans({}, 'homepage') }}
                </p>
                <p class="text-gray">
                    {{ "The Job fair January 6 from noon to 6 and January 7 from 9 am to 1 pm at Plaza Mariachi, 3955 Nolensville Pk in Nashville." | trans({}, 'homepage') }}
                </p>
                <br/>

                <a target="_blank" href="{{ asset('bundles/frontend/files/job-application-form.pdf') }}"
                   class="btn btn-lg btn-amber">{{ 'Download the form' | trans({}, 'general') }}</a>

            </div>
        </div>
    </section>


{% endblock %}