{% extends '@Frontend/layout.html.twig' %}

{% block title %} {{ "About Us | Nashville Shopping Center" |trans({}, 'general') }} {% endblock %}

{% block metatags %}
    <meta name="keywords" content="{{- render(controller('BackendBundle:Settings:getSettings', { 'property' : 'websiteBrand' })) -}},
    {{ 'Mall' | trans({}, 'homepage') }},
    {{ 'Businesses' | trans({}, 'homepage') }},
    {{ 'Deals' | trans({}, 'homepage') }},
    {{ 'Buying' | trans({}, 'homepage') }},
    {{ 'Events' | trans({}, 'homepage') }},
    {{ 'Calendar' | trans({}, 'homepage') }},
    "/>
    <meta name="description" content="
    {#- retrieving settings values -#}
    {#-{{- render(controller('BackendBundle:Settings:getSettings', { 'property' : 'textAbout' })) -}}-#}
    {{- "At Plaza Mariachi you'll hear Hispanic music, see Latin relics, discover old and new Mexico in food, fashion and much more. Come explore Plaza Mariachi today!" | trans({}, 'general') -}}
    "/>
{% endblock %}

{% set current_static = "about" %}

{% block page_content %}

    {# slider #}
    <section class="inner-content section-spaces-line">
        <div class="container">
            <div class="row m-b">
                <div class="col-lg-12 text-center">
                    <div class="section-line amber-line"></div>
                    <h1>Lorem ipsum dolor sit amet</h1>
                </div>
            </div>

            <p class="text-muted-strong text-justify">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque ea quas, quaerat et molestias rem. Eligendi alias, possimus sequi, praesentium animi et quos vitae velit eum ad, ab fugit illum! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur deserunt commodi cumque, magni harum expedita, veniam nostrum. Cum blanditiis nostrum repellat commodi reprehenderit, ducimus, quod laudantium sapiente, provident aliquid voluptas.
            </p>

            <div id="vertical-timeline" class="vertical-container dark-timeline center-orientation">
                {% for event in events %}
                <div class="vertical-timeline-block">
                    <div class="vertical-timeline-icon navy-bg">
                        <i class="fa fa-calendar"></i>
                    </div>

                    <div class="vertical-timeline-content">
                        <h2>{{ event.summary }}</h2>
                        {% if event.description is defined %}
                        <p>
                            {{ event.description }}
                        </p>
                        {% endif %}
                        {# <p class="col-sm-4">
                            <i class="fa fa-clock-o"></i> {{ event.start.dateTime | date('h:i A')  }}
                        </p> #}
                        {% if event.location is defined %}
                        <p class="col-sm-8">
                            <i class="fa fa-map-marker"></i> {{ event.location  }}
                        </p>
                        {% endif %}
                        {# <a href="timeline_2.html#" class="btn btn-sm btn-primary"> More info</a> #}
                        <span class="vertical-date">
                            <div></div>
                            <small data-date="{{ event.start.dateTime }}"></small><br/>
                            {# <small><i class="fa fa-clock-o"></i> {{ event.start.dateTime | date('h:i A')  }}</small> #}
                        </span>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>


{% endblock %}

{% block custom_js %}
    {{ parent() }}

    <script src="{{ asset('bundles/frontend/js/moment.min.js') }}"></script>
    <script src="{{ asset('bundles/frontend/js/moment.es.js') }}"></script>
{% endblock %}

{% block inline_js %}
    <script type="text/javascript">
        $(document).ready(function () {
            var now = moment();

            $('.vertical-date small:first-of-type').each(function() {
                var str = $(this).data('date');
                var date = moment(str);

                $(this).text(date.locale('{{ app.request.get('_locale') }}').from(now));
                $(this).prev().html(
                    date.format('DD/MM/YYYY h:mm A')
                )
            })
        });
    </script>
{% endblock %}