<div class="ibox-content">

    <h2 class="font-bold">Forgot password</h2>

    <p>
        Enter your new password.
    </p>

    <div class="row">

        <div class="col-lg-12">
            <form class="m-t" role="form" action="{{ path('fos_user_resetting_reset', {'token': token}) }}"
                    {{ form_enctype(form) }} method="post">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Email or Username" id="username"
                           name="username" required="required"/>
                </div>

                {% for passwordField in form.new %}

                    <div class="form-group{% if(passwordField.vars['errors']|length > 0) %} {{ ' has-error' }} {% endif %}">
                            {{ form_widget(passwordField, { 'attr': { 'placeholder' : passwordField.label, 'class' : 'form-control', 'required' : 'required'}}) }}
                            {% if passwordField.vars['errors']|length > 0 %}
                                <ul class="message">
                                    {% for error in passwordField.vars['errors'] %}
                                        <li>{{ error.message }}</li>
                                    {% endfor %}
                                </ul>
                            {% endif %}
                    </div>
                {% endfor %}

                <button type="submit" value="{{ 'resetting.reset.submit'|trans({}, 'FOSUserBundle') }}"
                        class="btn btn-primary block full-width m-b">{{ 'resetting.reset.submit'|trans({}, 'FOSUserBundle') }}
                </button>

            </form>
        </div>
    </div>
</div>