{% extends 'BackendBundle::layout.html.twig' %}

{% block custom_css %}
    {{ parent() }}


    <!-- iCheck Styles -->
    <link rel="stylesheet" href="{{ asset('bundles/backend/css/plugins/iCheck/custom.css') }}"
          type="text/css"/>

    <!-- select2 Styles -->
    <link rel="stylesheet" href="{{ asset('bundles/backend/css/plugins/select2/select2.min.css') }}"
          type="text/css"/>

    <!-- codemirror Styles -->
    <link rel="stylesheet" href="{{ asset('bundles/backend/css/plugins/codemirror/codemirror.css') }}"
          type="text/css"/>
    <link rel="stylesheet" href="{{ asset('bundles/backend/js/plugins/codemirror/addon/hint/show-hint.css') }}"
          type="text/css"/>
    <link rel="stylesheet" href="{{ asset('bundles/backend/css/plugins/codemirror/dracula.css') }}"
          type="text/css"/>

{% endblock %}

        {% block active_post %}active{% endblock %}

        {% block page_heading_title %}
            <a class="btn btn-default navbar-btn" href="{{ path('post') }}"
               style="margin-bottom: 7px;">
                <span class="glyphicon glyphicon-chevron-up"></span>
            </a>
            Post edition
        {% endblock %}

        {% block page_content %}

            {{ form_start(edit_form, {'attr': {'class':'form-horizontal'}}) }}

            <div class="tabs-container">
                <ul id="post-tabs" class="nav nav-tabs">
                    <li class="active">
                        <a data-toggle="tab" href="#post-basic" aria-expanded="true">Basic Data</a>
                    </li>
                    <li class="">
                        <a data-toggle="tab" href="#post-optional-metas" aria-expanded="false">Optional Metas</a>
                    </li>
                    <li class="">
                        <a data-toggle="tab" href="#post-custom-css" aria-expanded="false">Custom CSS</a>
                    </li>
                    <li class="">
                        <a data-toggle="tab" href="#post-custom-js" aria-expanded="false">Custom JS</a>
                    </li>
                </ul>

                <div class="tab-content">
                    <div id="post-basic" class="tab-pane active">
                        <div class="panel-body">

                            <div class="form-group{% if(edit_form.title.vars['errors']|length > 0) %} {{ ' has-error' }} {% endif %}">
                                <label for="" class="col-md-2 control-label">{{ form_label(edit_form.title) }}</label>

                                <div class="col-md-6">
                                    {{ form_widget(edit_form.title, { 'attr': {'class' : 'form-control'}}) }}
                                    {% if edit_form.title.vars['errors']|length > 0 %}
                                        <ul class="message">
                                            {% for error in edit_form.title.vars['errors'] %}
                                                <li>{{ error.message }}</li>
                                            {% endfor %}
                                        </ul>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>

                            <div class="form-group{% if(edit_form.route.vars['errors']|length > 0) %} {{ ' has-error' }} {% endif %}">
                                <label for="" class="col-md-2 control-label">{{ form_label(edit_form.route) }}</label>

                                <div class="col-md-6">
                                    {{ form_widget(edit_form.route, { 'attr': {'class' : 'form-control'}}) }}
                                    {% if edit_form.route.vars['errors']|length > 0 %}
                                        <ul class="message">
                                            {% for error in edit_form.route.vars['errors'] %}
                                                <li>{{ error.message }}</li>
                                            {% endfor %}
                                        </ul>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>

                            <div class="row m-b-sm">
                                <div class="col-md-8 col-md-offset-2">
                                    <a class="btn btn-white btn-sm" data-toggle="modal" data-placement="top"
                                       title="Image Gallery" data-target="#image-gallery" href="#">
                                        <i class="fa fa-picture-o"></i>
                                    </a>
                                </div>
                            </div>

                            <div class="form-group{% if(edit_form.content.vars['errors']|length > 0) %} {{ ' has-error' }} {% endif %}">
                                <label for="" class="col-md-2 control-label">{{ form_label(edit_form.content) }}</label>

                                <div class="col-md-8">
                                    {{ form_widget(edit_form.content, { 'attr': {'class' : 'form-control'}}) }}
                                    {% if edit_form.content.vars['errors']|length > 0 %}
                                        <ul class="message">
                                            {% for error in edit_form.content.vars['errors'] %}
                                                <li>{{ error.message }}</li>
                                            {% endfor %}
                                        </ul>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>

                            <div class="form-group{% if(edit_form.published.vars['errors']|length > 0) %} {{ ' has-error' }} {% endif %}">
                                <label for=""
                                       class="col-md-2 control-label">{{ form_label(edit_form.published) }}</label>

                                <div class="col-md-1">
                                    <div class="checkbox-inline">
                                        {{ form_widget(edit_form.published, { 'attr': {'class' : 'form-control i-checks'}}) }}
                                        {% if edit_form.published.vars['errors']|length > 0 %}
                                            <ul class="message">
                                                {% for error in edit_form.published.vars['errors'] %}
                                                    <li>{{ error.message }}</li>
                                                {% endfor %}
                                            </ul>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>

                            <div class="form-group{% if(edit_form.metaTitle.vars['errors']|length > 0) %} {{ ' has-error' }} {% endif %}">
                                <label for=""
                                       class="col-md-2 control-label">{{ form_label(edit_form.metaTitle) }}</label>

                                <div class="col-md-6">
                                    {{ form_widget(edit_form.metaTitle, { 'attr': {'class' : 'form-control'}}) }}
                                    {% if edit_form.metaTitle.vars['errors']|length > 0 %}
                                        <ul class="message">
                                            {% for error in edit_form.metaTitle.vars['errors'] %}
                                                <li>{{ error.message }}</li>
                                            {% endfor %}
                                        </ul>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>

                            <div class="form-group{% if(edit_form.metaKeywords.vars['errors']|length > 0) %} {{ ' has-error' }} {% endif %}">
                                <label for=""
                                       class="col-md-2 control-label">{{ form_label(edit_form.metaKeywords) }}</label>

                                <div class="col-md-6">
                                    {{ form_widget(edit_form.metaKeywords, { 'attr': {'class' : 'form-control'}}) }}
                                    {% if edit_form.metaKeywords.vars['errors']|length > 0 %}
                                        <ul class="message">
                                            {% for error in edit_form.metaKeywords.vars['errors'] %}
                                                <li>{{ error.message }}</li>
                                            {% endfor %}
                                        </ul>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>

                            <div class="form-group{% if(edit_form.metaDescription.vars['errors']|length > 0) %} {{ ' has-error' }} {% endif %}">
                                <label for=""
                                       class="col-md-2 control-label">{{ form_label(edit_form.metaDescription) }}</label>

                                <div class="col-md-6">
                                    {{ form_widget(edit_form.metaDescription, { 'attr': {'class' : 'form-control'}}) }}
                                    {% if edit_form.metaDescription.vars['errors']|length > 0 %}
                                        <ul class="message">
                                            {% for error in edit_form.metaDescription.vars['errors'] %}
                                                <li>{{ error.message }}</li>
                                            {% endfor %}
                                        </ul>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>

                            <div class="form-group{% if(edit_form.author.vars['errors']|length > 0) %} {{ ' has-error' }} {% endif %}">
                                <label for=""
                                       class="col-md-2 control-label">{{ form_label(edit_form.author) }}</label>

                                <div class="col-md-6">
                                    {{ form_widget(edit_form.author, { 'attr': {'class' : 'form-control select2-field', 'style' : 'width: 100%'}}) }}
                                    {% if edit_form.author.vars['errors']|length > 0 %}
                                        <ul class="message">
                                            {% for error in edit_form.author.vars['errors'] %}
                                                <li>{{ error.message }}</li>
                                            {% endfor %}
                                        </ul>
                                    {% endif %}
                                </div>
                            </div>

                        </div>
                    </div>

                    <div id="post-optional-metas" class="tab-pane">
                        <div class="panel-body">

                            <div class="form-group{% if(edit_form.optionalMetas.vars['errors']|length > 0) %} {{ ' has-error' }} {% endif %}">
                                <div class="col-md-12">
                                    {{ form_widget(edit_form.optionalMetas, { 'attr': {'class' : 'form-control'}}) }}
                                    {% if edit_form.optionalMetas.vars['errors']|length > 0 %}
                                        <ul class="message">
                                            {% for error in edit_form.optionalMetas.vars['errors'] %}
                                                <li>{{ error.message }}</li>
                                            {% endfor %}
                                        </ul>
                                    {% endif %}
                                </div>
                            </div>

                        </div>
                    </div>

                    <div id="post-custom-css" class="tab-pane">
                        <div class="panel-body">

                            <div class="form-group{% if(edit_form.customCss.vars['errors']|length > 0) %} {{ ' has-error' }} {% endif %}">
                                <div class="col-md-12">
                                    {{ form_widget(edit_form.customCss, { 'attr': {'class' : 'form-control'}}) }}
                                    {% if edit_form.customCss.vars['errors']|length > 0 %}
                                        <ul class="message">
                                            {% for error in edit_form.customCss.vars['errors'] %}
                                                <li>{{ error.message }}</li>
                                            {% endfor %}
                                        </ul>
                                    {% endif %}
                                </div>
                            </div>

                        </div>
                    </div>

                    <div id="post-custom-js" class="tab-pane">
                        <div class="panel-body">

                            <div class="form-group{% if(edit_form.customJs.vars['errors']|length > 0) %} {{ ' has-error' }} {% endif %}">
                                <div class="col-md-12">
                                    {{ form_widget(edit_form.customJs, { 'attr': {'class' : 'form-control'}}) }}
                                    {% if edit_form.customJs.vars['errors']|length > 0 %}
                                        <ul class="message">
                                            {% for error in edit_form.customJs.vars['errors'] %}
                                                <li>{{ error.message }}</li>
                                            {% endfor %}
                                        </ul>
                                    {% endif %}
                                </div>
                            </div>

                        </div>
                    </div>
                </div>


                <div class="form-group m-t p-m">
                    <div class="col-md-2 text-right">
                        <a class="btn btn-success" href="{{ path('post') }}">
                            <span class="glyphicon glyphicon-chevron-left"></span>
                            Back to the list
                        </a>
                    </div>
                    <div class="col-md-10">

                        {{ form_widget(edit_form.submit, { 'attr': { 'class' : 'btn btn-primary btn-small', }}) }}

                        <a class="btn btn-danger" data-toggle="modal" data-target="#modalDelete">
                            <span class="fa fa-remove"></span>
                            Delete
                        </a>

                        {{ form(edit_form) }}
                    </div>
                </div>
            </div>


            <div class="modal inmodal" id="modalDelete" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content animated bounceInRight">
                        <div id="modal-title" class="modal-header red-bg">
                            <button type="button" class="close" data-dismiss="modal"><span
                                        aria-hidden="true">&times;</span><span class="sr-only">Close</span>
                            </button>
                            <i class="fa fa-exclamation-triangle modal-icon text-white"></i>
                            <h4 class="modal-title">Attention!!!</h4>
                        </div>
                        <div id="modal-content" class="modal-body">
                            <strong>Are you sure you want to delete this data?</strong>
                        </div>
                        <div class="modal-footer">
                            <form action="{{ path('post_delete', { 'id': entity.id }) }}"
                                  name="form-delete" method="post">
                                <button type="button" class="btn btn-white" data-dismiss="modal">Close</button>
                                <button id="modal-btn" type="submit" class="btn btn-danger" name="post-id"
                                        value="{{ entity.id }}">
                                    <span class="glyphicon glyphicon-ok"></span> Save changes
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>


            {{ form_end(edit_form) }}


            <div class="modal inmodal fade" id="image-gallery" tabindex="-1" role="dialog"
                 aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal"><span
                                        aria-hidden="true">&times;</span><span class="sr-only">Close</span>
                            </button>
                            <h4 class="modal-title">Image Gallery</h4>
                            <small class="font-bold">
                                Manage all images of the Gallery. <br/>
                                You can remove only the images that have been added in the creating/editing context.
                            </small>
                        </div>
                        <div class="modal-body">

                            {% for image in post_images %}

                                <div class="file-box">
                                    <div class="file">
                                        <a class="file-link" href="#">
                                            <span class="corner"></span>

                                            <div class="image">
                                                <img alt="{{ image.description }}" class="img-responsive"
                                                     src="{{ asset('images/post/gallery/' ~ image.imgName) }}">
                                            </div>
                                            <div class="file-name">
                                                {{ image.imgName }}
                                                <br/>
                                                <small>Added: {{ image.createdAt|date('M d, Y') }}</small>
                                            </div>
                                        </a>
                                        {% if is_granted('ROLE_ADMIN') %}
                                            <a href="{{ path('post_delete_image', { 'id' : image.id }) }}"
                                               class="btn btn-xs btn-danger delete-image" data-toggle="tooltip"
                                               title="{{ 'Delete' | trans({}, 'generalbackend') }}">
                                                <i class="fa fa-trash"></i>
                                            </a>
                                        {% endif %}
                                    </div>
                                </div>

                            {% endfor %}

                            <div class="ibox collapsed">
                                <div class="ibox-title">
                                    <h5>Upload Image</h5>
                                    <div class="ibox-tools">
                                        <a class="btn btn-xs collapse-link">
                                            <i class="fa fa-chevron-up"></i>
                                        </a>
                                    </div>

                                </div>
                                <div class="ibox-content">
                                    <div>

                                        {{ form_start(image_form, {'attr': {'class':'form-horizontal'}}) }}

                                        <div class="form-group{% if(image_form.imgFile.vars['errors']|length > 0) %} {{ ' has-error' }} {% endif %}">
                                            <label for=""
                                                   class="col-md-2 control-label">{{ form_label(image_form.imgFile) }}</label>

                                            <div class="col-md-10">
                                                {{ form_widget(image_form.imgFile, { 'attr': {'class' : 'form-control'}}) }}
                                                {% if image_form.imgFile.vars['errors']|length > 0 %}
                                                    <ul class="message">
                                                        {% for error in image_form.imgFile.vars['errors'] %}
                                                            <li>{{ error.message }}</li>
                                                        {% endfor %}
                                                    </ul>
                                                {% endif %}
                                            </div>
                                        </div>
                                        <div class="hr-line-dashed"></div>

                                        <div class="form-group{% if(image_form.description.vars['errors']|length > 0) %} {{ ' has-error' }} {% endif %}">
                                            <label for=""
                                                   class="col-md-2 control-label">{{ form_label(image_form.description) }}
                                            </label>

                                            <div class="col-md-10">
                                                {{ form_widget(image_form.description, { 'attr': {'class' : 'form-control'}}) }}
                                                {% if image_form.description.vars['errors']|length > 0 %}
                                                    <ul class="message">
                                                        {% for error in image_form.description.vars['errors'] %}
                                                            <li>{{ error.message }}</li>
                                                        {% endfor %}
                                                    </ul>
                                                {% endif %}
                                            </div>
                                        </div>

                                        <div class="hidden">{{ form_rest(image_form) }}</div>
                                        {{ form_end(image_form) }}
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                            </div>

                        </div>

                        <div class="modal-footer">
                            <button type="button" class="btn btn-white" data-dismiss="modal">Close</button>
                            <button id="image-gallery-attach" type="button" class="btn btn-primary">Insert file</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="hidden">
                <input id="editor-content-coords" type="hidden" value=""/>
                <div id="code-to-insert" class="hidden"></div>
            </div>

        {% endblock %}

    {% block custom_js %}
        {{ parent() }}

        <!-- iCheck Scripts -->
        <script src="{{ asset('bundles/backend/js/plugins/iCheck/icheck.min.js') }}"
                type="text/javascript"></script>

        <!-- select2 Scripts -->
        <script src="{{ asset('bundles/backend/js/plugins/select2/select2.full.min.js') }}"
                type="text/javascript"></script>

        <!-- codemirror Scripts -->
        <script src="{{ asset('bundles/backend/js/plugins/codemirror/codemirror.js') }}"
                type="text/javascript"></script>

        <script src="{{ asset('bundles/backend/js/plugins/codemirror/addon/selection/active-line.js') }}"
                type="text/javascript"></script>
        <script src="{{ asset('bundles/backend/js/plugins/codemirror/addon/edit/matchbrackets.js') }}"
                type="text/javascript"></script>

        <script src="{{ asset('bundles/backend/js/plugins/codemirror/addon/hint/css-hint.js') }}"
                type="text/javascript"></script>
        <script src="{{ asset('bundles/backend/js/plugins/codemirror/addon/hint/html-hint.js') }}"
                type="text/javascript"></script>
        <script src="{{ asset('bundles/backend/js/plugins/codemirror/addon/hint/javascript-hint.js') }}"
                type="text/javascript"></script>
        <script src="{{ asset('bundles/backend/js/plugins/codemirror/addon/hint/show-hint.js') }}"
                type="text/javascript"></script>
        <script src="{{ asset('bundles/backend/js/plugins/codemirror/addon/hint/xml-hint.js') }}"
                type="text/javascript"></script>

        <script src="{{ asset('bundles/backend/js/plugins/codemirror/mode/javascript/javascript.js') }}"
                type="text/javascript"></script>
        <script src="{{ asset('bundles/backend/js/plugins/codemirror/mode/css/css.js') }}"
                type="text/javascript"></script>
        <script src="{{ asset('bundles/backend/js/plugins/codemirror/mode/vbscript/vbscript.js') }}"
                type="text/javascript"></script>
        <script src="{{ asset('bundles/backend/js/plugins/codemirror/mode/xml/xml.js') }}"
                type="text/javascript"></script>
        <script src="{{ asset('bundles/backend/js/plugins/codemirror/mode/htmlmixed/htmlmixed.js') }}"
                type="text/javascript"></script>

        <script src="{{ asset('bundles/backend/js/post-scripts.js') }}"
                type="text/javascript"></script>
    {% endblock %}

    {% block inline_js %}
        <script type="text/javascript">

            $(document).ready(function () {

                //  iCheck scripts for checkboxes and radios
                $(".i-checks").iCheck({
                    checkboxClass: "icheckbox_square-green",
                    radioClass: "iradio_square-green",
                });


                //  select2 scripts for batch actions combobox
                $(".select2-field").select2({
                    placeholder: "--- Select a value ---"
                });

            });

        </script>
    {% endblock %}
