{% extends 'BackendBundle::layout.html.twig' %}{% block active_post %}active{% endblock %}{% block page_heading_title %}
    <a class="btn btn-default navbar-btn" href="{{ path('post') }}"
       style="margin-bottom: 7px;">
        <span class="glyphicon glyphicon-chevron-up"></span>
    </a>
    Post data
{% endblock %}{% block page_content %}
    <div class="form-group m-b-lg">
        <div class="col-md-2 text-right">
            <a class="btn btn-success" href="{{ path('post') }}">
                <span class="glyphicon glyphicon-chevron-left"></span>
                Back to the list
            </a>
        </div>
        <div class="col-md-10">

            <a class="btn btn-success" target="_blank"
               href="{{ path('frontend_post_page', { 'route': entity.route }) }}">
                <span class="fa fa-globe"></span>
                View
            </a>

            <a class="btn btn-primary"
               href="{{ path('post_edit', { 'id': entity.id }) }}">
                <span class="fa fa-pencil"></span>
                Edit
            </a>

            <a class="btn btn-danger" data-toggle="modal" data-target="#modalDelete">
                <span class="fa fa-remove"></span>
                Delete
            </a>

        </div>
    </div>
    <br />
    <dl class="dl-horizontal">
        <tbody>
        <div class="hr-line-dashed"></div>
        <dt>Id</dt>
        <dd>{{ entity.id }}</dd>
        <div class="hr-line-dashed"></div>
        <dt>Title</dt>
        <dd>{{ entity.title }}</dd>
        <div class="hr-line-dashed"></div>
        <dt>Route</dt>
        <dd>{{ entity.route }}</dd>
        <div class="hr-line-dashed"></div>
        <dt>Content</dt>
        <dd>{{ entity.content | nl2br }}</dd>
        <div class="hr-line-dashed"></div>
        <dt>Published</dt>
        <dd>
            <div class="onoffswitch-ios switch-xs">
                {% if (entity.published) %}
                    <label class="onoffswitch-ios-label checked"></label>
                {% else %}
                    <label class="onoffswitch-ios-label"></label>
                {% endif %}
            </div>
        </dd>
        <div class="hr-line-dashed"></div>
        <dt>Created At</dt>
        <dd>{{ entity.createdAt|date('d-M-Y h:i A') }}</dd>
        <div class="hr-line-dashed"></div>
        <dt>Updated At</dt>
        <dd>{{ entity.updatedAt|date('d-M-Y h:i A') }}</dd>
        <div class="hr-line-dashed"></div>
        <dt>Meta Title</dt>
        <dd>{{ entity.metaTitle }}</dd>
        <div class="hr-line-dashed"></div>
        <dt>Meta Keywords</dt>
        <dd>{{ entity.metaKeywords }}</dd>
        <div class="hr-line-dashed"></div>
        <dt>Meta Description</dt>
        <dd><p>{{ entity.metaDescription }}</p></dd>
        <div class="hr-line-dashed"></div>
        <dt>Optional Metas</dt>
        <dd>{{ entity.optionalMetas | nl2br }}</dd>
        <div class="hr-line-dashed"></div>
        <dt>Custom CSS</dt>
        <dd>{{ entity.customCss | nl2br }}</dd>
        <div class="hr-line-dashed"></div>
        <dt>Custom JS</dt>
        <dd>{{ entity.customJs | nl2br }}</dd>
        <div class="hr-line-dashed"></div>
        </tbody>
    </dl>
    <div class="form-group">
        <div class="col-md-2 text-right">
            <a class="btn btn-success" href="{{ path('post') }}">
                <span class="glyphicon glyphicon-chevron-left"></span>
                Back to the list
            </a>
        </div>
        <div class="col-md-10">

            <a class="btn btn-success" target="_blank"
               href="{{ path('frontend_post_page', { 'route': entity.route }) }}">
                <span class="fa fa-globe"></span>
                View
            </a>

            <a class="btn btn-primary"
               href="{{ path('post_edit', { 'id': entity.id }) }}">
                <span class="fa fa-pencil"></span>
                Edit
            </a>

            <a class="btn btn-danger" data-toggle="modal" data-target="#modalDelete">
                <span class="fa fa-remove"></span>
                Delete
            </a>

        </div>
    </div>


    <div class="modal inmodal" id="modalDelete" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content animated bounceInRight">
                <div id="modal-title" class="modal-header red-bg">
                    <button type="button" class="close" data-dismiss="modal"><span
                                aria-hidden="true">&times;</span><span class="sr-only">Close</span>
                    </button>
                    <i class="fa fa-exclamation-triangle modal-icon text-white"></i>
                    <h4 class="modal-title">Attention!!!</h4>
                </div>
                <div id="modal-content" class="modal-body">
                    <strong>Are you sure you want to delete this data?</strong>
                </div>
                <div class="modal-footer">
                    <form action="{{ path('post_delete', { 'id': entity.id }) }}"
                          name="form-delete" method="post">
                        <button type="button" class="btn btn-white" data-dismiss="modal">Close</button>
                        <button id="modal-btn" type="submit" class="btn btn-danger" name="post-id"
                                value="{{ entity.id }}">
                            <span class="glyphicon glyphicon-ok"></span> Save changes
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>


{% endblock %}