{% extends '@Frontend/layout.html.twig' %}

{% block title '- ' ~ deal.name %}

{% block content %}
    <section class="inner-content">
        <div class="container">
            <div class="row row-eq-height">
                <div class="col-sm-6 text-center">
                    <img src="{{ asset('images/deals/' ~ deal.image) }}">
                </div>
                <div class="col-sm-6">
                    <h1>{{ deal.name }}</h1>
                    <hr/>
                        <strong>VALID FROM: {{ deal.startsAt | date ('m/d/Y') }}
                            - {{ deal.endsAt | date ('m/d/Y') }}</strong>
                    <ul class="social-share list-inline social-icon pull-right">
                        <li><a href="#" data-toggle="tooltip" title="Tweet this deal"><i class="fa fa-twitter"></i></a>
                        </li>
                        <li><a href="#" data-toggle="tooltip" title="Share this deal on your wall"><i
                                        class="fa fa-facebook"></i></a>
                        </li>
                    </ul>
                    </p>
                    <p>{{ deal.description | nl2br }}</p>
                </div>
            </div>
        </div>
    </section>
{% endblock %}