{% extends '@Frontend/layout.html.twig' %}

{% block title %} {{- deal.name -}} {% endblock %}

{% block metatags %}
    <meta name="keywords" content="{{- render(controller('BackendBundle:Settings:getSettings', { 'property' : 'websiteBrand' })) -}},
    {{- deal.name -}},
    {{- 'Deal details' | trans({}, 'deals') -}},
    {{- 'Mall' | trans({}, 'homepage') -}},
    {{- 'Deals' | trans({}, 'homepage') -}},
    {{- 'Buying' | trans({}, 'homepage') -}}
    " />
    <meta name="description" content="
    {{- deal.description -}}
    " />
{% endblock %}

{% block page_content %}
    <section class="inner-content section-spaces">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 text-center">
                    <img class="img-responsive" alt="{{ deal.name }}" src="{{ asset('images/deals/' ~ deal.image) }}">
                </div>
                <div class="col-sm-6">
                    <h1>{{ deal.name }}</h1>
                    <hr/>
                    <strong>{{ 'VALID FROM' | trans({}, 'deals') }}: {{ deal.startsAt | date ('m/d/Y') }}
                        - {{ deal.endsAt | date ('m/d/Y') }}</strong>
                    </p>
                    <p class="text-muted-strong">{{ deal.description | nl2br }}</p>

                    <ul class="list-inline pull-right">
                        <li>
                            <a href="http://twitter.com/intent/tweet?status=[TITLE]+[URL]" data-toggle="tooltip"
                               title="{{ 'Tweet this deal' | trans({}, 'deals') }}" class="btn btn-circle-muted btn-outline btn-social-icon btn-twitter"
                               onclick="javascript:this.href=this.href.replace(/\[TITLE\]/, document.title).replace(/\[URL\]/,
                                window.location);window.open(this.href,'', 'menubar=no,toolbar=no,resizable=yes,' +
                                'scrollbars=yes,height=600,width=600');return false;">
                                <i class="fa fa-twitter"></i>
                            </a>
                        </li>
                        <li>
                            <a href="http://www.facebook.com/share.php?u=[URL]&title=[TITLE]" data-toggle="tooltip"
                               title="{{ 'Share this deal' | trans({}, 'deals') }}" class="btn btn-circle-muted btn-outline btn-social-icon btn-facebook"
                               onclick="javascript:this.href=this.href.replace(/\[TITLE\]/, document.title).replace(/\[URL\]/,
                                window.location);window.open(this.href,'', 'menubar=no,toolbar=no,resizable=yes,' +
                                'scrollbars=yes,height=600,width=600');return false;">
                                <i class="fa fa-facebook"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>

            {% if deal.video %}
                <div align="center" class="embed-responsive embed-responsive-16by9">
                    <video autoplay loop class="embed-responsive-item">
                        <source src="{{ deal.video }}" type="video/mp4">
                    </video>
                </div>
            {% endif %}
        </div>
    </section>
{% endblock %}

{% block inline_js %}
    <script type="text/javascript">

        $('.carousel .item').each(function () {
            var next = $(this).next();
            if (!next.length) {
                next = $(this).siblings(':first');
            }

            next.children(':first-child').clone().appendTo($(this));

            for (var i = 0; i < 2; i++) {
                next = next.next();
                if (!next.length) {
                    next = $(this).siblings(':first');
                }

                next.children(':first-child').clone().appendTo($(this));
            }
        });
    </script>

    <script type="application/ld+json">
        {
            "@context": "http://schema.org/",
            "@type": "Product",
            "name": "{{ deal.name }}",
            "image": "{{ asset('images/deals/' ~ deal.image, null, true) }}",
            "description": "{{ deal.description }}"
        }
        </script>
{% endblock %}