{% extends '@Frontend/layout.html.twig' %}

{% block title '- ' ~ deal.name %}

{% block content %}
    <section class="inner-content">
        <div class="container">
            <div class="row row-eq-height">
                <div class="col-sm-6 text-center">
                    <img src="{{ asset('images/deals/' ~ deal.image) }}">
                </div>
                <div class="col-sm-6">
                    <h1>{{ deal.name }}</h1>
                    <hr/>
                    <strong>VALID FROM: {{ deal.startsAt | date ('m/d/Y') }}
                        - {{ deal.endsAt | date ('m/d/Y') }}</strong>
                    <ul class="social-share list-inline social-icon pull-right">
                        <li>
                            <a href="http://twitter.com/intent/tweet?status=[TITLE]+[URL]" data-toggle="tooltip"
                               title="Tweet this deal" class="twitter-share-button"
                               onclick="javascript:this.href=this.href.replace(/\[TITLE\]/, document.title).replace(/\[URL\]/,
                                window.location);window.open(this.href,'', 'menubar=no,toolbar=no,resizable=yes,' +
                                'scrollbars=yes,height=600,width=600');return false;">
                                <i class="fa fa-twitter"></i>
                            </a>
                        </li>
                        <li>
                            <a href="http://www.facebook.com/share.php?u=[URL]&title=[TITLE]" data-toggle="tooltip"
                               title="Share this deal" class="twitter-share-button"
                               onclick="javascript:this.href=this.href.replace(/\[TITLE\]/, document.title).replace(/\[URL\]/,
                                window.location);window.open(this.href,'', 'menubar=no,toolbar=no,resizable=yes,' +
                                'scrollbars=yes,height=600,width=600');return false;">
                                <i class="fa fa-facebook"></i>
                            </a>
                        </li>
                    </ul>
                    </p>
                    <p>{{ deal.description | nl2br }}</p>
                </div>
            </div>

            {% if deal.video %}
                <div align="center" class="embed-responsive embed-responsive-16by9">
                    <video autoplay loop class="embed-responsive-item">
                        <source src="{{ deal.video }}" type="video/mp4">
                    </video>
                </div>
            {% endif %}
        </div>
    </section>
{% endblock %}