{% extends '@Frontend/layout.html.twig' %}

{% block title '- Deals' %}

{% block content %}
    <section class="inner-content">
        <div class="container">
            <div class="row filter-deals">
                <div class="container">
                    <div class="col-sm-6">
                        <form action="{{ path('deals') }}" method="post">
                            <h4>FILTER DEALS BY:</h4>
                            <div class="col-sm-8 col-md-6">
                                {{ form_widget(form.business) }}
                            </div>
                            <div class="col-sm-4 col-md-6">
                                <button type="submit" class="btn btn-default">
                                    <i class="fa fa-search"></i> &nbsp;FILTER
                                </button>
                            </div>
                        </form>
                    </div>
                    <div class="col-md-4 col-md-offset-2 col-sm-6 text-right">
                        <h4>SORT DEALS BY:</h4>
                        <div class="btn-group">
                            <a href="{{ path('deals', {
                                'order': constant('BackendBundle\\Model\\SortingMode::SORT_ENDING_SOON')}) }}"
                               class="btn btn-white
                           {% if app.request.get('order') ==  constant('BackendBundle\\Model\\SortingMode::SORT_ENDING_SOON') %}active{% endif %}"
                               type="button">ENDING SOON</a>
                            <a href="{{ path('deals', {
                                'order': constant('BackendBundle\\Model\\SortingMode::SORT_NEW_DEALS')}) }}"
                               class="btn btn-white
                           {% if app.request.get('order') ==  constant('BackendBundle\\Model\\SortingMode::SORT_NEW_DEALS') %}active{% endif %}"
                               type="button">NEW DEALS</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row deal-list">
                <div class="col-sm-12">
                    {% for deal in deals %}
                        <div class="col-sm-4 text-center">
                            <h3>{{ deal.name | upper }}</h3>
                            <p>AT {{ deal.business.name | upper }}</p>
                            <p>ENDS: {{ deal.endsAt | date('m/d/Y') }}</p>
                            <div class="container-image">
                                <img class="center-height" src="{{ asset('images/deals/' ~ deal.image) }} "/>
                            </div>
                            <p><a class="btn btn-info" href="{{ path('deal_details', {'slug' : deal.slug}) }}"
                                  role="button">View Deal</a></p>
                        </div>
                    {% else %}
                        <div class="alert alert-danger">
                            No deals matching your criterias were found
                        </div>
                    {% endfor %}
                </div>
            </div>

            <div class="row text-center">
                {{ knp_pagination_render(deals) }}
            </div>
        </div>
    </section>
{% endblock %}