{% extends '@Frontend/layout.html.twig' %}

{% block title '- Deals' %}

{% block custom_css %}
    {{ parent() }}

    <!-- Style for select2 plugin -->
    <link rel="stylesheet" href="{{ asset('bundles/backend/css/plugins/select2/select2.min.css') }}">
{% endblock %}

{% block page_content %}
    <section class="inner-content section-spaces-line">
        <div class="filter-deals hidden-print collapsed">
            <div class="m-b-lg animated fadeInLeft">
                <form action="{{ path('deals') }}" method="post">
                    <h4>FILTER DEALS BY:</h4>
                    <div class="m-t-xs m-b-lg">
                        {{ form_widget(form.business) }}
                    </div>
                </form>
                <h4>SORT DEALS BY:</h4>
                <div class="btn-group-vertical btn-block" data-toggle="buttons">
                    <label class="btn btn-white hide-filters-action ">
                        <input type="radio"
                               value="{{ constant('BackendBundle\\Model\\SortingMode::SORT_ENDING_SOON') }}"
                               name="order" id="option1" autocomplete="off"> ENDING SOON
                    </label>
                    <label class="btn btn-white hide-filters-action ">
                        <input type="radio" value="{{ constant('BackendBundle\\Model\\SortingMode::SORT_NEW_DEALS') }}"
                               name="order" id="option2" autocomplete="off"> NEW DEALS
                    </label>
                </div>
            </div>
            <div class="btn-group btn-group-justified">
                <a class="btn btn-green btn-outline hide-filters-action" role="button"
                   onclick="print();">
                    <i class="fa fa-print"></i>
                </a>
                <a class="btn btn-green btn-outline hide-filters" role="button">
                    <i class="fa fa-chevron-left"></i>
                </a>
            </div>
            <div>
                <button class="m-t m-l show-filters btn btn-green btn-outline">
                    <i class="fa fa-filter"></i>
                </button>
            </div>
        </div>

        <div class="container">
            <div class="row deal-list hidden-print">
                <div class="col-sm-12">
                    {% for deal in deals %}
                        <div class="col-sm-4 text-center">
                            <h3>{{ deal.name | upper }}</h3>
                            <p>AT {{ deal.business.name | upper }}</p>
                            <p>ENDS: {{ deal.endsAt | date('m/d/Y') }}</p>
                            <div class="container-image">
                                <img class="center-height" src="{{ asset('images/deals/' ~ deal.image) }} "/>
                            </div>
                            <p><a class="btn btn-amber" href="{{ path('deal_details', {'slug' : deal.slug}) }}"
                                  role="button">View Deal</a></p>
                        </div>
                    {% else %}
                        <div class="alert alert-danger">
                            No deals matching your criterias were found
                        </div>
                    {% endfor %}
                </div>
            </div>
            {# Content visible only for print view #}
            <div class="print-view visible-print">
                <div class="row">
                    <img src="{{ asset('bundles/frontend/img/plaza_mariachi.png') }}"
                         alt="Plaza Mariachi Music City"
                         class="print-brand m-l"/>
                </div>
                <h1 class="print-title">Deals List of Plaza Mariachi</h1>
                <div class="row print-deal-list">
                    <table class="table table-striped table-hover">
                        <thead>
                        <tr>
                            <th>IMAGE</th>
                            <th>NAME</th>
                            <th>DESCRIPTION</th>
                            <th>BUSINESS</th>
                            <th>START DATE</th>
                            <th>END DATE</th>
                            <th>POINTS</th>
                        </tr>
                        </thead>

                        <tbody>
                        {% for deal in deals %}
                            <tr>
                                <td>
                                    <div class="print-container-image">
                                        <img class="center-height"
                                             src="{{ asset('images/deals/' ~ deal.image) }} "/>
                                    </div>
                                </td>
                                <td>
                                    {{ deal.name | upper }}
                                </td>
                                <td>
                                    {{ deal.description }}
                                </td>
                                <td>
                                    {{ deal.business.name }}
                                </td>
                                <td>
                                    {{ deal.startsAt|date("Y, d M") }}
                                </td>
                                <td>
                                    {{ deal.endsAt|date("Y, d M") }}
                                </td>
                                <td>
                                    {{ deal.points ~ " points" }}
                                </td>
                            </tr>
                        {% else %}
                            <tr>
                                <td colspan="7">
                                    No deals matching your criterias were found...
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>


            <div class="row text-center hidden-print">
                {{ knp_pagination_render(deals) }}
            </div>
        </div>
    </section>
{% endblock %}

{% block custom_js %}
    {{ parent() }}

    <!-- Script for sticky filter bar -->
    <script src="{{ asset('bundles/frontend/js/sticky_filter.js') }}"></script>

    <!-- Script for select2 plugin -->
    <script src="{{ asset('bundles/backend/js/plugins/select2/select2.full.min.js') }}"></script>
{% endblock %}

{% block inline_js %}
    <script type="text/javascript">
        $(document).ready(function () {

            //  select2 scripts for batch actions combobox
            $(".select2").select2();
        });
    </script>
{% endblock %}