{% extends '@Frontend/layout.html.twig' %}

{% block navbar %}
    {% embed '@Frontend/navbar.html.twig' %}
        {% block navbar_class 'navbar-scroll' %}
    {% endembed %}
{% endblock %}

{% block javascript %}
    <script src="{{ asset('bundles/backend/js/plugins/select2/select2.full.min.js') }}"></script>
    <script src="{{ asset('bundles/frontend/js/widgets.js') }}"></script>
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('bundles/backend/css/plugins/select2/select2.min.css') }}">
{% endblock %}

{% block content %}
    <section class="inner-content">
        <div class="container">
            <div class="row filter-deals">
                <div class="col-sm-6">
                    <h4>FILTER DEALS BY:</h4>
                    <div class="col-sm-6">
                        <select name="categories" class="select2" data-placeholder="ALL CATEGORIES">
                            <option value=""></option>
                            <option value="1">first</option>
                            <option value="2">two</option>
                            <option value="3">third</option>
                            <option value="4">fourth</option>
                        </select>
                    </div>
                    <div class="col-sm-6">
                        <select name="stores" class="select2" data-placeholder="ALL STORES">
                            <option value=""></option>
                            <option value="1">first</option>
                            <option value="2">two</option>
                            <option value="3">third</option>
                            <option value="4">fourth</option>
                        </select>
                    </div>
                </div>
                <div class="col-sm-6 text-right">
                    <h4>SORT DEALS BY:</h4>
                    <div class="btn-group">
                        <button class="btn btn-white" type="button">ENDING SOON</button>
                        <button class="btn btn-info" type="button">NEW DEALS</button>
                    </div>
                </div>
            </div>

            <div class="row deal-list">
                <div class="col-sm-12">
                    {% for deal in deals %}
                        <div class="col-sm-4 text-center">
                            <h3>{{ deal.name | upper }}</h3>
                            <p>AT {{ deal.business.name | upper }}</p>
                            <p>ENDS: {{ deal.endsAt | date('m/d/Y') }}</p>
                            <div class="container-image">
                                <img class="center-height" src="{{ asset('images/deals/' ~ deal.image) }} "/>
                            </div>
                            <p><a class="btn btn-info" href="landing.html#" role="button">View Deal</a></p>
                        </div>
                    {% endfor%}
                </div>
            </div>

            <div class="row text-center">
                {{ knp_pagination_render(deals) }}
            </div>
        </div>
    </section>
{% endblock %}