{% extends 'BackendBundle::layout.html.twig' %}

{% block active_opening_category %}active{% endblock %}

{% block page_heading_title %}
    <a class="btn btn-default navbar-btn" href="{{ path('opening_category') }}"
       style="margin-bottom: 7px;">
        <span class="glyphicon glyphicon-chevron-up"></span>
    </a>
    {{ 'Opening Category data' | trans({}, 'openingcategorybackend') }}
{% endblock %}

{% block page_content %}
    <dl class="dl-horizontal">
        <tbody>
        <dt>Id</dt>
        <dd>{{ entity.id }}</dd>
        <div class="hr-line-dashed"></div>
        <dt>{{ 'Name' | trans({}, 'openingcategorybackend') }}</dt>
        <dd>{{ entity.name }}</dd>
        <div class="hr-line-dashed"></div>
        <dt>{{ 'Slug' | trans({}, 'openingcategorybackend') }}</dt>
        <dd>{{ entity.slug }}</dd>
        <div class="hr-line-dashed"></div>
        <dt>{{ 'Description' | trans({}, 'openingcategorybackend') }}</dt>
        <dd>{{ entity.description }}</dd>
        <div class="hr-line-dashed"></div>
        <dt>{{ 'Openings' | trans({}, 'openingcategorybackend') }}</dt>
        <dd>
            {% for opening in entity.openings %}
                <span class="label label-primary">{{ opening }}</span>
            {% else %}
                <span class="label label-warning">{{ 'No openings related'  | trans({}, 'openingcategorybackend')}}</span>
            {% endfor %}
        </dd>
        <div class="hr-line-dashed"></div>
        {% if(entity.parent is not empty) %}
            <dt>{{ 'Parent' | trans({}, 'openingcategorybackend') }}</dt>
            <dd><span class="label label-success">{{ entity.parent }}</span></dd>
            <div class="hr-line-dashed"></div>
        {% endif %}
        </tbody>
    </dl>
    <div class="form-group">
        <div class="col-md-2 text-right">
            <a class="btn btn-success" href="{{ path('opening_category') }}">
                <span class="glyphicon glyphicon-chevron-left"></span>
                {{ 'Back to the list' | trans({}, 'generalbackend') }}
            </a>
        </div>
        <div class="col-md-10">


            <a class="btn btn-primary"
               href="{{ path('opening_category_edit', { 'id': entity.id }) }}">
                <span class="fa fa-pencil"></span>
                {{ 'Edit' | trans({}, 'generalbackend') }}
            </a>

            <a class="btn btn-danger" data-toggle="modal" data-target="#modalDelete">
                <span class="fa fa-remove"></span>
                {{ 'Delete' | trans({}, 'generalbackend') }}
            </a>


        </div>
    </div>


    <div class="modal inmodal" id="modalDelete" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content animated bounceInRight">
                <div id="modal-title" class="modal-header red-bg">
                    <button type="button" class="close" data-dismiss="modal"><span
                                aria-hidden="true">&times;</span><span
                                class="sr-only">{{ 'Close' | trans({}, 'generalbackend') }}</span>
                    </button>
                    <i class="fa fa-exclamation-triangle modal-icon text-white"></i>
                    <h4 class="modal-title">{{ 'Attention' | trans({}, 'generalbackend') }}!!!</h4>
                </div>
                <div id="modal-content" class="modal-body">
                    <strong>{{ 'Are you sure you want to delete this data?' | trans({}, 'generalbackend') }}</strong>
                </div>
                <div class="modal-footer">
                    <form action="{{ path('opening_category_delete', { 'id': entity.id }) }}"
                          name="form-delete" method="post">
                        <button type="button" class="btn btn-white"
                                data-dismiss="modal">{{ 'Close' | trans({}, 'generalbackend') }}</button>
                        <button id="modal-btn" type="submit" class="btn btn-danger" name="category-id"
                                value="{{ entity.id }}">
                            <span class="glyphicon glyphicon-ok"></span> {{ 'Save changes' | trans({}, 'generalbackend') }}
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>


{% endblock %}