{% extends '@Frontend/layout.html.twig' %}

{% block navbar %}
    {% embed '@Frontend/navbar.html.twig' %}
        {% block navbar_class 'navbar-scroll' %}
    {% endembed %}
{% endblock %}

{% block javascript %}
    <script src="{{ asset('bundles/frontend/js/widgets.js') }}"></script>
{% endblock %}


{% block content %}
    <section class="inner-content">
        <div class="container">
            <div class="row row-eq-height">
                <div class="col-sm-6 text-center">
                    <img src="{{ asset('images/business/' ~ business.logo) }}">
                </div>
                <div class="col-sm-6">
                    <h1>{{ business.name | upper }}</h1>
                    <hr/>
                    <ul class="social-share list-inline social-icon pull-right">
                        <li><a href="#" data-toggle="tooltip" title="Tweet this deal"><i class="fa fa-twitter"></i></a>
                        </li>
                        <li><a href="#" data-toggle="tooltip" title="Share this deal on your wall"><i
                                        class="fa fa-facebook"></i></a>
                        </li>
                    </ul>

                    <span class="business-info">
                        <ul class="list-unstyled">
                            <li><i class="fa fa-phone"></i> {{ business.phone }}</li>
                            <li>
                                <a href="{{ business.socialMedia }}">
                                    <i class="fa fa-facebook"></i> {{  business.socialMedia }}
                                </a>
                            </li>
                            <li><i class="fa fa-tags"></i> {{ business.categories | join(', ') }}</li>
                        </ul>
                    </span>

                    </p>
                    <p>{{ business.description | nl2br }}</p>
                </div>
            </div>
        </div>
    </section>
{% endblock %}