{% extends '@Frontend/layout.html.twig' %}

{% block title %} {{- business.name -}} {% endblock %}

{% block metatags %}
    <meta name="keywords"
          content="{{- render(controller('BackendBundle:Settings:getSettings', { 'property' : 'websiteBrand' })) -}},
    {{- business.name -}},
    {{- 'Business details' | trans({}, 'business') -}},
    {{- 'Mall' | trans({}, 'homepage') -}},
    {{- 'Deals' | trans({}, 'homepage') -}},
    {{- 'Buying' | trans({}, 'homepage') -}}
    "/>
    <meta name="description" content="
    {{- business.description -}}
    "/>
{% endblock %}

{% block page_content %}
    <section class="inner-content section-spaces">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 text-center">
                    <img class="img-responsive"
                         alt="{{ business.name }}"
                         title="{{ business.name }}"
                         src="{{ asset('images/business/' ~ business.logo) }}">
                </div>
                <div class="col-sm-6">
                    <h1>{{ business.name | upper }}</h1>
                    <hr/>

                    <span class="business-info">
                        <ul class="list-unstyled">
                            {#<li>#}
                            {#<i class="fa fa-clock-o"></i>#}
                            {#{{ business.hoursBegin|date("h:i A") ~ " - " ~ business.hoursEnd|date("h:i A") }}#}
                            {#</li>#}
                            <li>
                                <i class="fa fa-envelope"></i>
                                <a href="mailto:{{ business.email }}">
                                    {{ business.email }}
                                </a>
                            </li>
                            <li><i class="fa fa-phone"></i> {{ business.phone }}</li>
                            {#<li>#}
                            {#<i class="fa fa-globe"></i>#}
                            {#<a target="_blank" href="{{ business.website }}">#}
                            {#{{ business.website|split("://")[1] }}#}
                            {#<sub><span class="fa fa-external-link"></span></sub>#}
                            {#</a>#}
                            {#</li>#}
                            <li>
                                <i class="fa fa-facebook-official"></i>
                                <a target="_blank" href="{{ business.socialMedia }}">
                                    {{ business.socialMedia }}
                                    <sub><span class="fa fa-external-link"></span></sub>
                                </a>
                            </li>
                            <li>
                                <p class="text-muted-strong">
                                    <i class="fa fa-map-marker"></i>
                                    <a class="btn btn-xs btn-blue"
                                       href="{{ path('mall_map', {'hl' : business.slug}) }}">
                                        View on Mall Map
                                    </a>
                                    - {{ business.mallMapDirections }}
                                </p>
                            </li>
                            <li><i class="fa fa-tags"></i> {{ business.categories | join(', ') }}</li>
                        </ul>
                    </span>

                    <p class="text-muted-strong">{{ business.description | nl2br }}</p>

                    {% if business.openings | length > 0 %}
                        <div class="openings col-lg-8">
                            <a href="{{ path('careers_find', {'business':business.slug}) }}"
                               class="btn btn-blue btn-block">
                                CHECK OPEN POSITIONS FOR THIS BUSINESS
                            </a>
                        </div>
                    {% endif %}

                    <ul class="list-inline pull-right">
                        <li>
                            <a href="http://twitter.com/intent/tweet?status=[TITLE]+[URL]" data-toggle="tooltip"
                               title="{{ 'Tweet this business' | trans({}, 'business') }}"
                               class="btn btn-circle-muted btn-outline btn-social-icon btn-twitter"
                               onclick="javascript:this.href=this.href.replace(/\[TITLE\]/, document.title).replace(/\[URL\]/,
                                window.location);window.open(this.href,'', 'menubar=no,toolbar=no,resizable=yes,' +
                                'scrollbars=yes,height=600,width=600');return false;">
                                <span class="fa fa-twitter"></span>
                            </a>
                        </li>
                        <li>
                            <a href="http://www.facebook.com/share.php?u=[URL]&title=[TITLE]" data-toggle="tooltip"
                               title="{{ 'Share this business' | trans({}, 'business') }}"
                               class="btn btn-circle-muted btn-outline btn-social-icon btn-facebook"
                               onclick="javascript:this.href=this.href.replace(/\[TITLE\]/, document.title).replace(/\[URL\]/,
                                window.location);window.open(this.href,'', 'menubar=no,toolbar=no,resizable=yes,' +
                                'scrollbars=yes,height=600,width=600');return false;">
                                <span class="fa fa-facebook"></span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

    {#{% if business.deals | length > 0 %}#}
    {#<section class="section-spaces-line gray-bg">#}
    {#<div class="row business-deals">#}
    {#<div class="container">#}
    {#<div class="row m-b-lg">#}
    {#<div class="col-lg-12 text-center">#}
    {#<div class="section-line amber-line"></div>#}
    {#<h1>{{ render(controller('BackendBundle:Settings:getSettings', { 'property' : 'headerBusinessActiveDeals' })) }}</h1>#}

    {#<p>{{ render(controller('BackendBundle:Settings:getSettings', { 'property' : 'subheaderBusinessActiveDeals' })) }}</p>#}
    {#</div>#}
    {#</div>#}

    {#<div class="carousel carousel-adjusted slide" id="myCarousel">#}
    {#<div class="carousel-inner">#}
    {#{% for deal in business.deals %}#}
    {#{% if not deal.isExpired %}#}
    {#<div class="item {% if loop.first %}active{% endif %} ">#}
    {#<div class="col-sm-3 text-center">#}
    {#<h3>{{ deal.name | upper }}</h3>#}
    {#<p>AT {{ deal.business.name | upper }}</p>#}
    {#<p>ENDS: {{ deal.endsAt | date('m/d/Y') }}</p>#}
    {#<div class="container-image">#}
    {#<img class="center-height"#}
    {#alt="{{ deal.name }}"#}
    {#src="{{ asset('images/deals/' ~ deal.image) }} "/>#}
    {#</div>#}
    {#<p>#}
    {#<a class="btn btn-amber"#}
    {#href="{{ path('deal_details', {'slug' : deal.slug}) }}"#}
    {#role="button">#}
    {#{{ 'View Deal' | trans({}, 'business') }}#}
    {#</a>#}
    {#</p>#}
    {#{{ loop.last ? '' : '<p class="visible-xs m-b-xl"></p>' }}#}
    {#</div>#}
    {#</div>#}
    {#{% endif %}#}
    {#{% endfor %}#}
    {#</div>#}
    {#<a class="left carousel-control" href="#myCarousel" data-slide="prev"><i#}
    {#class="glyphicon glyphicon-chevron-left"></i></a>#}
    {#<a class="right carousel-control" href="#myCarousel" data-slide="next"><i#}
    {#class="glyphicon glyphicon-chevron-right"></i></a>#}
    {#</div>#}
    {#</div>#}
    {#</div>#}

    {#<div class="row">#}
    {#<h2>ACTIVE DEALS</h2>#}
    {#{% for deal in business.deals %}#}
    {#<div class="col-sm-4 text-center">#}
    {#<h3>{{ deal.name | upper }}</h3>#}
    {#<p>AT {{ deal.business.name | upper }}</p>#}
    {#<p>ENDS: {{ deal.endsAt | date('m/d/Y') }}</p>#}
    {#<div class="container-image">#}
    {#<img class="center-height" alt="{{ deal.name }}" src="{{ asset('images/deals/' ~ deal.image) }} "/>#}
    {#</div>#}
    {#<p><a class="btn btn-info" href="{{ path('deal_details', {'slug' : deal.slug}) }}" role="button">View Deal</a></p>#}
    {#</div>#}
    {#{% endfor%}#}
    {#</div>#}
    {#</section>#}
    {#{% endif %}#}

    {% if related | length > 0 %}
        <section class="section-spaces-line">
            <div class="container related-businesses">
                <div class="container">
                    <div class="row m-b-lg">
                        <div class="col-lg-12 text-center">
                            <div class="section-line pink-line"></div>
                            <h1>{{ render(controller('BackendBundle:Settings:getSettings', { 'property' : 'headerBusinessRelatedBusinesses' })) }}</h1>

                            <p>{{ render(controller('BackendBundle:Settings:getSettings', { 'property' : 'subheaderBusinessRelatedBusinesses' })) }}</p>
                        </div>
                    </div>
                    <h2></h2>
                    {% for item in related %}
                        <div class="col-sm-3">
                            <div class="ibox">
                                <div class="ibox-content product-box">

                                    <div class="product-imitation container-image">
                                        <img class="center-height"
                                             alt="{{ item.name }}"
                                             title="{{ item.name }}"
                                             src="{{ asset('images/business/' ~ item.logo) }}">
                                    </div>
                                    <div class="product-desc">
                                        {#<span class="product-price">#}
                                        {#$10#}
                                        {#</span>#}
                                        {#<small class="text-muted">Category</small>#}
                                        <a href="{{ path('business_details', {'slug':item.slug}) }}"
                                           class="product-name">{{ item.name }}</a>

                                        <div class="small m-t-xs">
                                            {{ item.description | truncate(200, true) }}
                                        </div>
                                        <div class="m-t text-center">
                                            <a href="{{ path('business_details', {'slug':item.slug}) }}"
                                               class="btn btn-xs btn-outline btn-pink">{{ 'View business' | trans({}, 'business') }}
                                                <i class="fa fa-long-arrow-right"></i> </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </section>
    {% endif %}



    {% if business.androidApp is not null or business.iosApp is not null %}
        <section class="section-spaces-line">
            <div class="container">
                <div class="row m-b-lg">
                    <div class="col-lg-12 text-center">
                        <div class="section-line pink-line"></div>
                        <h1>{{ render(controller('BackendBundle:Settings:getSettings', { 'property' : 'headerStayClose' })) }}</h1>

                        <p>{{ render(controller('BackendBundle:Settings:getSettings', { 'property' : 'subheaderStayClose' })) }}</p>
                    </div>
                </div>

                <div class="col-md-4 col-md-offset-4 col-sm-8 col-sm-offset-2">
                    <div class="col-xs-6">
                        {% if business.androidApp is not null %}
                            <a href="{{ business.androidApp }}">
                                <img class="img-responsive" alt="Get it on Google Play"
                                     title="Get it on Google Play"
                                     src="{{ asset('bundles/frontend/img/google_play_badge.png') }}"/></a>
                        {% endif %}
                    </div>

                    <div class="col-xs-6">
                        {% if business.iosApp is not null %}
                            <a href="{{ business.iosApp }}">
                                <img style="width: 100%;" alt="Download on the App Store"
                                     title="Download on the App Store"
                                     src="{{ asset('bundles/frontend/img/apple_store_badge.svg') }}"/></a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </section>
    {% endif %}
{% endblock %}

{% block inline_js %}
    <script type="text/javascript">

        $('.carousel .item').each(function () {
            var next = $(this).next();
            if (!next.length) {
                next = $(this).siblings(':first');
            }

            next.children(':first-child').clone().appendTo($(this));

            for (var i = 0; i < 2; i++) {
                next = next.next();
                if (!next.length) {
                    next = $(this).siblings(':first');
                }

                next.children(':first-child').clone().appendTo($(this));
            }
        });
    </script>

    <script type="application/ld+json">
        {
            "@context": "http://schema.org",
            "@type": "LocalBusiness",
            "@id": "http://www.example.com",
            "name": "{{ business.name }}",
            "url": "{{ business.website }}",
            "logo": "{{ asset('images/business/' ~ business.logo, null, true) }}",
            "telephone": "{{ business.phone }}",
            "sameAs" : "{{ business.socialMedia }}"
        }




    </script>
{% endblock %}