{% extends '@Frontend/layout.html.twig' %}

{% block title '- Businesses' %}

{% block navbar %}
    {% embed '@Frontend/navbar.html.twig' %}
        {% block navbar_class 'navbar-scroll' %}
    {% endembed %}
{% endblock %}

{% block javascript %}
    <script src="{{ asset('bundles/frontend/js/widgets.js') }}"></script>
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('bundles/backend/css/plugins/select2/select2.min.css') }}">
{% endblock %}

{% block content %}
    <section class="inner-content">
        <div class="container">
            <div class="row filter-deals">
                <div class="col-sm-8">
                    <form action="{{ path('business_list') }}" method="post">
                        <h4>FILTER BUSINESSES BY:</h4>
                        <div class="col-sm-4">
                            {{ form_widget(form.search) }}
                        </div>
                        <div class="col-sm-4">
                            {{ form_widget(form.category) }}
                        </div>
                        <div class="col-sm-4">
                            <button type="submit" class="btn btn-default">
                                <i class="fa fa-search"></i> &nbsp;FILTER
                            </button>
                        </div>
                    </form>
                </div>
                <div class="col-sm-4 text-right">
                    <h4>SORT BUSINESSES BY:</h4>
                    <div class="btn-group">
                        <a href="{{ path('business_list', {'order':
                           constant('BackendBundle\\Model\\SortingMode::SORT_ALPHABETICALLY')}) }}"
                           class="btn btn-white
                           {% if app.request.get('order') ==  constant('BackendBundle\\Model\\SortingMode::SORT_ALPHABETICALLY') %}active{% endif %}"
                           type="button">ALPHABETICALLY</a>
                        <a href="{{ path('business_list', {'order':
                           constant('BackendBundle\\Model\\SortingMode::SORT_CATEGORY')}) }}"
                           class="btn btn-white
                           {% if app.request.get('order') ==  constant('BackendBundle\\Model\\SortingMode::SORT_CATEGORY') %}active{% endif %}"
                           type="button">CATEGORY</a>
                        <a href="{{ path('business_list', {'order':
                           constant('BackendBundle\\Model\\SortingMode::SORT_RECENT_DEALS')}) }}"
                           class="btn btn-white
                           {% if app.request.get('order') ==  constant('BackendBundle\\Model\\SortingMode::SORT_RECENT_DEALS') %}active{% endif %}"
                           type="button">RECENT DEALS</a>
                    </div>
                </div>
            </div>

            <div class="row deal-list">
                <div class="col-sm-12">
                    {% for business in businesses %}
                        <div class="col-sm-4 text-center">
                            <h3>{{ business.name | upper }}</h3>
                            <p>AT {{ business.name | upper }}</p>
                            <div class="container-image business-image">
                                <img class="center-height business-image"
                                     src="{{ asset('images/business/' ~ business.logo) }} "/>
                            </div>
                            <p><a class="btn btn-info" href="{{ path('business_details', {'slug' : business.slug}) }}"
                                  role="button">View Business</a></p>
                        </div>
                    {% endfor %}
                </div>
            </div>

            <div class="row text-center">
                {{ knp_pagination_render(businesses) }}
            </div>
        </div>
    </section>
{% endblock %}