{% extends '@Frontend/layout.html.twig' %}

{% block title '- Businesses' %}

{% block custom_css %}
    {{ parent() }}

    <!-- Style for select2 plugin -->
    <link rel="stylesheet" href="{{ asset('bundles/backend/css/plugins/select2/select2.min.css') }}">
{% endblock %}

{% block page_content %}
    <section class="inner-content section-spaces-line">
        <div class="filter-deals hidden-print collapsed">
            <div class="m-b-lg animated fadeInLeft">
                <form action="{{ path('business_list') }}" method="post">
                    <h4>FILTER BUSINESSES BY:</h4>
                    <div class="">
                        {{ form_widget(form.search) }}
                    </div>
                    <div class="m-t-xs m-b-lg">
                        {{ form_widget(form.category) }}
                    </div>
                </form>
                <h4 class="">SORT BUSINESSES BY:</h4>
                <div class="btn-group-vertical btn-block" data-toggle="buttons">
                    <label class="btn btn-white hide-filters-action active">
                        <input type="radio"
                               value="{{ constant('BackendBundle\\Model\\SortingMode::SORT_ALPHABETICALLY') }}"
                               name="order" id="option1" autocomplete="off"> ALPHABETICALLY
                    </label>
                    <label class="btn btn-white hide-filters-action">
                        <input type="radio"
                               value="{{ constant('BackendBundle\\Model\\SortingMode::SORT_CATEGORY') }}"
                               name="order" id="option1" autocomplete="off"> CATEGORY
                    </label>
                    <label class="btn btn-white hide-filters-action">
                        <input type="radio"
                               value="{{ constant('BackendBundle\\Model\\SortingMode::SORT_RECENT_DEALS') }}"
                               name="order" id="option2" autocomplete="off"> RECENT DEALS
                    </label>
                </div>
            </div>
            <div class="btn-group btn-group-justified">
                <a class="btn btn-green btn-outline hide-filters-action" role="button"
                        onclick="print();">
                    <i class="fa fa-print"></i>
                </a>
                <a class="btn btn-green btn-outline hide-filters-action" role="button"
                   href="#">
                    <i class="fa fa-map-marker"></i>
                </a>
                <a class="btn btn-green btn-outline hide-filters" role="button">
                    <i class="fa fa-chevron-left"></i>
                </a>
            </div>
            <div>
                <button class="m-t m-l show-filters btn btn-green btn-outline">
                    <i class="fa fa-filter"></i>
                </button>
            </div>
        </div>

        <div class="container">
            <div class="row deal-list hidden-print">
                <div class="col-sm-12">
                    {% for business in businesses %}
                        <div class="col-sm-3 text-center">
                            <a href="{{ path('business_details', {'slug' : business.slug}) }}" class="thumbnail" >
                                <div class="container-image business-image">
                                    <img class="center-height img-responsive business-image"
                                         alt="{{ business.name }}"
                                         src="{{ asset('images/business/' ~ business.logo) }} "/>
                                </div>
                            </a>
                            <h3>{{ business.name | upper }}</h3>
                        </div>
                    {% else %}
                        <div class="alert alert-danger">
                            No businesses matching your criterias were found
                        </div>
                    {% endfor %}
                </div>

                <div class="row text-center hidden-print">
                    {{ knp_pagination_render(businesses) }}
                </div>
            </div>

            {# Content visible only for print view #}
            <div class="print-view visible-print">
                <div class="row">
                    <img src="{{ asset('bundles/frontend/img/plaza_mariachi.png') }}"
                         alt="Plaza Mariachi Music City"
                         class="print-brand m-l"/>
                </div>
                <h1 class="print-title">Business List of Plaza Mariachi</h1>
                <div class="row print-deal-list">
                    <table class="table table-striped table-hover">
                        <thead>
                        <tr>
                            <th>BRAND</th>
                            <th>NAME</th>
                            <th>DESCRIPTION</th>
                            <th>PHONE</th>
                            <th>CATEGORIES</th>
                            <th>DEALS</th>
                        </tr>
                        </thead>

                        <tbody>
                        {% for business in businesses %}
                            <tr>
                                <td>
                                    <div class="print-container-image print-business-image">
                                        <img class="center-height print-business-image"
                                             src="{{ asset('images/business/' ~ business.logo) }} "/>
                                    </div>
                                </td>
                                <td>
                                    {{ business.name | upper }}
                                </td>
                                <td>
                                    {{ business.description }}
                                </td>
                                <td>
                                    {{ business.phone }}
                                </td>
                                <td>
                                    {% for category in business.categories %}
                                        {{ category.name ~ ", " }}
                                    {% else %}
                                        <i>without categories</i>
                                    {% endfor %}
                                </td>
                                <td>
                                    {{ business.deals|length ~ " Deals" }}
                                </td>
                            </tr>
                        {% else %}
                            <tr>
                                <td colspan="6">
                                    No businesses matching your criterias were found...
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block custom_js %}
    {{ parent() }}

    <!-- Script for sticky filter bar -->
    <script src="{{ asset('bundles/frontend/js/sticky_filter.js') }}"></script>

    <!-- Script for select2 plugin -->
    <script src="{{ asset('bundles/backend/js/plugins/select2/select2.full.min.js') }}"></script>
{% endblock %}

{% block inline_js %}
    <script type="text/javascript">
        $(document).ready(function () {

            //  select2 scripts for batch actions combobox
            $(".select2").select2();
        });
    </script>
{% endblock %}