{% extends '@Frontend/layout.html.twig' %}

{% block title '- Mall Map' %}

{% block custom_css %}
    {{ parent() }}

    <!-- Style for select2 plugin -->
    <link rel="stylesheet" href="{{ asset('bundles/backend/css/plugins/select2/select2.min.css') }}">
{% endblock %}

{% block page_content %}
    <section class="inner-content section-spaces-line">
        <div class="container">
            <div class="row m-b">
                <div class="col-lg-12 text-center">
                    <div class="section-line amber-line"></div>
                    <h1>{{ 'Mall Map of' | trans({}, 'business') }} Plaza Mariachi <sub><i>Music City</i></sub></h1>
                </div>
            </div>

            <p class="text-center">
                <img id="mallMapImage" usemap="#mallMapAreas" src=""/>
                <map name="mallMapAreas">
                    {% for entity in entities %}
                        {% if entity.mallMapX is not empty and entity.mallMapY is not empty %}
                            <area shape="rect"
                                  coords="{{- (entity.mallMapX - 12) ~ ','
                                  ~ (entity.mallMapY - 26) ~ ','
                                  ~ (entity.mallMapX + 10) ~ ','
                                  ~ (entity.mallMapY + 4) -}}"
                                  href="#"
                                  data-content="
                                  <small>
                                  <ul class='list-unstyled'><li>
                                    <i class='fa fa-clock-o'></i>
                                        {{ entity.hoursBegin|date('h:i A') ~ ' to ' ~ entity.hoursEnd|date('h:i A') }}
                                    </li>
                                    <li>
                                        <i class='fa fa-envelope'></i>
                                        <a href='mailto:{{ entity.email }}'>
                                            {{ entity.email }}
                                        </a>
                                    </li>
                                    <li><i class='fa fa-phone'></i> {{ entity.phone }}</li>
                                  </ul>
                                  </small>
                                  "
                                  title="{{ entity.name }}"
                                  data-placement="auto right"
                                  data-trigger="hover click"
                                  data-toggle="popover"
                                  data-html="true"
                                  data-container="body"
                            />
                        {% endif %}
                    {% endfor %}
                </map>
            </p>

        </div>
    </section>

    <div class="hidden">
        <input type="hidden" id="map_coords" name="map_coords"
               value="
               {{- '[' -}}
               {% for entity in entities %}
                   {% if entity.mallMapX is not empty and entity.mallMapY is not empty %}
                        {{- loop.index0 ? ',[' : '[' -}}
                        {{- entity.mallMapX ~ ',' ~ entity.mallMapY -}}
                        {{- ']' -}}
                   {% endif %}
               {% endfor %}
               {{- ']' -}}
               "/>
        <input type="hidden" name="map_image" id="map_image"
               value="{{ asset("bundles/backend/images/mall_map_blank.jpg") }}"/>
        <input type="hidden" name="map_marker" id="map_marker"
               value="{{ asset("bundles/backend/images/map-marker.png") }}"/>

        <canvas id="mallMapCanvas" width="500" height="317"
                onclick="mapPosition(event, this);">
            your browser doesn't support canvas!
        </canvas>
    </div>
{% endblock %}

{% block custom_js %}
    {{ parent() }}

    <!-- Script for select2 plugin -->
    <script src="{{ asset('bundles/backend/js/plugins/select2/select2.full.min.js') }}"></script>

    <!-- Mall Map Scripts -->
    <script src="{{ asset('bundles/backend/js/mallmap.js') }}"
            type="text/javascript"></script>
{% endblock %}

{% block inline_js %}
    <script type="text/javascript">
        $(document).ready(function () {

            //  select2 scripts for batch actions combobox
            $(".select2").select2();
        });
    </script>
{% endblock %}