{% extends 'BackendBundle::layout.html.twig' %}

{% block custom_css %}
    {{ parent() }}

    <!-- Data Tables Styles -->
    <link rel="stylesheet" href="{{ asset('bundles/backend/css/plugins/dataTables/datatables.min.css') }}"
          type="text/css"/>
    <!-- iCheck Styles -->
    <link rel="stylesheet" href="{{ asset('bundles/backend/css/plugins/iCheck/custom.css') }}"
          type="text/css"/>
    <!-- select2 Styles -->
    <link rel="stylesheet" href="{{ asset('bundles/backend/css/plugins/select2/select2.min.css') }}"
          type="text/css"/>
    <link rel="stylesheet" href="{{ asset('bundles/backend/css/plugins/datapicker/datepicker3.css') }}"
          type="text/css"/>
{% endblock %}

        {% block active_candidate %}active{% endblock %}

        {% block page_heading_title %}
            {{ 'Candidates list' | trans({}, 'candidatebackend') }}
        {% endblock %}

    {% block page_heading_action_button %}
        {#<a class="btn btn-success navbar-btn pull-right" href="{{ path('candidate_new') }}">#}
        {#<span class="fa fa-plus"></span>#}
        {#New candidate#}
        {#</a>#}
    {% endblock %}

        {% block page_content %}
            
                <div class="col-sm-2"><b>{{ 'Total items' |trans({}, 'generalbackend') }}
                        : </b> {{ entities.getTotalItemCount }}</div>

                <div class="col-sm-10 form-group form-inline text-right">
                    <form id="export-form" name="export-form" action="{{ path('candidate_find') }}" method="post"
                          novalidate>
                    <span class="pull-left">
                        <div class="input-daterange input-group" id="datepicker">
                            <input type="text" required class="input-sm form-control" name="start"
                                   placeholder="{{ 'Start date' |trans({}, 'generalbackend') }}"
                                   value="{{ first.created | date('m/d/Y') }}"/>
                            <span class="input-group-addon">TO</span>
                            <input type="text" required class="input-sm form-control" name="end"
                                   placeholder="{{ 'End date' |trans({}, 'generalbackend') }}"
                                   value="{{ 'now' | date('m/d/Y') }}"/>
                        </div>

                        <button type="submit"
                                class="btn btn-info">{{ 'EXPORT TO PDF' |trans({}, 'generalbackend') }}</button>
                    </span>
                    </form>
                    <form name="find-form" action="{{ path('candidate_find') }}" method="post">
                        <div class="input-group">
                            <input id="find-form-text" class="form-control" autofocus="on" name="find-form-text"
                                   autocomplete="off"
                                   type="text" placeholder="{{ 'Text to find' |trans({}, 'generalbackend') }}..."/>
                        <span class="input-group-btn">
                            <button type="submit" name="find-form-send" value="sending"
                                    class="btn btn-primary">{{ 'Find' | trans({}, 'generalbackend') }}
                            </button>
                        </span>
                        </div>
                    </form>
                </div>
            <form id="batch_action_form" action="{{ path('candidate_batch') }}" method="post">
                <table class="table table-striped table-hover">
                    <thead>
                    <tr>
                        <th><input id="checkbox-header" type="checkbox" class="i-checks"/></th>

                        <th class="text-navy">
                            {{ knp_pagination_sortable(entities, 'Fullname' | trans({}, 'candidatebackend'), 'e.firstName') }}
                            {% if entities.isSorted('e.firstName') %}
                                <span class="fa fa-sort"></span>
                            {% endif %}
                        </th>
                        <th class="text-navy">
                            {{ 'Position' | trans({}, 'candidatebackend') }}
                        </th>
                        <th class="text-navy">
                            {{ 'Brand' | trans({}, 'candidatebackend') }}
                        </th>
                        <th class="text-navy">
                            {{ knp_pagination_sortable(entities, 'City' | trans({}, 'candidatebackend'), 'e.city') }}
                            {% if entities.isSorted('e.city') %}
                                <span class="fa fa-sort"></span>
                            {% endif %}
                        </th>
                        <th class="text-navy">
                            {{ knp_pagination_sortable(entities, 'State' | trans({}, 'candidatebackend'), 'e.state') }}
                            {% if entities.isSorted('e.state') %}
                                <span class="fa fa-sort"></span>
                            {% endif %}
                        </th>
                        {# <th class="text-navy">
                            {{ knp_pagination_sortable(entities, 'Social Number' | trans({}, 'candidatebackend'), 'e.socialNumber') }}
                            {% if entities.isSorted('e.socialNumber') %}
                                <span class="fa fa-sort"></span>
                            {% endif %}
                        </th> #}
                        <th class="text-navy">
                            {{ knp_pagination_sortable(entities, 'Adult' | trans({}, 'candidatebackend'), 'e.adult') }}
                            {% if entities.isSorted('e.adult') %}
                                <span class="fa fa-sort"></span>
                            {% endif %}
                        </th>
                        <th class="text-navy">
                            {{ knp_pagination_sortable(entities, 'Phone' | trans({}, 'candidatebackend'), 'e.phone') }}
                            {% if entities.isSorted('e.phone') %}
                                <span class="fa fa-sort"></span>
                            {% endif %}
                        </th>
                        <th class="text-navy">
                            {{ knp_pagination_sortable(entities, 'Date' | trans({}, 'candidatebackend'), 'e.created') }}
                            {% if entities.isSorted('e.created') %}
                                <span class="fa fa-sort"></span>
                            {% endif %}
                        </th>
                        <th class="text-navy">
                            {{ knp_pagination_sortable(entities, 'Availability' | trans({}, 'candidatebackend'), 'e.availability') }}
                            {% if entities.isSorted('e.availability') %}
                                <span class="fa fa-sort"></span>
                            {% endif %}
                        </th>
                        <th class="text-navy">
                            {{ knp_pagination_sortable(entities, 'Legal Worker' | trans({}, 'candidatebackend'), 'e.legalWorker') }}
                            {% if entities.isSorted('e.legalWorker') %}
                                <span class="fa fa-sort"></span>
                            {% endif %}
                        </th>
                        {# <th class="text-navy">
                            {{ knp_pagination_sortable(entities, 'Convicted' | trans({}, 'candidatebackend'), 'e.crime') }}
                            {% if entities.isSorted('e.crime') %}
                                <span class="fa fa-sort"></span>
                            {% endif %}
                        </th> #}

                        <th class="text-navy">{{ 'Actions' | trans({}, 'generalbackend') }}</th>
                    </tr>
                    </thead>

                    <tbody>
                    {% for entity in entities %}
                        <tr>
                            <td>
                                <input type="checkbox" class="i-checks" value="{{ entity.id }}"
                                       name="batch_action_checkbox[]"/>
                            </td>

                            <td>{{ entity.fullName }}</td>

                            <td>{{ entity.opening.position }}</td>

                            <td>
                                <img style="max-width: 100px; height: auto;"
                                     src="{{ asset('images/business//' ~ entity.opening.business.logo) }}"
                                     alt="{{ entity.opening.business.logo }}"/>
                                {{ entity.opening.business.name }}
                            </td>

                            <td>{{ entity.city }}</td>

                            <td>{{ entity.state }}</td>

                            {# <td>{{ entity.socialNumber }}</td> #}

                            <td>
                                <div class="onoffswitch-ios switch-xs">
                                    {% if (entity.adult) %}
                                        <label class="onoffswitch-ios-label checked"></label>
                                    {% else %}
                                        <label class="onoffswitch-ios-label"></label>
                                    {% endif %}
                                </div>
                            </td>

                            <td>{{ entity.phone }}</td>

                            <td>
                                {% if entity.created %}
                                    {{ entity.created|date('d-M-Y') }}
                                {% endif %}
                            </td>

                            <td>{{ entity.availability == "full" ? "Full Time" : (entity.availability == "part" ? "Part Time" : "Either") }}</td>

                            <td>
                                <div class="onoffswitch-ios switch-xs">
                                    {% if entity.legalWorker %}
                                        <label class="onoffswitch-ios-label checked"></label>
                                    {% else %}
                                        <label class="onoffswitch-ios-label"></label>
                                    {% endif %}
                                </div>
                            </td>

                            <td>
                                <div class="btn-group">
                                    <a class="btn btn-xs btn-outline btn-primary"
                                       href="{{ path('candidate_show', { 'id': entity.id }) }}"> <span
                                                class="fa fa-search"></span>
                                    </a>
                                    <a class="btn btn-xs btn-outline btn-primary"
                                       target="_blank"
                                       href="{{ path('candidate_export_pdf', { 'id': entity.id }) }}"> <span
                                                class="fa fa-file-pdf-o"></span>
                                    </a>
                                    {#<a class="btn btn-xs btn-outline btn-primary"#}
                                    {#href="{{ path('candidate_edit', { 'id': entity.id }) }}"> <span#}
                                    {#class="fa fa-pencil"></span>#}
                                    {#</a>#}
                                </div>
                            </td>

                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="12">
                                {{ 'There are not entries' | trans({}, 'generalbackend') }}...
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>


                <div class="form-group">
                    <div class="col-md-8">
                        {{ knp_pagination_render(entities) }}
                    </div>
                    <div class="col-md-4">
                        {% if is_granted('ROLE_ADMIN') %}
                            <div class="form-group pagination pull-right">
                                <select id="batch_action_do" name="batch_action_do" class="form-control col-md-12">
                                    <option value="delete" data-toggle="modal" data-target="#modalBatch">
                                        {{ 'Delete Candidates' | trans({}, 'candidatebackend') }}
                                    </option>
                                </select>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </form>

            <div class="modal inmodal" id="modalBatch" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content animated bounceInRight">
                        <div id="modal-title" class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">
                                <span aria-hidden="true">&times;</span>
                                <span class="sr-only">Close</span>
                            </button>
                            <i class="fa fa-exclamation-triangle modal-icon text-white"></i>
                            <h4 class="modal-title">{{ 'Attention' |trans({}, 'generalbackend') }}!!!</h4>
                        </div>
                        <div id="modal-content" class="modal-body">
                            Modal message
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-white"
                                    data-dismiss="modal">{{ 'Close' | trans({}, 'generalbackend') }}</button>
                            <button id="modal-btn" type="submit" class="btn btn-success"
                                    onclick="$('#batch_action_form').submit();">
                                <span class="glyphicon glyphicon-ok"></span> {{ 'Save changes' | trans({}, 'generalbackend') }}
                            </button>
                        </div>
                    </div>
                </div>
            </div>

        {% endblock %}

    {% block custom_js %}
        {{ parent() }}

        <!-- iCheck Scripts -->
        <script src="{{ asset('bundles/backend/js/plugins/iCheck/icheck.min.js') }}"
                type="text/javascript"></script>
        <!-- select2 Scripts -->
        <script src="{{ asset('bundles/backend/js/plugins/select2/select2.full.min.js') }}"
                type="text/javascript"></script>
        <script src="{{ asset('bundles/backend/js/moment.min.js') }}"
                type="text/javascript"></script>
        <script src="{{ asset('bundles/backend/js/plugins/datapicker/bootstrap-datepicker.js') }}"
                type="text/javascript"></script>
        <script src="{{ asset('bundles/backend/js/jquery-validation.min.js') }}"
                type="text/javascript"></script>
        <script src="{{ asset('bundles/backend/js/jquery-validate-tooltip.js') }}"
                type="text/javascript"></script>
    {% endblock %}


    {% block inline_js %}

        <script type="text/javascript">

            $(document).ready(function () {
                //  Highlight scripts to resalt the finded text
                {% if(textFind is defined) %}
                $("body table").highlight("{{ textFind }}");
                {% endif %}

                //  Ckeck all checkboxes in table
                //  $("#checkbox-header").iCheck("update");
                $("#checkbox-header").on("ifClicked", function (event) {
                    $(".i-checks").iCheck("toggle");
                });

                //  iCheck scripts for checkboxes and radios
                $(".i-checks").iCheck({
                    checkboxClass: "icheckbox_square-green",
                    radioClass: "iradio_square-green"
                });

                //  select2 scripts for batch actions combobox
                $("#batch_action_do").select2({
                    minimumResultsForSearch: Infinity,
                    placeholder: "--- {{ 'Select an action' | trans({}, 'generalbackend') }} ---"
                }).on("select2:select", function (e) {
                    var batchValue = $("#batch_action_do").val();

                    if (batchValue == "delete") {
                        $("#modalBatch").modal("show");
                        batchActions("delete");
                    }
                }).val("null").trigger("change");

            });

            $('.input-daterange').datepicker({
                keyboardNavigation: false,
                forceParse: false,
                autoclose: true
            });

            $('#export-form').validate();

            function batchActions(action) {
                var panelTitle = document.getElementById("modal-title");
                var panelContent = document.getElementById("modal-content");
                var panelBtn = document.getElementById("modal-btn");
                switch (action) {
                    case "delete":
                        panelTitle.setAttribute("class", "modal-header red-bg");
                        panelContent.innerHTML = "<strong>{{ 'Are you sure you want to delete items?' | trans({}, 'generalbackend') }}</strong> {{ 'After this action, data will not be restored.' | trans({}, 'generalbackend') }}";
                        panelBtn.setAttribute("class", "btn btn-danger");
                        break;
                }
            }
        </script>

    {% endblock %}
