<!DOCTYPE html>
<html lang="
        {%- if app.request.get('_locale') == 'en' -%}
        {{- 'en' -}}
        {%- elseif app.request.get('_locale') == 'es' -%}
        {{- 'es' -}}
        {%- endif -%}
        ">

<head>
    <title>Plaza Mariachi | PDF Application Data</title>

    {#<!-- Bootstrap Styles -->#}
    <link rel="stylesheet" href="{{ absolute_url(asset('bundles/backend/css/bootstrap-only-css.css')) }}"
          type="text/css"/>
    {#<link rel="stylesheet" href="{{ absolute_url(asset('bundles/backend/css/bootstrap.min.css')) }}" type="text/css"/>#}
    <!-- Template Styles -->
    <link rel="stylesheet" href="{{ absolute_url(asset('bundles/backend/css/style.css')) }}" type="text/css"/>
    <!-- PDF Candidate Styles -->
    {#<link rel="stylesheet" href="{{ absolute_url(asset('bundles/backend/css/pdfCandidate.css')) }}" type="text/css"/>#}

</head>

<body>

<div class="white-bg">
    <div class="row m-t-md">
        <div class="col-xs-2 text-left">
            <img style="width: 150px !important; height: auto;"
                 src="{{ absolute_url(asset('images/business//' ~ entity.opening.business.logo)) }}"
                 alt="{{ entity.opening.business.logo }}"/>
        </div>
        <div class="col-xs-9 text-right">
            <h2 class="m-t-sm">{{ entity.opening.business.name }}</h2>
            <h3>{{ entity.opening.position }}</h3>
        </div>
    </div>

    <br/><br/><br/><br/><br/><br/><br/>

    <table class="table table-striped">
        <tr>
            <th style="width: 50%;">Id</th>
            <th style="width: 50%;">Zipcode</th>
        </tr>
        <tr>
            <td>{{ entity.id }}<br/><br/></td>
            <td>{{ entity.zipCode }}<br/><br/></td>
        </tr>

        <tr>
            <th>Fullname</th>
            <th>Social Security or Tax Id Number</th>
        </tr>
        <tr>
            <td>{{ entity.fullName }}<br/><br/></td>
            <td>{{ entity.socialNumber }}<br/><br/></td>
        </tr>

        <tr>
            <th>Address</th>
            <th>Adult (over 18 years old)</th>
        </tr>
        <tr>
            <td>{{ entity.address }}<br/><br/></td>
            <td>
                {% if (entity.adult) %}
                    <span class="text-success">YES</span>
                {% else %}
                    <span class="text-danger">NO</span>
                {% endif %}
                <br/><br/></td>
        </tr>

        <tr>
            <th>City</th>
            <th>Phone</th>
        </tr>
        <tr>
            <td>{{ entity.city }}<br/><br/></td>
            <td>{{ entity.phone }}<br/><br/></td>
        </tr>

        <tr>
            <th>State</th>
            <th>Available Hours</th>
        </tr>
        <tr>
            <td>{{ entity.state }}<br/><br/></td>
            <td>{{ entity.availableHours }}<br/><br/></td>
        </tr>
    </table>

    <table class="table table-striped">
        <tr>
            <th colspan="7">Week Availability</th>
        </tr>
        {% if(entity.availableHours == 'all') %}
            <tr>
                <td colspan="7">-</td>
            </tr>
        {% else %}
            <tr>
                <th>Monday</th>
                <th>Tuesday</th>
                <th>Wednesday</th>
                <th>Thursday</th>
                <th>Friday</th>
                <th>Saturday</th>
                <th>Sunday</th>
            </tr>
            <tr>
                <td>{{ entity.weekAvailable|json_decode.monday.from ~ " - " ~ entity.weekAvailable|json_decode.monday.to }}
                    <br/><br/></td>
                <td>{{ entity.weekAvailable|json_decode.tuesday.from ~ " - " ~ entity.weekAvailable|json_decode.tuesday.to }}
                    <br/><br/></td>
                <td>{{ entity.weekAvailable|json_decode.wednesday.from ~ " - " ~ entity.weekAvailable|json_decode.wednesday.to }}
                    <br/><br/></td>
                <td>{{ entity.weekAvailable|json_decode.thursday.from ~ " - " ~ entity.weekAvailable|json_decode.thursday.to }}
                    <br/><br/></td>
                <td>{{ entity.weekAvailable|json_decode.friday.from ~ " - " ~ entity.weekAvailable|json_decode.friday.to }}
                    <br/><br/></td>
                <td>{{ entity.weekAvailable|json_decode.saturday.from ~ " - " ~ entity.weekAvailable|json_decode.saturday.to }}
                    <br/><br/></td>
                <td>{{ entity.weekAvailable|json_decode.sunday.from ~ " - " ~ entity.weekAvailable|json_decode.sunday.to }}
                    <br/><br/></td>
            </tr>
        {% endif %}
    </table>

    <table class="table table-striped">
        <tr>
            <th style="width: 50%;">Start Date</th>
            <th style="width: 50%;">Years High School</th>
        </tr>
        <tr>
            <td>{{ entity.startDate|date('d-M-Y') }}<br/><br/></td>
            <td>{{ entity.yearsHighschool }}<br/><br/></td>
        </tr>

        <tr>
            <th>Salary Desired</th>
            <th>Has Diploma</th>
        </tr>
        <tr>
            <td>{{ entity.salary is empty ? "-" : entity.salary }}<br/><br/></td>
            <td>
                {% if (entity.hasDiploma == "true") %}
                    <span class="text-success">YES</span>
                {% elseif (entity.hasDiploma == "false") %}
                    <span class="text-danger">NO</span>
                {% endif %}
                <br/><br/></td>
        </tr>

        <tr>
            <th>Availability</th>
            <th>Has GED</th>
        </tr>
        <tr>
            <td>{{ entity.availability == "full" ? "Full Time" : (entity.availability == "part" ? "Part Time" : "Either") }}
                <br/><br/></td>
            <td>
                {% if (entity.hasGED == "true") %}
                    <span class="text-success">YES</span>
                {% elseif (entity.hasGED == "false") %}
                    <span class="text-danger">NO</span>
                {% endif %}
                <br/><br/></td>
        </tr>

        <tr>
            <th>Has Driver's License</th>
            <th>Schools</th>
        </tr>
        <tr>
            <td>
                {% if (entity.hasLicense == "true") %}
                    <span class="text-success">YES</span>
                {% elseif (entity.hasLicense == "false") %}
                    <span class="text-danger">NO</span>
                {% endif %}
                <br/><br/></td>
            <td>
                {% if(entity.schools|json_decode[0].name is not empty) %}
                    {% for school in entity.schools|json_decode %}
                        {% if(school.name is not empty) %}
                            <div>{{ school.name }}
                                <span class="label label-default">{{ school.state }}</span>
                            </div>
                        {% endif %}
                    {% endfor %}
                {% else %}
                    {{ "There are no school related" }}
                {% endif %}
                <br/><br/></td>
        </tr>

        <tr>
            <th>Driver's License Number</th>
            <th>Years College</th>
        </tr>
        <tr>
            <td>{{ entity.licenseNumber is empty ? "-" : entity.licenseNumber }}<br/><br/></td>
            <td>{{ entity.yearsCollege is empty ? "-" : entity.yearsCollege }}<br/><br/></td>
        </tr>

        <tr>
            <th>Driver's License State</th>
            <th>College School</th>
        </tr>
        <tr>
            <td>{{ entity.licenseState is empty ? "-" : entity.licenseState }}<br/><br/></td>
            <td>{{ entity.collegeSchool is empty ? "-" : entity.collegeSchool }}<br/><br/></td>
        </tr>

        <tr>
            <th>License Expiration</th>
            <th>College State</th>
        </tr>
        <tr>
            <td>{{ entity.licenseExpiration is empty ? "-" : entity.licenseExpiration }}<br/><br/></td>
            <td>{{ entity.collegeState is empty ? "-" : entity.collegeState }}<br/><br/></td>
        </tr>

        <tr>
            <th>Legal Worker in USA</th>
            <th>Major</th>
        </tr>
        <tr>
            <td>
                {% if (entity.legalWorker == "true") %}
                    <span class="text-success">YES</span>
                {% elseif (entity.legalWorker == "false") %}
                    <span class="text-danger">NO</span>
                {% endif %}
                <br/><br/></td>
            <td>{{ entity.major is empty ? "-" : entity.major }}<br/><br/></td>
        </tr>

        <tr>
            <th>Convicted of a Crime</th>
            <th>Degree</th>
        </tr>
        <tr>
            <td>
                {% if (entity.crime == "true") %}
                    <span class="text-danger">YES</span>
                {% elseif (entity.crime == "false") %}
                    <span class="text-success">NO</span>
                {% endif %}
                <br/><br/></td>
            <td>{{ entity.degree is empty ? "-" : entity.degree }}<br/><br/></td>
        </tr>

        <tr>
            <th>Crime Explain</th>
            <th>GPA</th>
        </tr>
        <tr>
            <td>{{ entity.crimeExplain is empty ? "-" : entity.crimeExplain }}<br/><br/></td>
            <td>{{ entity.gpa is empty ? "-" : entity.gpa }}<br/><br/></td>
        </tr>

        <tr>
            <th>Background check?</th>
            <th>Contact Employers</th>
        </tr>
        <tr>
            <td>
                {% if (entity.background == "true") %}
                    <span class="text-success">YES</span>
                {% elseif (entity.background == "false") %}
                    <span class="text-danger">NO</span>
                {% endif %}
                <br/><br/></td>
            <td>
                {% if (entity.contactEmployers == "true") %}
                    <span class="text-success">YES</span>
                {% elseif (entity.contactEmployers == "false") %}
                    <span class="text-danger">NO</span>
                {% endif %}
                <br/><br/></td>
        </tr>

        <tr>
            <th>Background Explain</th>
            <th>Employment Name</th>
        </tr>
        <tr>
            <td>{{ entity.backExplain is empty ? "-" : entity.backExplain }}<br/><br/></td>
            <td>{{ entity.employmentName is empty ? "-" : entity.employmentName }}<br/><br/></td>
        </tr>
    </table>
    <br/>

    <table class="table table-striped">
        <tr>
            <th colspan="6">Employers</th>
        </tr>
        {% if(entity.employers|json_decode[0].name is not empty) %}
            {% for employer in entity.employers|json_decode %}
                <tr>
                    <th>Name</th>
                    <th>Address</th>
                    <th>Phone</th>
                    <th>Position</th>
                    <th>From</th>
                    <th>To</th>
                </tr>
                <tr style="border-top: 1px #2e2e2e solid !important;">
                    <td>{{ employer.name is empty ? "-" : employer.name }}<br/><br/></td>
                    <td>{{ employer.address is empty ? "-" : employer.address }}<br/><br/></td>
                    <td>{{ employer.phone is empty ? "-" : employer.phone }}<br/><br/></td>
                    <td>{{ employer.position is empty ? "-" : employer.position }}<br/><br/></td>
                    <td>{{ employer.from }}<br/><br/></td>
                    <td>{{ employer.to }}<br/><br/></td>
                </tr>
                <tr>
                    <th>Mode</th>
                    <th>Hours</th>
                    <th>Salary</th>
                    <th>Supervisor</th>
                    <th>Department</th>
                    <th></th>
                </tr>
                <tr>
                    <td>{{ employer.mode is empty ? "-" : employer.mode == "full" ? "Full Time" : (employer.mode == "part" ? "Part Time" : "-") }}
                        <br/><br/></td>
                    <td>{{ employer.hours is empty ? "-" : employer.hours }}<br/><br/></td>
                    <td>{{ employer.salary is empty ? "-" : "$ " ~ employer.salary }}<br/><br/></td>
                    <td>{{ employer.supervisor is empty ? "-" : employer.supervisor }}<br/><br/></td>
                    <td>{{ employer.department is empty ? "-" : employer.department }}<br/><br/></td>
                    <td><br/><br/></td>
                </tr>
                <tr>
                    <th colspan="6"><b>Leaving Reason</b></th>
                </tr>
                <tr>
                    <td colspan="6">{{ employer.leavingReason is empty ? "-" : employer.leavingReason }}<br/><br/></td>
                </tr>
                <tr>
                    <th colspan="6"><b>Duties</b></th>
                </tr>
                <tr>
                    <td colspan="6">{{ employer.duties is empty ? "-" : employer.duties }}<br/><br/></td>
                </tr>
                {% if(not loop.last) %}
                    <tr>
                        <td colspan="6"><br/></td>
                    </tr>
                {% endif %}
            {% endfor %}
        {% else %}
            <tr>
                <td colspan="6">{{ "There are no employers history related" }}</td>
            </tr>
        {% endif %}

    </table>
    <br/>

    <table class="table table-striped">
        <tr>
            <th colspan="3">References</th>
        </tr>
        {% if(entity.references|json_decode[0].name is not empty) %}
            <tr>
                <th>Name</th>
                <th>Phone</th>
                <th>Professional</th>
            </tr>
            {% for reference in entity.references|json_decode %}
                <tr>
                    <td>{{ reference.name is empty ? "-" : reference.name }}</td>
                    <td>{{ reference.phone is empty ? "-" : reference.phone }}</td>
                    <td>
                        {% if (reference.profesional) %}
                            <span class="text-success">YES</span>
                        {% else %}
                            <span class="text-danger">NO</span>
                        {% endif %}
                    </td>
                </tr>
                {% if(not loop.last) %}
                    <tr>
                        <td colspan="3"><br/></td>
                    </tr>
                {% endif %}
            {% endfor %}
        {% else %}
            <tr>
                <td colspan="3">{{ "There are no references related" }}</td>
            </tr>
        {% endif %}
    </table>

    <br/><br/>

    <div><b>Skills</b></div>
    <div>{{ entity.skills is empty ? "-" : entity.skills }}</div>

    <br/>

    <div><b>Best Fit</b></div>
    <div>{{ entity.bestFit is empty ? "-" : entity.bestFit }}</div>

    <br/><br/><br/>
</div>

</body>
</html>