<!DOCTYPE html>
<html lang="
        {%- if app.request.get('_locale') == 'en' -%}
        {{- 'en' -}}
        {%- elseif app.request.get('_locale') == 'es' -%}
        {{- 'es' -}}
        {%- endif -%}
        ">

<head>
    <title>Plaza Mariachi | PDF Application Data</title>

    {#<!-- Bootstrap Styles -->#}
    <link rel="stylesheet" href="{{ absolute_url(asset('bundles/backend/css/bootstrap-only-css.css')) }}"
          type="text/css"/>
    {#<link rel="stylesheet" href="{{ absolute_url(asset('bundles/backend/css/bootstrap.min.css')) }}" type="text/css"/>#}
    <!-- Template Styles -->
    <link rel="stylesheet" href="{{ absolute_url(asset('bundles/backend/css/style.css')) }}" type="text/css"/>
    <!-- PDF Candidate Styles -->
    {#<link rel="stylesheet" href="{{ absolute_url(asset('bundles/backend/css/pdfCandidate.css')) }}" type="text/css"/>#}

</head>

<body>

<div class="white-bg">
    <div class="row m-t-md">
        <div class="col-xs-2 text-left">
            <img style="width: 150px !important; height: auto;"
                 src="{{ absolute_url(asset('images/business//' ~ entity.opening.business.logo)) }}"
                 alt="{{ entity.opening.business.logo }}"/>
        </div>
        <div class="col-xs-9 text-right">
            <h2 class="m-t-sm">{{ entity.opening.business.name }}</h2>
            <h3>{{ entity.opening.position }}</h3>
        </div>
    </div>

    <br/><br/><br/><br/><br/><br/><br/>

    <table class="table table-striped">
        <tr>
            <th style="width: 50%;">Id</th>
            <th style="width: 50%;">{{ 'Zipcode' | trans({}, 'candidatebackend') | raw }}</th>
        </tr>
        <tr>
            <td>{{ entity.id }}<br/><br/></td>
            <td>{{ entity.zipCode }}<br/><br/></td>
        </tr>

        <tr>
            <th>{{ 'Fullname' | trans({}, 'candidatebackend') | raw }}</th>
            <th>{{ 'Social Security or Tax Id Number' | trans({}, 'candidatebackend') | raw }}</th>
        </tr>
        <tr>
            <td>{{ entity.fullName }}<br/><br/></td>
            <td>{{ entity.socialNumber }}<br/><br/></td>
        </tr>

        <tr>
            <th>{{ 'Address' | trans({}, 'candidatebackend') | raw }}</th>
            <th>{{ 'Adult (over 18 years old)' | trans({}, 'candidatebackend') | striptags }}</th>
        </tr>
        <tr>
            <td>{{ entity.address }}<br/><br/></td>
            <td>
                {% if (entity.adult) %}
                    <span class="text-success">{{ 'YES' | trans({}, 'candidatebackend') | raw }}</span>
                {% else %}
                    <span class="text-danger">NO</span>
                {% endif %}
                <br/><br/></td>
        </tr>

        <tr>
            <th>{{ 'City' | trans({}, 'candidatebackend') | raw }}</th>
            <th>{{ 'Phone' | trans({}, 'candidatebackend') | raw }}</th>
        </tr>
        <tr>
            <td>{{ entity.city }}<br/><br/></td>
            <td>{{ entity.phone }}<br/><br/></td>
        </tr>

        <tr>
            <th>{{ 'State' | trans({}, 'candidatebackend') | raw }}</th>
            <th>{{ 'Available Hours' | trans({}, 'candidatebackend') | raw }}</th>
        </tr>
        <tr>
            <td>{{ entity.state }}<br/><br/></td>
            <td>{{ entity.availableHours == "all" ? "All" : "-" }}<br/><br/></td>
        </tr>
    </table>

    <table class="table table-striped">
        <tr>
            <th colspan="7">{{ 'Week Availability' | trans({}, 'candidatebackend') | striptags }}</th>
        </tr>
        {% if(entity.availableHours == 'all') %}
            <tr>
                <td colspan="7">-</td>
            </tr>
        {% else %}
            <tr>
                <th>{{ 'Monday' | trans({}, 'candidatebackend') | raw }}</th>
                <th>{{ 'Tuesday' | trans({}, 'candidatebackend') | raw }}</th>
                <th>{{ 'Wednesday' | trans({}, 'candidatebackend') | raw }}</th>
                <th>{{ 'Thursday' | trans({}, 'candidatebackend') | raw }}</th>
                <th>{{ 'Friday' | trans({}, 'candidatebackend') | raw }}</th>
                <th>{{ 'Saturday' | trans({}, 'candidatebackend') | raw }}</th>
                <th>{{ 'Sunday' | trans({}, 'candidatebackend') | raw }}</th>
            </tr>
            <tr>
                <td>{{ entity.weekAvailable|json_decode.monday.from ~ " - " ~ entity.weekAvailable|json_decode.monday.to }}
                    <br/><br/></td>
                <td>{{ entity.weekAvailable|json_decode.tuesday.from ~ " - " ~ entity.weekAvailable|json_decode.tuesday.to }}
                    <br/><br/></td>
                <td>{{ entity.weekAvailable|json_decode.wednesday.from ~ " - " ~ entity.weekAvailable|json_decode.wednesday.to }}
                    <br/><br/></td>
                <td>{{ entity.weekAvailable|json_decode.thursday.from ~ " - " ~ entity.weekAvailable|json_decode.thursday.to }}
                    <br/><br/></td>
                <td>{{ entity.weekAvailable|json_decode.friday.from ~ " - " ~ entity.weekAvailable|json_decode.friday.to }}
                    <br/><br/></td>
                <td>{{ entity.weekAvailable|json_decode.saturday.from ~ " - " ~ entity.weekAvailable|json_decode.saturday.to }}
                    <br/><br/></td>
                <td>{{ entity.weekAvailable|json_decode.sunday.from ~ " - " ~ entity.weekAvailable|json_decode.sunday.to }}
                    <br/><br/></td>
            </tr>
        {% endif %}
    </table>

    <table class="table table-striped">
        <tr>
            <th style="width: 50%;">{{ 'Start Date' | trans({}, 'candidatebackend') | raw }}</th>
            <th style="width: 50%;">{{ 'Years High School' | trans({}, 'candidatebackend') | raw }}</th>
        </tr>
        <tr>
            <td>{{ entity.startDate|date('d-M-Y') }}<br/><br/></td>
            <td>{{ entity.yearsHighschool }}<br/><br/></td>
        </tr>

        <tr>
            <th>{{ 'Salary Desired' | trans({}, 'candidatebackend') | raw }}</th>
            <th>{{ 'Has Diploma' | trans({}, 'candidatebackend') | raw }}</th>
        </tr>
        <tr>
            <td>{{ entity.salary is empty ? "-" : entity.salary }}<br/><br/></td>
            <td>
                {% if (entity.hasDiploma == "true") %}
                    <span class="text-success">{{ 'YES' | trans({}, 'candidatebackend') | raw }}</span>
                {% elseif (entity.hasDiploma == "false") %}
                    <span class="text-danger">NO</span>
                {% endif %}
                <br/><br/></td>
        </tr>

        <tr>
            <th>{{ 'Availability' | trans({}, 'candidatebackend') | raw }}</th>
            <th>{{ 'Has GED' | trans({}, 'candidatebackend') | raw }}</th>
        </tr>
        <tr>
            <td>{{ entity.availability == "full" ? "Full Time" : (entity.availability == "part" ? "Part Time" : "Either") }}
                <br/><br/></td>
            <td>
                {% if (entity.hasGED == "true") %}
                    <span class="text-success">{{ 'YES' | trans({}, 'candidatebackend') | raw }}</span>
                {% elseif (entity.hasGED == "false") %}
                    <span class="text-danger">NO</span>
                {% endif %}
                <br/><br/></td>
        </tr>

        <tr>
            <th>{{ "Has Driver's License" | trans({}, 'candidatebackend') | striptags }}</th>
            <th>{{ 'Schools' | trans({}, 'candidatebackend') | raw }}</th>
        </tr>
        <tr>
            <td>
                {% if (entity.hasLicense == "true") %}
                    <span class="text-success">{{ 'YES' | trans({}, 'candidatebackend') | raw }}</span>
                {% elseif (entity.hasLicense == "false") %}
                    <span class="text-danger">NO</span>
                {% endif %}
                <br/><br/></td>
            <td>
                {% if(entity.schools|json_decode[0].name is not empty) %}
                    {% for school in entity.schools|json_decode %}
                        {% if(school.name is not empty) %}
                            <div>{{ school.name }}
                                <span class="label label-default">{{ school.state }}</span>
                            </div>
                        {% endif %}
                    {% endfor %}
                {% else %}
                    {{ "There are no school related" | trans({}, 'candidatebackend') | raw }}
                {% endif %}
                <br/><br/></td>
        </tr>

        <tr>
            <th>{{ "Driver's License Number" | trans({}, 'candidatebackend') | striptags }}</th>
            <th>{{ 'Years College' | trans({}, 'candidatebackend') | raw }}</th>
        </tr>
        <tr>
            <td>{{ entity.licenseNumber is empty ? "-" : entity.licenseNumber }}<br/><br/></td>
            <td>{{ entity.yearsCollege is empty ? "-" : entity.yearsCollege }}<br/><br/></td>
        </tr>

        <tr>
            <th>{{ "Driver's License State" | trans({}, 'candidatebackend') | striptags }}</th>
            <th>{{ 'College School' | trans({}, 'candidatebackend') | raw }}</th>
        </tr>
        <tr>
            <td>{{ entity.licenseState is empty ? "-" : entity.licenseState }}<br/><br/></td>
            <td>{{ entity.collegeSchool is empty ? "-" : entity.collegeSchool }}<br/><br/></td>
        </tr>

        <tr>
            <th>{{ 'License Expiration' | trans({}, 'candidatebackend') | striptags }}</th>
            <th>{{ 'College State' | trans({}, 'candidatebackend') | raw }}</th>
        </tr>
        <tr>
            <td>{{ entity.licenseExpiration is empty ? "-" : entity.licenseExpiration }}<br/><br/></td>
            <td>{{ entity.collegeState is empty ? "-" : entity.collegeState }}<br/><br/></td>
        </tr>

        <tr>
            <th>{{ 'Legal Worker in USA' | trans({}, 'candidatebackend') | raw }}</th>
            <th>{{ 'Major' | trans({}, 'candidatebackend') | raw }}</th>
        </tr>
        <tr>
            <td>
                {% if (entity.legalWorker == "true") %}
                    <span class="text-success">{{ 'YES' | trans({}, 'candidatebackend') | raw }}</span>
                {% elseif (entity.legalWorker == "false") %}
                    <span class="text-danger">NO</span>
                {% endif %}
                <br/><br/></td>
            <td>{{ entity.major is empty ? "-" : entity.major }}<br/><br/></td>
        </tr>

        <tr>
            <th>{{ 'Convicted of a Crime' | trans({}, 'candidatebackend') | raw }}</th>
            <th>{{ 'Degree' | trans({}, 'candidatebackend') | raw }}</th>
        </tr>
        <tr>
            <td>
                {% if (entity.crime == "true") %}
                    <span class="text-danger">{{ 'YES' | trans({}, 'candidatebackend') | raw }}</span>
                {% elseif (entity.crime == "false") %}
                    <span class="text-success">NO</span>
                {% endif %}
                <br/><br/></td>
            <td>{{ entity.degree is empty ? "-" : entity.degree }}<br/><br/></td>
        </tr>

        <tr>
            <th>{{ 'Crime Explain' | trans({}, 'candidatebackend') | raw }}</th>
            <th>GPA</th>
        </tr>
        <tr>
            <td>{{ entity.crimeExplain is empty ? "-" : entity.crimeExplain }}<br/><br/></td>
            <td>{{ entity.gpa is empty ? "-" : entity.gpa }}<br/><br/></td>
        </tr>

        <tr>
            <th>{{ 'Background check?' | trans({}, 'candidatebackend') | striptags }}</th>
            <th>{{ 'Contact Employers' | trans({}, 'candidatebackend') | striptags }}</th>
        </tr>
        <tr>
            <td>
                {% if (entity.background == "true") %}
                    <span class="text-success">{{ 'YES' | trans({}, 'candidatebackend') | raw }}</span>
                {% elseif (entity.background == "false") %}
                    <span class="text-danger">NO</span>
                {% endif %}
                <br/><br/></td>
            <td>
                {% if (entity.contactEmployers == "true") %}
                    <span class="text-success">{{ 'YES' | trans({}, 'candidatebackend') | raw }}</span>
                {% elseif (entity.contactEmployers == "false") %}
                    <span class="text-danger">NO</span>
                {% endif %}
                <br/><br/></td>
        </tr>

        <tr>
            <th>{{ 'Background Explain' | trans({}, 'candidatebackend') | striptags }}</th>
            <th>{{ 'Employment Name' | trans({}, 'candidatebackend') | raw }}</th>
        </tr>
        <tr>
            <td>{{ entity.backExplain is empty ? "-" : entity.backExplain }}<br/><br/></td>
            <td>{{ entity.employmentName is empty ? "-" : entity.employmentName }}<br/><br/></td>
        </tr>
    </table>
    <br/>

    <table class="table table-striped">
        <tr>
            <th colspan="6">{{ 'Employers' | trans({}, 'candidatebackend') | raw }}</th>
        </tr>
        {% if(entity.employers|json_decode[0].name is not empty) %}
            {% for employer in entity.employers|json_decode %}
                <tr>
                    <th>{{ 'Name' | trans({}, 'candidatebackend') | raw }}</th>
                    <th>{{ 'Address' | trans({}, 'candidatebackend') | raw }}</th>
                    <th>{{ 'Phone' | trans({}, 'candidatebackend') | raw }}</th>
                    <th>{{ 'Position' | trans({}, 'candidatebackend') | raw }}</th>
                    <th>{{ 'From' | trans({}, 'candidatebackend') | raw }}</th>
                    <th>{{ 'To' | trans({}, 'candidatebackend') | raw }}</th>
                </tr>
                <tr style="border-top: 1px #2e2e2e solid !important;">
                    <td>{{ employer.name is empty ? "-" : employer.name }}<br/><br/></td>
                    <td>{{ employer.address is empty ? "-" : employer.address }}<br/><br/></td>
                    <td>{{ employer.phone is empty ? "-" : employer.phone }}<br/><br/></td>
                    <td>{{ employer.position is empty ? "-" : employer.position }}<br/><br/></td>
                    <td>{{ employer.from }}<br/><br/></td>
                    <td>{{ employer.to }}<br/><br/></td>
                </tr>
                <tr>
                    <th>{{ 'Mode' | trans({}, 'candidatebackend') | raw }}</th>
                    <th>{{ 'Hours' | trans({}, 'candidatebackend') | raw }}</th>
                    <th>{{ 'Salary' | trans({}, 'candidatebackend') | raw }}</th>
                    <th>{{ 'Supervisor' | trans({}, 'candidatebackend') | raw }}</th>
                    <th>{{ 'Department' | trans({}, 'candidatebackend') | raw }}</th>
                    <th></th>
                </tr>
                <tr>
                    <td>{{ employer.mode is empty ? "-" : employer.mode == "full" ? "Full Time" : (employer.mode == "part" ? "Part Time" : "-") }}
                        <br/><br/></td>
                    <td>{{ employer.hours is empty ? "-" : employer.hours }}<br/><br/></td>
                    <td>{{ employer.salary is empty ? "-" : "$ " ~ employer.salary }}<br/><br/></td>
                    <td>{{ employer.supervisor is empty ? "-" : employer.supervisor }}<br/><br/></td>
                    <td>{{ employer.department is empty ? "-" : employer.department }}<br/><br/></td>
                    <td><br/><br/></td>
                </tr>
                <tr>
                    <th colspan="6"><b>Leaving Reason' | trans({}, 'candidatebackend') | striptags }}</b></th>
                </tr>
                <tr>
                    <td colspan="6">{{ employer.leavingReason is empty ? "-" : employer.leavingReason }}<br/><br/></td>
                </tr>
                <tr>
                    <th colspan="6"><b>Duties' | trans({}, 'candidatebackend') | raw }}</b></th>
                </tr>
                <tr>
                    <td colspan="6">{{ employer.duties is empty ? "-" : employer.duties }}<br/><br/></td>
                </tr>
                {% if(not loop.last) %}
                    <tr>
                        <td colspan="6"><br/></td>
                    </tr>
                {% endif %}
            {% endfor %}
        {% else %}
            <tr>
                <td colspan="6">{{ "There are no employers history related" | trans({}, 'candidatebackend') | raw }}</td>
            </tr>
        {% endif %}

    </table>
    <br/>

    <table class="table table-striped">
        <tr>
            <th colspan="3">{{ 'References' | trans({}, 'candidatebackend') | raw }}</th>
        </tr>
        {% if(entity.references|json_decode[0].name is not empty) %}
            <tr>
                <th>{{ 'Name' | trans({}, 'candidatebackend') | raw }}</th>
                <th>{{ 'Phone' | trans({}, 'candidatebackend') | raw }}</th>
                <th>{{ 'Professional' | trans({}, 'candidatebackend') | raw }}</th>
            </tr>
            {% for reference in entity.references|json_decode %}
                <tr>
                    <td>{{ reference.name is empty ? "-" : reference.name }}</td>
                    <td>{{ reference.phone is empty ? "-" : reference.phone }}</td>
                    <td>
                        {% if (reference.profesional) %}
                            <span class="text-success">{{ 'YES' | trans({}, 'candidatebackend') | raw }}</span>
                        {% else %}
                            <span class="text-danger">NO</span>
                        {% endif %}
                    </td>
                </tr>
                {% if(not loop.last) %}
                    <tr>
                        <td colspan="3"><br/></td>
                    </tr>
                {% endif %}
            {% endfor %}
        {% else %}
            <tr>
                <td colspan="3">{{ "There are no references related" | trans({}, 'candidatebackend') | raw }}</td>
            </tr>
        {% endif %}
    </table>

    <br/><br/>

    <div><b>{{ 'Skills' | trans({}, 'candidatebackend') | raw }}</b></div>
    <div>{{ entity.skills is empty ? "-" : entity.skills }}</div>

    <br/>

    <div><b>{{ 'Best Fit' | trans({}, 'candidatebackend') | raw }}</b></div>
    <div>{{ entity.bestFit is empty ? "-" : entity.bestFit }}</div>

    <br/><br/><br/>
</div>

</body>
</html>