{% extends 'BackendBundle::layout.html.twig' %}{% block active_candidate %}active{% endblock %}{% block page_heading_title %}
    <a class="btn btn-default navbar-btn" href="{{ path('candidate') }}"
       style="margin-bottom: 7px;">
        <span class="glyphicon glyphicon-chevron-up"></span>
    </a>
    Candidate data
{% endblock %}{% block page_content %}
    <dl class="dl-horizontal">
        <tbody>
        <dt>Id</dt>
        <dd>{{ entity.id }}</dd>
        <div class="hr-line-dashed"></div>
        <dt>Fullname</dt>
        <dd>{{ entity.fullName }}</dd>
        <div class="hr-line-dashed"></div>
        <dt>Address</dt>
        <dd>{{ entity.address }}</dd>
        <div class="hr-line-dashed"></div>
        <dt>City</dt>
        <dd>{{ entity.city }}</dd>
        <div class="hr-line-dashed"></div>
        <dt>State</dt>
        <dd>{{ entity.state }}</dd>
        <div class="hr-line-dashed"></div>
        <dt>Zipcode</dt>
        <dd>{{ entity.zipCode }}</dd>
        <div class="hr-line-dashed"></div>
        <dt>Social Security or <br/>Tax Id Number</dt>
        <dd>{{ entity.socialNumber }}</dd>
        <div class="hr-line-dashed"></div>
        <dt>Adult (over 18 years old)</dt>
        <dd>
            <div class="onoffswitch-ios switch-xs">
                {% if (entity.adult) %}
                    <label class="onoffswitch-ios-label checked"></label>
                {% else %}
                    <label class="onoffswitch-ios-label"></label>
                {% endif %}
            </div>
        </dd>
        <div class="hr-line-dashed"></div>
        <dt>Phone</dt>
        <dd>{{ entity.phone }}</dd>
        <div class="hr-line-dashed"></div>
        <dt>Available Hours</dt>
        <dd>{{ entity.availableHours }}</dd>
        <div class="hr-line-dashed"></div>
        <dt>Week Availability</dt>
        <dd>
            {% if(entity.availableHours == 'all') %}
                {{ "-" }}
            {% else %}
                <div>
                    <div class="row">
                        <div class="col-sm-1">Monday</div>
                        <div class="col-sm-1">Tuesday</div>
                        <div class="col-sm-1">Wednesday</div>
                        <div class="col-sm-1">Thursday</div>
                        <div class="col-sm-1">Friday</div>
                        <div class="col-sm-1">Saturday</div>
                        <div class="col-sm-1">Sunday</div>
                    </div>
                    <div class="row">
                        <div class="col-sm-1">{{ entity.weekAvailable|json_decode.monday.from ~ " - " ~ entity.weekAvailable|json_decode.monday.to }}</div>
                        <div class="col-sm-1">{{ entity.weekAvailable|json_decode.tuesday.from ~ " - " ~ entity.weekAvailable|json_decode.tuesday.to }}</div>
                        <div class="col-sm-1">{{ entity.weekAvailable|json_decode.wednesday.from ~ " - " ~ entity.weekAvailable|json_decode.wednesday.to }}</div>
                        <div class="col-sm-1">{{ entity.weekAvailable|json_decode.thursday.from ~ " - " ~ entity.weekAvailable|json_decode.thursday.to }}</div>
                        <div class="col-sm-1">{{ entity.weekAvailable|json_decode.friday.from ~ " - " ~ entity.weekAvailable|json_decode.friday.to }}</div>
                        <div class="col-sm-1">{{ entity.weekAvailable|json_decode.saturday.from ~ " - " ~ entity.weekAvailable|json_decode.saturday.to }}</div>
                        <div class="col-sm-1">{{ entity.weekAvailable|json_decode.sunday.from ~ " - " ~ entity.weekAvailable|json_decode.sunday.to }}</div>
                    </div>
                </div>

            {% endif %}
        </dd>
        <div class="hr-line-dashed"></div>
        <dt>Start Date</dt>
        <dd>{{ entity.startDate|date('d-M-Y') }}</dd>
        <div class="hr-line-dashed"></div>
        <dt>Salary Desired</dt>
        <dd>{{ entity.salary is empty ? "-" : entity.salary }}</dd>
        <div class="hr-line-dashed"></div>
        <dt>Availability</dt>
        <dd>{{ entity.availability }}</dd>
        <div class="hr-line-dashed"></div>
        <dt>Has Driver's License</dt>
        <dd>
            <div class="onoffswitch-ios switch-xs">
                {% if (entity.hasLicense == "true") %}
                    <label class="onoffswitch-ios-label checked"></label>
                {% elseif(entity.hasLicense == "false") %}
                    <label class="onoffswitch-ios-label"></label>
                {% endif %}
            </div>
        </dd>
        <div class="hr-line-dashed"></div>
        <dt>Driver's License Number</dt>
        <dd>{{ entity.licenseNumber is empty ? "-" : entity.licenseNumber }}</dd>
        <div class="hr-line-dashed"></div>
        <dt>Driver's License State</dt>
        <dd>{{ entity.licenseState is empty ? "-" : entity.licenseState }}</dd>
        <div class="hr-line-dashed"></div>
        <dt>License Expiration</dt>
        <dd>{{ entity.licenseExpiration is empty ? "-" : entity.licenseExpiration }}</dd>
        <div class="hr-line-dashed"></div>
        <dt>Legal Worker in USA</dt>
        <dd>
            <div class="onoffswitch-ios switch-xs">
                {% if (entity.legalWorker == "true") %}
                    <label class="onoffswitch-ios-label checked"></label>
                {% elseif (entity.legalWorker == "false") %}
                    <label class="onoffswitch-ios-label"></label>
                {% endif %}
            </div>
        </dd>
        <div class="hr-line-dashed"></div>
        <dt>Convicted of a Crime</dt>
        <dd>
            <div class="onoffswitch-ios switch-xs">
                {% if (entity.crime == "true") %}
                    <label class="onoffswitch-ios-label checked"></label>
                {% elseif (entity.crime == "false") %}
                    <label class="onoffswitch-ios-label"></label>
                {% endif %}
            </div>
        </dd>
        <div class="hr-line-dashed"></div>
        <dt>Crime Explain</dt>
        <dd>{{ entity.crimeExplain }}</dd>
        <div class="hr-line-dashed"></div>
        <dt>Background check?</dt>
        <dd>
            <div class="onoffswitch-ios switch-xs">
                {% if (entity.background == "true") %}
                    <label class="onoffswitch-ios-label checked"></label>
                {% elseif (entity.background == "false") %}
                    <label class="onoffswitch-ios-label"></label>
                {% endif %}
            </div>
        </dd>
        <div class="hr-line-dashed"></div>
        <dt>Background Explain</dt>
        <dd>{{ entity.backExplain is empty ? "-" : entity.backExplain }}</dd>
        <div class="hr-line-dashed"></div>
        <dt>Years High School</dt>
        <dd>{{ entity.yearsHighschool }}</dd>
        <div class="hr-line-dashed"></div>
        <dt>Has Diploma</dt>
        <dd>
            <div class="onoffswitch-ios switch-xs">
                {% if (entity.hasDiploma == "true") %}
                    <label class="onoffswitch-ios-label checked"></label>
                {% elseif (entity.hasDiploma == "false") %}
                    <label class="onoffswitch-ios-label"></label>
                {% endif %}
            </div>
        </dd>
        <div class="hr-line-dashed"></div>
        <dt>Has GED</dt>
        <dd>
            <div class="onoffswitch-ios switch-xs">
                {% if (entity.hasGED == "true") %}
                    <label class="onoffswitch-ios-label checked"></label>
                {% elseif (entity.hasGED == "false") %}
                    <label class="onoffswitch-ios-label"></label>
                {% endif %}
            </div>
        </dd>
        <div class="hr-line-dashed"></div>
        <dt>Schools</dt>
        <dd>
            {% if(entity.schools|json_decode[0].name is not empty and entity.schools|json_decode[1].name is not empty) %}
                {% for school in entity.schools|json_decode %}
                    {% if(school.name is not null) %}
                        <div>{{ school.name ~ "(" ~ school.state ~ ")" }}</div>
                    {% endif %}
                {% endfor %}
            {% else %}
                {{ "There are no school related" }}
            {% endif %}
        </dd>
        <div class="hr-line-dashed"></div>
        <dt>Years College</dt>
        <dd>{{ entity.yearsCollege is empty ? "-" : entity.yearsCollege }}</dd>
        <div class="hr-line-dashed"></div>
        <dt>College School</dt>
        <dd>{{ entity.collegeSchool is empty ? "-" : entity.collegeSchool }}</dd>
        <div class="hr-line-dashed"></div>
        <dt>College State</dt>
        <dd>{{ entity.collegeState is empty ? "-" : entity.collegeState }}</dd>
        <div class="hr-line-dashed"></div>
        <dt>Major</dt>
        <dd>{{ entity.major is empty ? "-" : entity.major }}</dd>
        <div class="hr-line-dashed"></div>
        <dt>Degree</dt>
        <dd>{{ entity.degree is empty ? "-" : entity.degree }}</dd>
        <div class="hr-line-dashed"></div>
        <dt>GPA</dt>
        <dd>{{ entity.gpa is empty ? "-" : entity.gpa }}</dd>
        <div class="hr-line-dashed"></div>
        <dt>Contact Employers</dt>
        <dd>
            <div class="onoffswitch-ios switch-xs">
                {% if (entity.contactEmployers == "true") %}
                    <label class="onoffswitch-ios-label checked"></label>
                {% elseif (entity.contactEmployers == "false") %}
                    <label class="onoffswitch-ios-label"></label>
                {% endif %}
            </div>
        </dd>
        <div class="hr-line-dashed"></div>
        <dt>Employment Name</dt>
        <dd>{{ entity.employmentName is empty ? "-" : entity.employmentName }}</dd>
        <div class="hr-line-dashed"></div>
        <dt>Employers</dt>
        <dd>
            {% if(entity.employers|json_decode[0].name is not empty) %}
                <div>
                    <div class="row">
                        <div class="col-sm-1">Name</div>
                        <div class="col-sm-1">Address</div>
                        <div class="col-sm-1">Phone</div>
                        <div class="col-sm-1">Position</div>
                        <div class="col-sm-1">From - To</div>
                        <div class="col-sm-1">Mode</div>
                        <div class="col-sm-1">Hours</div>
                        <div class="col-sm-1">Salary</div>
                        <div class="col-sm-1">Supervisor</div>
                        <div class="col-sm-1">Department</div>
                        <div class="col-sm-1">Leaving Reason</div>
                        <div class="col-sm-1">Duties</div>
                    </div>
                    {% for employer in entity.employers %}
                        <div class="row">
                            <div class="col-sm-1">{{ employer.name is null ? "-" : employer.name }}</div>
                            <div class="col-sm-1">{{ employer.address is null ? "-" : employer.address }}</div>
                            <div class="col-sm-1">{{ employer.phone is null ? "-" : employer.phone }}</div>
                            <div class="col-sm-1">{{ employer.position is null ? "-" : employer.position }}</div>
                            <div class="col-sm-1">{{ employer.from ~ "-" ~ employer.to }}</div>
                            <div class="col-sm-1">{{ employer.mode is null ? "-" : employer.mode }}</div>
                            <div class="col-sm-1">{{ employer.hours is null ? "-" : employer.hours }}</div>
                            <div class="col-sm-1">{{ employer.salary is null ? "-" : employer.salary }}</div>
                            <div class="col-sm-1">{{ employer.supervisor is null ? "-" : employer.supervisor }}</div>
                            <div class="col-sm-1">{{ employer.department is null ? "-" : employer.department }}</div>
                            <div class="col-sm-1">{{ employer.leavingReason is null ? "-" : employer.leavingReason }}</div>
                            <div class="col-sm-1">{{ employer.duties is null ? "-" : employer.duties }}</div>
                        </div>
                    {% endfor %}
                </div>
            {% else %}
                {{ "There are no employers history related" }}
            {% endif %}
        </dd>
        <div class="hr-line-dashed"></div>
        <dt>References</dt>
        <dd>
            {% if(entity.references|json_decode[0].name is not empty) %}
                <div>
                    <div class="row">
                        <div class="col-sm-1">Name</div>
                        <div class="col-sm-1">Phone</div>
                        <div class="col-sm-1">Professional</div>
                    </div>
                    {% for reference in entity.references %}
                        <div class="row">
                            <div class="col-sm-1">{{ reference.name is null ? "-" : reference.name }}</div>
                            <div class="col-sm-1">{{ reference.phone is null ? "-" : reference.phone }}</div>
                            <div class="col-sm-1">{{ reference.profesional is null ? "-" : reference.profesional }}</div>
                        </div>
                    {% endfor %}
                </div>
            {% else %}
                {{ "There are no references related" }}
            {% endif %}
        </dd>
        <div class="hr-line-dashed"></div>
        <dt>Skills</dt>
        <dd>{{ entity.skills is empty ? "-" : entity.skills }}</dd>
        <div class="hr-line-dashed"></div>
        <dt>Best Fit</dt>
        <dd>{{ entity.bestFit is empty ? "-" : entity.bestFit }}</dd>
        <div class="hr-line-dashed"></div>
        <dt>CV</dt>
        <dd>
            {% if(entity.cv is not empty) %}
                <a target="_blank" href="{{ asset('uploads/') ~ entity.cv }}">
                    <span class="fa fa-2x fa-file-pdf-o text-danger"></span>
                    <span class="label label-default">{{ entity.cv }}</span>
                </a>
            {% else %}
                <span class="label label-default">No CV related</span>
            {% endif %}
        </dd>
        <div class="hr-line-dashed"></div>
        <dt>Cover Letter</dt>
        <dd>
            {% if(entity.coverLetter is not empty) %}
                <a target="_blank" href="{{ asset('uploads/') ~ entity.coverLetter }}">
                    <span class="fa fa-2x fa-file-pdf-o text-danger"></span>
                    <span class="label label-default text">{{ entity.coverLetter }}</span>
                </a>
            {% else %}
                <span class="label label-default">No Cover Letter related</span>
            {% endif %}
        </dd>
        <div class="hr-line-dashed"></div>
        </tbody>
    </dl>
    <div class="form-group">
        <div class="col-md-2 text-right">
            <a class="btn btn-success" href="{{ path('candidate') }}">
                <span class="glyphicon glyphicon-chevron-left"></span>
                Back to the list
            </a>
        </div>
        <div class="col-md-10">


            {#<a class="btn btn-primary"#}
            {#href="{{ path('candidate_edit', { 'id': entity.id }) }}">#}
            {#<span class="fa fa-pencil"></span>#}
            {#Edit#}
            {#</a>#}

            <a class="btn btn-danger" data-toggle="modal" data-target="#modalDelete">
                <span class="fa fa-remove"></span>
                Delete
            </a>


        </div>
    </div>


    <div class="modal inmodal" id="modalDelete" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content animated bounceInRight">
                <div id="modal-title" class="modal-header red-bg">
                    <button type="button" class="close" data-dismiss="modal"><span
                                aria-hidden="true">&times;</span><span class="sr-only">Close</span>
                    </button>
                    <i class="fa fa-exclamation-triangle modal-icon text-white"></i>
                    <h4 class="modal-title">Atention!!!</h4>
                </div>
                <div id="modal-content" class="modal-body">
                    <strong>Are you sure you want to delete this data?</strong>
                </div>
                <div class="modal-footer">
                    <form action="{{ path('candidate_delete', { 'id': entity.id }) }}"
                          name="form-delete" method="post">
                        <button type="button" class="btn btn-white" data-dismiss="modal">Close</button>
                        <button id="modal-btn" type="submit" class="btn btn-danger" name="candidate-id"
                                value="{{ entity.id }}">
                            <span class="glyphicon glyphicon-ok"></span> Save changes
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>


{% endblock %}