{% extends 'BackendBundle::layout.html.twig' %}{% block active_candidate %}active{% endblock %}{% block page_heading_title %}
    <a class="btn btn-default navbar-btn" href="{{ path('candidate') }}"
       style="margin-bottom: 7px;">
        <span class="glyphicon glyphicon-chevron-up"></span>
    </a>
    {{ 'Candidate data' | trans({}, 'candidatebackend') | raw }}
{% endblock %}{% block page_content %}

    <div class="row">
        <div class="col-xs-5 text-center">
            <b>{{ 'Business' | trans({}, 'candidatebackend') | raw }}</b>
        </div>
        <div class="col-xs-5 col-xs-offset-2 text-center">
            <b>{{ 'Position' | trans({}, 'candidatebackend') | raw }}</b>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-5 text-center">
            <h2>
                {{ entity.opening.business.name }}
            </h2>
        </div>
        <div class="col-xs-2 text-center">
            <img style="max-width: 150px; height: auto;"
                 src="{{ asset('images/business//' ~ entity.opening.business.logo) }}"
                 alt="{{ entity.opening.business.logo }}"/>
        </div>
        <div class="col-xs-5 text-center">
            <h2>{{ entity.opening.position }}</h2>
        </div>
    </div>

    <div class="row">
        <div class="hr-line-dashed"></div>
        <div class="hr-line-dashed"></div>
    </div>

    <div class="row">
        <div class="col-xs-6">
            <dl class="dl-horizontal m-b-none">
                <dt>Id</dt>
                <dd>{{ entity.id }}</dd>
            </dl>
        </div>
        <div class="col-xs-6">
            <dl class="dl-horizontal m-b-none">
                <dt>{{ 'Zipcode' | trans({}, 'candidatebackend') | raw }}</dt>
                <dd>{{ entity.zipCode }}</dd>
            </dl>
        </div>
    </div>

    <div class="hr-line-dashed"></div>

    <div class="row">
        <div class="col-xs-6">
            <dl class="dl-horizontal m-b-none">
                <dt>{{ 'Fullname' | trans({}, 'candidatebackend') | raw }}</dt>
                <dd>{{ entity.fullName }}</dd>
            </dl>
        </div>
        <div class="col-xs-6">
            <dl class="dl-horizontal m-b-none">
                <dt>{{ 'Social Security or' | trans({}, 'candidatebackend') | raw }}
                    <br/>{{ 'Tax Id Number' | trans({}, 'candidatebackend') | raw }}</dt>
                <dd>{{ entity.socialNumber }}</dd>
            </dl>
        </div>
    </div>

    <div class="hr-line-dashed"></div>

    <div class="row">
        <div class="col-xs-6">
            <dl class="dl-horizontal m-b-none">
                <dt>{{ 'Address' | trans({}, 'candidatebackend') | raw }}</dt>
                <dd>{{ entity.address }}</dd>
            </dl>
        </div>
        <div class="col-xs-6">
            <dl class="dl-horizontal m-b-none">
                <dt>{{ 'Adult (over 18 years old)' | trans({}, 'candidatebackend') | raw }}</dt>
                <dd>
                    <div class="onoffswitch-ios switch-xs">
                        {% if (entity.adult) %}
                            <label class="onoffswitch-ios-label checked"></label>
                        {% else %}
                            <label class="onoffswitch-ios-label"></label>
                        {% endif %}
                    </div>
                </dd>
            </dl>
        </div>
    </div>

    <div class="hr-line-dashed"></div>

    <div class="row">
        <div class="col-xs-6">
            <dl class="dl-horizontal m-b-none">
                <dt>{{ 'City' | trans({}, 'candidatebackend') | raw }}</dt>
                <dd>{{ entity.city }}</dd>
            </dl>
        </div>
        <div class="col-xs-6">
            <dl class="dl-horizontal m-b-none">
                <dt>{{ 'Phone' | trans({}, 'candidatebackend') | raw }}</dt>
                <dd>{{ entity.phone }}</dd>
            </dl>
        </div>
    </div>

    <div class="hr-line-dashed"></div>

    <div class="row">
        <div class="col-xs-6">
            <dl class="dl-horizontal m-b-none">
                <dt>{{ 'State' | trans({}, 'candidatebackend') | raw }}</dt>
                <dd>{{ entity.state }}</dd>
            </dl>
        </div>
        <div class="col-xs-6">
            <dl class="dl-horizontal m-b-none">
                <dt>{{ 'Available Hours' | trans({}, 'candidatebackend') | raw }}</dt>
                <dd>{{ entity.availableHours == "all" ? "All" : "-" }}</dd>
            </dl>
        </div>
    </div>


    <div class="row">
        <div class="col-xs-12">
            <dl class="dl-horizontal">
                <div class="hr-line-dashed"></div>
                <div class="hr-line-dashed"></div>
                <dt>{{ 'Week Availability' | trans({}, 'candidatebackend') | raw }}</dt>
                <dd>
                    {% if(entity.availableHours == 'all') %}
                        {{ "-" }}
                    {% else %}
                        <div>
                            <div class="row">
                                <div class="col-sm-1"><b>{{ 'Monday' | trans({}, 'candidatebackend') | raw }}</b></div>
                                <div class="col-sm-1"><b>{{ 'Tuesday' | trans({}, 'candidatebackend') | raw }}</b></div>
                                <div class="col-sm-1"><b>{{ 'Wednesday' | trans({}, 'candidatebackend') | raw }}</b>
                                </div>
                                <div class="col-sm-1"><b>{{ 'Thursday' | trans({}, 'candidatebackend') | raw }}</b>
                                </div>
                                <div class="col-sm-1"><b>{{ 'Friday' | trans({}, 'candidatebackend') | raw }}</b></div>
                                <div class="col-sm-1"><b>{{ 'Saturday' | trans({}, 'candidatebackend') | raw }}</b>
                                </div>
                                <div class="col-sm-1"><b>{{ 'Sunday' | trans({}, 'candidatebackend') | raw }}</b></div>
                            </div>
                            <div class="row">
                                <div class="col-sm-1">{{ entity.weekAvailable|json_decode.monday.from ~ " - " ~ entity.weekAvailable|json_decode.monday.to }}</div>
                                <div class="col-sm-1">{{ entity.weekAvailable|json_decode.tuesday.from ~ " - " ~ entity.weekAvailable|json_decode.tuesday.to }}</div>
                                <div class="col-sm-1">{{ entity.weekAvailable|json_decode.wednesday.from ~ " - " ~ entity.weekAvailable|json_decode.wednesday.to }}</div>
                                <div class="col-sm-1">{{ entity.weekAvailable|json_decode.thursday.from ~ " - " ~ entity.weekAvailable|json_decode.thursday.to }}</div>
                                <div class="col-sm-1">{{ entity.weekAvailable|json_decode.friday.from ~ " - " ~ entity.weekAvailable|json_decode.friday.to }}</div>
                                <div class="col-sm-1">{{ entity.weekAvailable|json_decode.saturday.from ~ " - " ~ entity.weekAvailable|json_decode.saturday.to }}</div>
                                <div class="col-sm-1">{{ entity.weekAvailable|json_decode.sunday.from ~ " - " ~ entity.weekAvailable|json_decode.sunday.to }}</div>
                            </div>
                        </div>

                    {% endif %}
                </dd>
                <div class="hr-line-dashed"></div>
                <div class="hr-line-dashed"></div>
            </dl>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-6">
            <dl class="dl-horizontal m-b-none">
                <dt>{{ 'Start Date' | trans({}, 'candidatebackend') | raw }}</dt>
                <dd>{{ entity.startDate|date('d-M-Y') }}</dd>
            </dl>
        </div>
        <div class="col-xs-6">
            <dl class="dl-horizontal m-b-none">
                <dt>{{ 'Years High School' | trans({}, 'candidatebackend') | raw }}</dt>
                <dd>{{ entity.yearsHighschool }}</dd>
            </dl>
        </div>
    </div>

    <div class="hr-line-dashed"></div>

    <div class="row">
        <div class="col-xs-6">
            <dl class="dl-horizontal m-b-none">
                <dt>{{ 'Salary Desired' | trans({}, 'candidatebackend') | raw }}</dt>
                <dd>{{ entity.salary is empty ? "-" : entity.salary }}</dd>
            </dl>
        </div>
        <div class="col-xs-6">
            <dl class="dl-horizontal m-b-none">
                <dt>{{ 'Has Diploma' | trans({}, 'candidatebackend') | raw }}</dt>
                <dd>
                    <div class="onoffswitch-ios switch-xs">
                        {% if (entity.hasDiploma == "true") %}
                            <label class="onoffswitch-ios-label checked"></label>
                        {% elseif (entity.hasDiploma == "false") %}
                            <label class="onoffswitch-ios-label"></label>
                        {% endif %}
                    </div>
                </dd>
            </dl>
        </div>
    </div>

    <div class="hr-line-dashed"></div>

    <div class="row">
        <div class="col-xs-6">
            <dl class="dl-horizontal m-b-none">
                <dt>{{ 'Availability' | trans({}, 'candidatebackend') | raw }}</dt>
                <dd>{{ entity.availability == "full" ? "Full Time" : (entity.availability == "part" ? "Part Time" : "Either") }}</dd>
            </dl>
        </div>
        <div class="col-xs-6">
            <dl class="dl-horizontal m-b-none">
                <dt>{{ 'Has GED' | trans({}, 'candidatebackend') | raw }}</dt>
                <dd>
                    <div class="onoffswitch-ios switch-xs">
                        {% if (entity.hasGED == "true") %}
                            <label class="onoffswitch-ios-label checked"></label>
                        {% elseif (entity.hasGED == "false") %}
                            <label class="onoffswitch-ios-label"></label>
                        {% endif %}
                    </div>
                </dd>
            </dl>
        </div>
    </div>

    <div class="hr-line-dashed"></div>

    <div class="row">
        <div class="col-xs-6">
            <dl class="dl-horizontal m-b-none">
                <dt>{{ "Has Driver's License" | trans({}, 'candidatebackend') | raw }}</dt>
                <dd>
                    <div class="onoffswitch-ios switch-xs">
                        {% if (entity.hasLicense == "true") %}
                            <label class="onoffswitch-ios-label checked"></label>
                        {% elseif(entity.hasLicense == "false") %}
                            <label class="onoffswitch-ios-label"></label>
                        {% endif %}
                    </div>
                </dd>
            </dl>
        </div>
        <div class="col-xs-6">
            <dl class="dl-horizontal m-b-none">
                <dt>{{ 'Schools' | trans({}, 'candidatebackend') | raw }}</dt>
                <dd>
                    {% if(entity.schools|json_decode[0].name is not empty) %}
                        {% for school in entity.schools|json_decode %}
                            {% if(school.name is not empty) %}
                                <div>{{ school.name }} <span class="label label-default">{{ school.state }}</span></div>
                            {% endif %}
                        {% endfor %}
                    {% else %}
                        {{ "There are no school related" | trans({}, 'candidatebackend') | raw }}
                    {% endif %}
                </dd>
            </dl>
        </div>
    </div>

    <div class="hr-line-dashed"></div>

    <div class="row">
        <div class="col-xs-6">
            <dl class="dl-horizontal m-b-none">
                <dt>{{ "Driver's License Number" | trans({}, 'candidatebackend') | raw }}</dt>
                <dd>{{ entity.licenseNumber is empty ? "-" : entity.licenseNumber }}</dd>
            </dl>
        </div>
        <div class="col-xs-6">
            <dl class="dl-horizontal m-b-none">
                <dt>{{ 'Years College' | trans({}, 'candidatebackend') | raw }}</dt>
                <dd>{{ entity.yearsCollege is empty ? "-" : entity.yearsCollege }}</dd>
            </dl>
        </div>
    </div>

    <div class="hr-line-dashed"></div>

    <div class="row">
        <div class="col-xs-6">
            <dl class="dl-horizontal m-b-none">
                <dt>{{ "Driver's License State" | trans({}, 'candidatebackend') | raw }}</dt>
                <dd>{{ entity.licenseState is empty ? "-" : entity.licenseState }}</dd>
            </dl>
        </div>
        <div class="col-xs-6">
            <dl class="dl-horizontal m-b-none">
                <dt>{{ 'College School' | trans({}, 'candidatebackend') | raw }}</dt>
                <dd>{{ entity.collegeSchool is empty ? "-" : entity.collegeSchool }}</dd>
            </dl>
        </div>
    </div>

    <div class="hr-line-dashed"></div>

    <div class="row">
        <div class="col-xs-6">
            <dl class="dl-horizontal m-b-none">
                <dt>{{ 'License Expiration' | trans({}, 'candidatebackend') | raw }}</dt>
                <dd>{{ entity.licenseExpiration is empty ? "-" : entity.licenseExpiration }}</dd>
            </dl>
        </div>
        <div class="col-xs-6">
            <dl class="dl-horizontal m-b-none">
                <dt>{{ 'College State' | trans({}, 'candidatebackend') | raw }}</dt>
                <dd>{{ entity.collegeState is empty ? "-" : entity.collegeState }}</dd>
            </dl>
        </div>
    </div>

    <div class="hr-line-dashed"></div>

    <div class="row">
        <div class="col-xs-6">
            <dl class="dl-horizontal m-b-none">
                <dt>{{ 'Legal Worker in USA' | trans({}, 'candidatebackend') | raw }}</dt>
                <dd>
                    <div class="onoffswitch-ios switch-xs">
                        {% if (entity.legalWorker == "true") %}
                            <label class="onoffswitch-ios-label checked"></label>
                        {% elseif (entity.legalWorker == "false") %}
                            <label class="onoffswitch-ios-label"></label>
                        {% endif %}
                    </div>
                </dd>
            </dl>
        </div>
        <div class="col-xs-6">
            <dl class="dl-horizontal m-b-none">
                <dt>{{ 'Major' | trans({}, 'candidatebackend') | raw }}</dt>
                <dd>{{ entity.major is empty ? "-" : entity.major }}</dd>
            </dl>
        </div>
    </div>

    <div class="hr-line-dashed"></div>

    <div class="row">
        <div class="col-xs-6">
            <dl class="dl-horizontal m-b-none">
                <dt>{{ 'Convicted of a Crime' | trans({}, 'candidatebackend') | raw }}</dt>
                <dd>
                    <div class="onoffswitch-ios switch-xs">
                        {% if (entity.crime == "true") %}
                            <label class="onoffswitch-ios-label checked"></label>
                        {% elseif (entity.crime == "false") %}
                            <label class="onoffswitch-ios-label"></label>
                        {% endif %}
                    </div>
                </dd>
            </dl>
        </div>
        <div class="col-xs-6">
            <dl class="dl-horizontal m-b-none">
                <dt>{{ 'Degree' | trans({}, 'candidatebackend') | raw }}</dt>
                <dd>{{ entity.degree is empty ? "-" : entity.degree }}</dd>
            </dl>
        </div>
    </div>

    <div class="hr-line-dashed"></div>

    <div class="row">
        <div class="col-xs-6">
            <dl class="dl-horizontal m-b-none">
                <dt>{{ 'Crime Explain' | trans({}, 'candidatebackend') | raw }}</dt>
                <dd>{{ entity.crimeExplain is empty ? "-" : entity.crimeExplain }}</dd>
            </dl>
        </div>
        <div class="col-xs-6">
            <dl class="dl-horizontal m-b-none">
                <dt>GPA</dt>
                <dd>{{ entity.gpa is empty ? "-" : entity.gpa }}</dd>
            </dl>
        </div>
    </div>

    <div class="hr-line-dashed"></div>

    <div class="row">
        <div class="col-xs-6">
            <dl class="dl-horizontal m-b-none">
                <dt>{{ 'Background check?' | trans({}, 'candidatebackend') | raw }}</dt>
                <dd>
                    <div class="onoffswitch-ios switch-xs">
                        {% if (entity.background == "true") %}
                            <label class="onoffswitch-ios-label checked"></label>
                        {% elseif (entity.background == "false") %}
                            <label class="onoffswitch-ios-label"></label>
                        {% endif %}
                    </div>
                </dd>
            </dl>
        </div>
        <div class="col-xs-6">
            <dl class="dl-horizontal m-b-none">
                <dt>{{ 'Contact Employers' | trans({}, 'candidatebackend') | raw }}</dt>
                <dd>
                    <div class="onoffswitch-ios switch-xs">
                        {% if (entity.contactEmployers == "true") %}
                            <label class="onoffswitch-ios-label checked"></label>
                        {% elseif (entity.contactEmployers == "false") %}
                            <label class="onoffswitch-ios-label"></label>
                        {% endif %}
                    </div>
                </dd>
            </dl>
        </div>
    </div>

    <div class="hr-line-dashed"></div>

    <div class="row">
        <div class="col-xs-6">
            <dl class="dl-horizontal m-b-none">
                <dt>{{ 'Background Explain' | trans({}, 'candidatebackend') | raw }}</dt>
                <dd>{{ entity.backExplain is empty ? "-" : entity.backExplain }}</dd>
            </dl>
        </div>
        <div class="col-xs-6">
            <dl class="dl-horizontal m-b-none">
                <dt>{{ 'Employment Name' | trans({}, 'candidatebackend') | raw }}</dt>
                <dd>{{ entity.employmentName is empty ? "-" : entity.employmentName }}</dd>
            </dl>
        </div>
    </div>


    <div class="row">
        <div class="col-xs-12">
            <dl class="dl-horizontal">
                <div class="hr-line-dashed"></div>
                <div class="hr-line-dashed"></div>
                <dt>{{ 'Employers' | trans({}, 'candidatebackend') | raw }}</dt>
                <dd>
                    {% if(entity.employers|json_decode[0].name is not empty) %}
                        <div>
                            {% for employer in entity.employers|json_decode %}
                                <div class="row">
                                    <div class="col-sm-1"><b>{{ 'Name' | trans({}, 'candidatebackend') | raw }}</b>
                                    </div>
                                    <div class="col-sm-1"><b>{{ 'Address' | trans({}, 'candidatebackend') | raw }}</b>
                                    </div>
                                    <div class="col-sm-1"><b>{{ 'Phone' | trans({}, 'candidatebackend') | raw }}</b>
                                    </div>
                                    <div class="col-sm-1"><b>{{ 'Position' | trans({}, 'candidatebackend') | raw }}</b>
                                    </div>
                                    <div class="col-sm-1"><b>{{ 'From' | trans({}, 'candidatebackend') | raw }}</b>
                                    </div>
                                    <div class="col-sm-1"><b>{{ 'To' | trans({}, 'candidatebackend') | raw }}</b></div>
                                    <div class="col-sm-1"><b>{{ 'Mode' | trans({}, 'candidatebackend') | raw }}</b>
                                    </div>
                                    <div class="col-sm-1"><b>{{ 'Hours' | trans({}, 'candidatebackend') | raw }}</b>
                                    </div>
                                    <div class="col-sm-1"><b>{{ 'Salary' | trans({}, 'candidatebackend') | raw }}</b>
                                    </div>
                                    <div class="col-sm-1">
                                        <b>{{ 'Supervisor' | trans({}, 'candidatebackend') | raw }}</b></div>
                                    <div class="col-sm-1">
                                        <b>{{ 'Department' | trans({}, 'candidatebackend') | raw }}</b></div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-1">{{ employer.name is empty ? "-" : employer.name }}</div>
                                    <div class="col-sm-1">{{ employer.address is empty ? "-" : employer.address }}</div>
                                    <div class="col-sm-1">{{ employer.phone is empty ? "-" : employer.phone }}</div>
                                    <div class="col-sm-1">{{ employer.position is empty ? "-" : employer.position }}</div>
                                    <div class="col-sm-1">{{ employer.from }}</div>
                                    <div class="col-sm-1">{{ employer.to }}</div>
                                    <div class="col-sm-1">{{ employer.mode is empty ? "-" : employer.mode == "full" ? "Full Time" : (employer.mode == "part" ? "Part Time" : "-") }}</div>
                                    <div class="col-sm-1">{{ employer.hours is empty ? "-" : employer.hours }}</div>
                                    <div class="col-sm-1">{{ employer.salary is empty ? "-" : "$ " ~ employer.salary }}</div>
                                    <div class="col-sm-1">{{ employer.supervisor is empty ? "-" : employer.supervisor }}</div>
                                    <div class="col-sm-1">{{ employer.department is empty ? "-" : employer.department }}</div>
                                </div>
                                <hr class="hr-line-solid">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <b>{{ 'Leaving Reason' | trans({}, 'candidatebackend') | raw }}</b></div>
                                    <div class="col-sm-6"><b>{{ 'Duties' | trans({}, 'candidatebackend') | raw }}</b>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6">{{ employer.leavingReason is empty ? "-" : employer.leavingReason }}</div>
                                    <div class="col-sm-6">{{ employer.duties is empty ? "-" : employer.duties }}</div>
                                </div>
                                {% if(not loop.last) %}
                                    <hr class="hr-line-dashed">
                                {% endif %}
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ 'There are no employers history related' | trans({}, 'candidatebackend') | raw }}
                    {% endif %}
                </dd>
                <div class="hr-line-dashed"></div>
                <dt>{{ 'References' | trans({}, 'candidatebackend') | raw }}</dt>
                <dd>
                    {% if(entity.references|json_decode[0].name is not empty) %}
                        <div>
                            <div class="row">
                                <div class="col-sm-1"><b>{{ 'Name' | trans({}, 'candidatebackend') | raw }}</b></div>
                                <div class="col-sm-1"><b>{{ 'Phone' | trans({}, 'candidatebackend') | raw }}</b></div>
                                <div class="col-sm-1"><b>{{ 'Professional' | trans({}, 'candidatebackend') | raw }}</b>
                                </div>
                            </div>
                            {% for reference in entity.references|json_decode %}
                                <div class="row">
                                    <div class="col-sm-1">{{ reference.name is empty ? "-" : reference.name }}</div>
                                    <div class="col-sm-1">{{ reference.phone is empty ? "-" : reference.phone }}</div>
                                    <div class="col-sm-1">
                                        <div class="onoffswitch-ios switch-xs">
                                            {% if (reference.profesional) %}
                                                <label class="onoffswitch-ios-label checked"></label>
                                            {% else %}
                                                <label class="onoffswitch-ios-label"></label>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                                {% if(not loop.last) %}
                                    <hr class="hr-line-dashed">
                                {% endif %}
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ 'There are no references related' | trans({}, 'candidatebackend') | raw }}
                    {% endif %}
                </dd>
                <div class="hr-line-dashed"></div>
                <dt>{{ 'Skills' | trans({}, 'candidatebackend') | raw }}</dt>
                <dd>{{ entity.skills is empty ? "-" : entity.skills }}</dd>
                <div class="hr-line-dashed"></div>
                <dt>{{ 'Best Fit' | trans({}, 'candidatebackend') | raw }}</dt>
                <dd>{{ entity.bestFit is empty ? "-" : entity.bestFit }}</dd>
                <div class="hr-line-dashed"></div>
                <dt>{{ 'CV' | trans({}, 'candidatebackend') | raw }}</dt>
                <dd>
                    {% if(entity.cv is not empty and entity.cv != "tmp-cv") %}
                        <a target="_blank" href="{{ asset('uploads/') ~ entity.cv }}">
                            <span class="fa fa-2x fa-file-pdf-o text-danger"></span>
                            <span class="label label-default">{{ entity.cv }}</span>
                        </a>
                    {% else %}
                        <span class="label label-default">{{ 'No CV related' | trans({}, 'candidatebackend') | raw }}</span>
                    {% endif %}
                </dd>
                <div class="hr-line-dashed"></div>
                <dt>{{ 'Cover Letter' | trans({}, 'candidatebackend') | raw }}</dt>
                <dd>
                    {% if(entity.coverLetter is not empty and entity.coverLetter != "tmp-cover") %}
                        <a target="_blank" href="{{ asset('uploads/') ~ entity.coverLetter }}">
                            <span class="fa fa-2x fa-file-pdf-o text-danger"></span>
                            <span class="label label-default text">{{ entity.coverLetter }}</span>
                        </a>
                    {% else %}
                        <span class="label label-default">{{ 'No Cover Letter related' | trans({}, 'candidatebackend') | raw }}</span>
                    {% endif %}
                </dd>
                <div class="hr-line-dashed"></div>
                </tbody>
            </dl>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-2 text-right">
            <a class="btn btn-success" href="{{ path('candidate') }}">
                <span class="glyphicon glyphicon-chevron-left"></span>
                {{ 'Back to the list' | trans({}, 'generalbackend') }}
            </a>
        </div>
        <div class="col-md-10">


            {#<a class="btn btn-primary"#}
            {#href="{{ path('candidate_edit', { 'id': entity.id }) }}">#}
            {#<span class="fa fa-pencil"></span>#}
            {#Edit#}
            {#</a>#}

            <a class="btn btn-primary"
               target="_blank"
               href="{{ path('candidate_export_pdf', { 'id': entity.id }) }}">
                <span class="fa fa-file-pdf-o"></span>
                {{ 'Export to PDF' | trans({}, 'generalbackend') }}
            </a>

            {% if is_granted('ROLE_ADMIN') %}
                <a class="btn btn-danger" data-toggle="modal" data-target="#modalDelete">
                    <span class="fa fa-remove"></span>
                    {{ 'Delete' | trans({}, 'generalbackend') }}
                </a>
            {% endif %}

        </div>
    </div>


    <div class="modal inmodal" id="modalDelete" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content animated bounceInRight">
                <div id="modal-title" class="modal-header red-bg">
                    <button type="button" class="close" data-dismiss="modal"><span
                                aria-hidden="true">&times;</span><span class="sr-only">Close</span>
                    </button>
                    <i class="fa fa-exclamation-triangle modal-icon text-white"></i>
                    <h4 class="modal-title">{{ 'Attention' | trans({}, 'generalbackend') }}!!!</h4>
                </div>
                <div id="modal-content" class="modal-body">
                    <strong>{{ 'Are you sure you want to delete this data?' | trans({}, 'generalbackend') }}</strong>
                </div>
                <div class="modal-footer">
                    <form action="{{ path('candidate_delete', { 'id': entity.id }) }}"
                          name="form-delete" method="post">
                        <button type="button" class="btn btn-white"
                                data-dismiss="modal">{{ 'Close' | trans({}, 'generalbackend') }}</button>
                        <button id="modal-btn" type="submit" class="btn btn-danger" name="candidate-id"
                                value="{{ entity.id }}">
                            <span class="glyphicon glyphicon-ok"></span> {{ 'Save changes' | trans({}, 'generalbackend') }}
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>


{% endblock %}