{% extends 'BackendBundle::layout.html.twig' %}

{% block active_customer %}active{% endblock %}
{% block page_heading_title %}
    <a class="btn btn-default navbar-btn" href="{{ path('customer') }}" style="margin-bottom: 7px;">
        <span class="glyphicon glyphicon-chevron-up"></span>
    </a>
    {{ 'Customer data' | trans({}, 'customerbackend') }}
{% endblock %}
{% block page_content %}

    <dl class="dl-horizontal">
        <dt>Id</dt>
        <dd>{{ entity.id }}</dd>
        <div class="hr-line-dashed"></div>
        <dt>{{ 'Full name' | trans({}, 'customerbackend') }}</dt>
        <dd>{{ entity.fullName }}</dd>
        <div class="hr-line-dashed"></div>
        <dt>{{ 'Username' | trans({}, 'customerbackend') }}</dt>
        <dd>{{ entity.username }}</dd>
        <div class="hr-line-dashed"></div>
        <dt>{{ 'Phone' | trans({}, 'customerbackend') }}</dt>
        <dd>{{ entity.phone }}</dd>
        <div class="hr-line-dashed"></div>
        <dt>{{ 'Email' | trans({}, 'customerbackend') }}</dt>
        <dd>{{ entity.email }}</dd>
        <div class="hr-line-dashed"></div>
        <dt>{{ 'Enabled' | trans({}, 'customerbackend') }}</dt>
        <dd>
            <div class="onoffswitch-ios switch-xs">
                {% if (entity.enabled) %}
                    <label class="onoffswitch-ios-label checked"></label>
                {% else %}
                    <label class="onoffswitch-ios-label"></label>
                {% endif %}
            </div>
        </dd>
        <div class="hr-line-dashed"></div>
        {% if(entity.image is not null) %}
            <dt>{{ 'Photo' | trans({}, 'customerbackend') }}</dt>
            <dd>
                <img style="max-width: 70%; height: auto;" src="{{ asset('images/users/' ~ entity.image) }}"
                     alt="{{ entity.image }}"/>
            </dd>
            <div class="hr-line-dashed"></div>
        {% endif %}
        <dt>{{ 'Businesses' | trans({}, 'customerbackend') }}</dt>
        <dd>
            {% for business in entity.business %}
                <span class="label label-success">{{ business }}</span>
            {% else %}
                <span class="label label-warning">{{ 'No businesses related' | trans({}, 'customerbackend') }}</span>
            {% endfor %}
        </dd>
        <div class="hr-line-dashed"></div>
        <dt>{{ 'Rewards' | trans({}, 'customerbackend') }}</dt>
        <dd>
            {% for reward in entity.rewards %}
                <span class="label label-success">{{ reward }}</span>
            {% else %}
                <span class="label label-warning">{{ 'No rewards related' | trans({}, 'customerbackend') }}</span>
            {% endfor %}
        </dd>
        <div class="hr-line-dashed"></div>
    </dl>

    <div class="form-group">
        <div class="col-md-2 text-right">
            <a class="btn btn-success" href="{{ path('customer') }}">
                <span class="glyphicon glyphicon-chevron-left"></span>
                {{ 'Back to the list' | trans({}, 'generalbackend') }}
            </a>
        </div>
        <div class="col-md-10">
            {% if is_granted('ROLE_ADMIN') %}
                <a class="btn btn-primary" href="{{ path('customer_edit', { 'id': entity.id }) }}">
                    <span class="fa fa-pencil"></span>
                    {{ 'Edit' | trans({}, 'generalbackend') }}
                </a>
                <a class="btn btn-danger" data-toggle="modal" data-target="#modalDelete">
                    <span class="fa fa-remove"></span>
                    {{ 'Delete' | trans({}, 'generalbackend') }}
                </a>
            {% endif %}
        </div>
    </div>

    <div class="modal inmodal" id="modalDelete" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content animated bounceInRight">
                <div id="modal-title" class="modal-header red-bg">
                    <button type="button" class="close" data-dismiss="modal"><span
                                aria-hidden="true">&times;</span><span
                                class="sr-only">{{ 'Close' | trans({}, 'generalbackend') }}</span>
                    </button>
                    <i class="fa fa-exclamation-triangle modal-icon text-white"></i>
                    <h4 class="modal-title">{{ 'Attention' | trans({}, 'generalbackend') }}!!!</h4>
                </div>
                <div id="modal-content" class="modal-body">
                    <strong>{{ 'Are you sure you want to delete this data?' | trans({}, 'generalbackend') }}</strong>
                </div>
                <div class="modal-footer">
                    <form action="{{ path('customer_delete', { 'id': entity.id }) }}" name="form-delete" method="post">
                        <button type="button" class="btn btn-white"
                                data-dismiss="modal">{{ 'Close' | trans({}, 'generalbackend') }}</button>
                        <button id="modal-btn" type="submit" class="btn btn-danger" name="user-id"
                                value="{{ entity.id }}">
                            <span class="glyphicon glyphicon-ok"></span> {{ 'Save changes' | trans({}, 'generalbackend') }}
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock %}


{% block comment_post %}
{% endblock %}
