{% extends 'BackendBundle::layout.html.twig' %}{% block active_subscription %}active{% endblock %}{% block page_heading_title %}
    <a class="btn btn-default navbar-btn" href="{{ path('subscription') }}" >
        <span class="glyphicon glyphicon-chevron-up"></span>
    </a>
    {{ 'Subscriber data' | trans({}, 'subscriptionbackend') }}
{% endblock %}{% block page_content %}
    <dl class="dl-horizontal">
        <tbody>
        <dt>Id</dt>
        <dd>{{ entity.id }}</dd>
        <div class="hr-line-dashed"></div>
        <dt>{{ 'Email' | trans({}, 'subscriptionbackend') }}</dt>
        <dd>{{ entity.email }}</dd>
        <div class="hr-line-dashed"></div>
        <dt>{{ 'Subscription Date' | trans({}, 'subscriptionbackend') }}</dt>
        <dd>{{ entity.date|date('d-M-Y h:i A') }}</dd>
        <div class="hr-line-dashed"></div>
        <dt>{{ 'Categories' | trans({}, 'subscriptionbackend') }}</dt>
        <dd>
            {% for category in entity.categories %}
                <span class="label label-primary">{{ category }}</span>
            {% else %}
                <span class="label label-default">{{ 'No categories' | trans({}, 'subscriptionbackend') }}</span>
            {% endfor %}
        </dd>
        <div class="hr-line-dashed"></div>
        <dt>{{ 'Subscribed' | trans({}, 'subscriptionbackend') }}</dt>
        <dd>
            <div class="onoffswitch-ios switch-xs">
                {% if (entity.subscribed) %}
                    <label class="onoffswitch-ios-label checked"></label>
                {% else %}
                    <label class="onoffswitch-ios-label"></label>
                {% endif %}
            </div>
        </dd>
        <div class="hr-line-dashed"></div>
        </tbody>
    </dl>
    <div class="form-group">
        <div class="col-md-2 text-right">
            <a class="btn btn-success" href="{{ path('subscription') }}">
                <span class="glyphicon glyphicon-chevron-left"></span>
                {{ 'Back to the list' | trans({}, 'generalbackend') }}
            </a>
        </div>
        <div class="col-md-10">
            {% if is_granted('ROLE_ADMIN') %}
                <a class="btn btn-primary"
                   href="{{ path('subscription_edit', { 'id': entity.id }) }}">
                    <span class="fa fa-pencil"></span>
                    {{ 'Edit' | trans({}, 'generalbackend') }}
                </a>

                <a class="btn btn-danger" data-toggle="modal" data-target="#modalDelete">
                    <span class="fa fa-remove"></span>
                    {{ 'Delete' | trans({}, 'generalbackend') }}
                </a>
            {% endif %}
        </div>
    </div>


    <div class="modal inmodal" id="modalDelete" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content animated bounceInRight">
                <div id="modal-title" class="modal-header red-bg">
                    <button type="button" class="close" data-dismiss="modal"><span
                                aria-hidden="true">&times;</span><span
                                class="sr-only">{{ 'Close' | trans({}, 'generalbackend') }}</span>
                    </button>
                    <i class="fa fa-exclamation-triangle modal-icon text-white"></i>
                    <h4 class="modal-title">{{ 'Attention' | trans({}, 'generalbackend') }}!!!</h4>
                </div>
                <div id="modal-content" class="modal-body">
                    <strong>{{ 'Are you sure you want to delete this data?' | trans({}, 'generalbackend') }}</strong>
                </div>
                <div class="modal-footer">
                    <form action="{{ path('subscription_delete', { 'id': entity.id }) }}"
                          name="form-delete" method="post">
                        <button type="button" class="btn btn-white"
                                data-dismiss="modal">{{ 'Close' | trans({}, 'generalbackend') }}</button>
                        <button id="modal-btn" type="submit" class="btn btn-danger" name="subscription-id"
                                value="{{ entity.id }}">
                            <span class="glyphicon glyphicon-ok"></span> {{ 'Save changes' | trans({}, 'generalbackend') }}
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>


{% endblock %}